<div class="object-box">
	<div class="panel-group" id="accordionPanels" aria-multiselectable="true">
		<div class="panel panel-default">
		<div class="panel-heading" id="headingOne">
		  <h4 class="panel-title">
		    <a data-toggle="collapse" data-parent="#accordionPanels" href="#collapseOne">
		      	页面元素
		    </a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
		  	<div class="panel-body object-lists">
			    <div class="btn-object" data-type="announce">
			    	<div class="object-item">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
				        <p>公告</p>
				    </div>
			    </div>
		        <div class="btn-object" data-type="slideshow">
		        	<div class="object-item">
						<i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
				        <p>轮播图</p>
				    </div>
			    </div>
			    <div class="btn-object" data-type="category_nav">
			    	<div class="object-item">
				    	<i class="fa fa-th" aria-hidden="true"></i>
			        	<p>图文导航</p>
			        </div>
		        </div>
		        <div class="btn-object" data-type="single_img">
		        	<div class="object-item">
			        	<i class="fa fa-image" aria-hidden="true"></i>
			        	<p>单图广告</p>
			        </div>
		        </div>
		        <div class="btn-object" data-type="custom_text">
		        	<div class="object-item">
			        	<i class="fa fa-edit" aria-hidden="true"></i>
			        	<p>自定义文本</p>
			        </div>
				</div>
				<div class="btn-object" data-type="custom_html">
		        	<div class="object-item">
			        	<i class="fa fa-code" aria-hidden="true"></i>
			        	<p>自定义HTML</p>
			        </div>
				</div>

		  	</div>
		</div>
		</div>
		<div class="panel panel-default">
		<div class="panel-heading" id="headingTwo">
		  <h4 class="panel-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#accordionPanels" href="#collapseTwo">
			 	内容列表
			</a>
		  </h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
		  	<div class="panel-body object-lists">
		  		<div class="btn-object" data-type="knowledge_list"
				data-list-api="{:url('classroom/admin.knowledge/lists')}" 
				data-category-api="{:url('classroom/admin.category/tree')}"
				>
		  			<div class="object-item">
			        	<i class="fa fa-list-alt" aria-hidden="true"></i>
			        	<p>课程列表</p>
			        </div>
		        </div>
		        <div class="btn-object" data-type="column_list"
				data-list-api="{:url('classroom/admin.column/lists')}" 
				data-category-api="{:url('classroom/admin.category/tree')}"
				>
		        	<div class="object-item border-right-none">
			        	<i class="fa fa-th-list" aria-hidden="true"></i>
			        	<p>专栏列表</p>
			        </div>
				</div>
				<!--直播插件待PC端完成后支持 增加data-open="false"属性暂禁止使用-->
		        <div class="btn-object" data-type="live_list" 
				data-plugin-name="livecourse" 
		        data-plugin-url="{:url('api/module/enable',['name'=>'livecourse'])}" 
		        data-list-api="{:url('livecourse/admin.room/lists')}"
				data-category-api="{:url('classroom/admin.category/tree')}"
				>
		        	<div class="object-item">
			        	<i class="fa fa-video-camera" aria-hidden="true"></i>
			        	<p>直播课列表</p>
			        </div>
		        </div>
		        <div class="btn-object" data-type="teacher_list"
				data-list-api="{:url('classroom/admin.teacher/lists')}"
				>
		        	<div class="object-item border-right-none">
			        	<i class="fa fa-group" aria-hidden="true"></i>
			        	<p>讲师列表</p>
			        </div>
		        </div>
				<div class="btn-object" data-type="article_list" 
				data-plugin-name="articles" 
		        data-plugin-url="{:url('api/module/enable',['name'=>'articles'])}"
		        data-list-api="{:url('articles/admin.articles/lists')}" 
				data-category-api="{:url('articles/admin.category/tree')}"
				>
		        	<div class="object-item">
			        	<i class="fa fa-th-list" aria-hidden="true"></i>
			        	<p>文章列表</p>
			        </div>
		        </div>
				<div class="btn-object" data-type="offline_list" 
				data-list-api="{:url('articles/admin.offline/lists')}" 
				data-category-api="{:url('offline/admin.category/tree')}"
				>
		        	<div class="object-item">
			        	<i class="fa fa-map-signs" aria-hidden="true"></i>
			        	<p>线下课列表</p>
			        </div>
				</div>
				<div class="btn-object" data-type="material_list"
		        data-list-api="{:url('classroom/admin.material/lists')}" 
				data-category-api="{:url('classroom/admin.category/tree')}"
				>
		        	<div class="object-item">
			        	<i class="fa fa-download" aria-hidden="true"></i>
			        	<p>资料列表</p>
			        </div>
		        </div>
				<!--积分插件扩展-->
				<!--积分插件待PC端完成后支持 增加data-open="false"属性暂禁止使用-->
		        <div class="btn-object" data-type="scoreshop_goods_list" 
				data-plugin-name="muu_scoreshop" 
		        data-plugin-url="{:url('api/module/enable',['name'=>'scoreshop'])}" 
		        data-list-api="{:url('scoreshop/admin.goods/lists')}" data-open="false">
		        	<div class="object-item">
			        	<i class="fa fa-database" aria-hidden="true"></i>
			        	<p>积分商品</p>
			        </div>
		        </div>
		        <div class="btn-object" data-type="minishop_list" 
				data-plugin-url="{:url('api/module/enable',['name'=>'minishop'])}" 
				data-list-api="{:url('minishop/admin.goods/lists')}"
				data-open="false">
		        	<div class="object-item">
			        	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			        	<p>小店商品</p>
			        </div>
		        </div>
				<div class="btn-object" data-type="event_list" data-open="false">
		        	<div class="object-item border-right-none">
			        	<i class="fa fa-map-marker" aria-hidden="true"></i>
			        	<p>线下活动</p>
			        </div>
		        </div>
		  	</div>
		</div>
		</div>
	</div>

    <div class="btn-box submit">
		<button type="button" data-rule="diy_page_submit" class="btn btn-lg btn-success btn-block" data-type="pc" data-id="{$page_data.id|default=0}"> 保 存 </button>
	</div>
</div>