{include file="admin/page/pc/component/script/announce" /}
{include file="admin/page/pc/component/script/article_list" /}
{include file="admin/page/pc/component/script/search" /}
{include file="admin/page/pc/component/script/single_img" /}
{include file="admin/page/pc/component/script/slideshow" /}
{include file="admin/page/pc/component/script/category_nav" /}
{include file="admin/page/pc/component/script/custom_text" /}
{include file="admin/page/pc/component/script/column_list" /}
{include file="admin/page/pc/component/script/knowledge_list" /}
{include file="admin/page/pc/component/script/teacher_list" /}
{include file="admin/page/pc/component/script/scoreshop_goods_list" /}
{include file="admin/page/pc/component/script/live_list" /}
{include file="admin/page/pc/component/script/offline_list" /}
{include file="admin/page/pc/component/script/material_list" /}