{include file="admin/page/pc/component/view/announce" /}
{include file="admin/page/pc/component/view/article_list" /}
{include file="admin/page/pc/component/view/search" /}
{include file="admin/page/pc/component/view/single_img" /}
{include file="admin/page/pc/component/view/slideshow" /}
{include file="admin/page/pc/component/view/category_nav" /}
{include file="admin/page/pc/component/view/custom_text" /}
{include file="admin/page/pc/component/view/column_list" /}
{include file="admin/page/pc/component/view/knowledge_list" /}
{include file="admin/page/pc/component/view/teacher_list" /}
{include file="admin/page/pc/component/view/live_list" /}
{include file="admin/page/pc/component/view/offline_list" /}
{include file="admin/page/pc/component/view/material_list" /}
