<div class="tabbar">
  <div class="wemreceive" id="wemreceive">
    <div class="wemreceive-item">
      <h3>现在扫码咨询，领取专属一对一解决方案</h3>
        <div class="receiveProgram">
            <input id="mobile" placeholder="请输入您的手机号码" type="text">
            <button class="btns" onClick="mobile()">领取专属方案</button>
        </div>
    </div>
  </div>
  <div class="tabbar-item">
    <div class="">
      <div class="support">
        <h3>MuuCmf</h3>
        <div>
          <p>技术支持邮箱</p>
          <div class="E-mailAddress">
            <textarea readonly="readonly" onClick="email()" id="e-mail" title="点击复制">suppart@hoomuu.cn</textarea>
            <i class="iconfont">&#xe671;</i>
          </div>
        </div>
        <p class="qqCluster">官方技术售前交流QQ群：<textarea readonly=readonly onClick="groupnumber()" id="groupnumber"
            title="点击复制">2134567890</textarea></p>
        <p class="company"><span>Power&nbsp;by&nbsp;MuuCmf</span>Copuright©2018-2022北京火木科技有限公司</p>
        <p class="recordnVarchar"><span>京ICP备15012581号-2</span>京ICP备2021025387号-1</p>
      </div>
      <div class="contactUs">
        <h3 class="contactUs-item">联系我们</h3>
        <p>联系电话</p>
        <h3>18618380435</h3>
        <div>
          <div>
            <img src="__IMG__/Demostation.png" alt="">
            <p>扫一扫，查看演示站</p>
          </div>
          <div>
            <img src="__IMG__/CS-Manager.png" alt="">
            <p>扫码添加客服经理微信</p>
          </div>
        </div>
      </div>
      <div class="product">
        <h3>产品</h3>
        <ul>
          <li><a href="{:url('muu/classroom/index')}">云课堂</a></li>
          <li><a href="{:url('muu/forum/index')}">付费社群</a></li>
          <li><a href="{:url('muu/cloudstore/index')}">云小店</a></li>
          <li><a href="{:url('muu/offlineactivity/index')}">线下活动</a></li>
          <li><a href="{:url('muu/itembankexam/index')}">题库考试</a></li>
          <li><a href="{:url('muu/live/index')}">直播</a></li>
          <li><a href="{:url('muu/shop/index')}">积分商城</a></li>
          <li><a href="{:url('muu/download/index')}">资料下载</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="suspension">
    <div class="customerservice">
      <div><i class="iconfont">&#xe672;</i></div>
      <p>在线咨询</p>
    </div>
  </div>
</div>
<!-- <script src="__STATIC__/common/lib/three.min.js"></script>
<script src="__STATIC__/common/js/main.min.js"></script> -->