<div class="tabbar">
    <div class="tabbar-item">
    <div class="support">
      <h3>MuuCmf</h3>
      <div>
        <p>技术支持邮箱</p>
        <div class="E-mailAddress">
          <textarea onClick="copyUrl2()" id="biao1" title="点击复制">121212121212@12.com</textarea>
          <i class="iconfont">&#xe671;</i>
        </div>
      </div>
      <p class="qqCluster">官方技术售前交流QQ群：123123</p>
      <p class="company"><span>Power&nbsp;by&nbsp;MuuCmf</span>Copuright©2018-2022北京火木科技有限公司</p>
      <p class="recordnVarchar"><span>京ICP备15012581号-2</span>京ICP备2021025387号-1</p>
    </div>
    <div class="contactUs">
      <h3 class="contactUs-item">联系我们</h3>
      <div>
        <img src="__IMG__/Demostation.png" alt="">
        <p>扫一扫，查看演示站</p>
      </div>
      <h3>TEL:18518380435</h3>
    </div>
    <div class="product">
      <h3>产品</h3>
      <ul>
        <li><a href="">云课堂</a></li>
        <li><a href="">付费社群</a></li>
        <li><a href="">云小店</a></li>
        <li><a href="">线下活动</a></li>
        <li><a href="">题库考试</a></li>
        <li><a href="">直播</a></li>
        <li><a href="">积分商城</a></li>
        <li><a href="">资料下载</a></li>
      </ul>
    </div>
  </div>
</div>