<!-- <div id="header" class="header-container"> -->
<div class="header-container">
    <div class="header-container-item">
        <div class="navbar-header">
            <div class="logo">
                <h1>
                    <img src="__STATIC__/common/images/logo.png" alt="">
                </h1>
            </div>
            <div class="navigation">
                <ul class="index-menu">
                    <li class="active"><a href="{:url('muu/index/index')}" class="active-item">首页</a></li>
                    <li class="active">
                        <a href="{:url('muu/product/index')}" class="active-item product">产品</a>
                        <span class="product-underline"></span>
                    </li>
                    <li class="active"><a href="{:url('muu/frame/index')}" class="active-item">下载开源框架</a></li>
                    <li class="active"><a href="{:url('muu/nslookup/index')}" class="active-item">授权查询</a></li>
                    <li class="active"><a href="{:url('muu/about/index')}" class="active-item">关于我们</a></li>
                    {if condition="is_login()"}
                    <li class="dropdown">
                        <!-- 手机号 -->
                        <p class="mobile">你好，<span id="item">13333289403</span></p>
                        <!-- 头像 -->
                        <!-- <div class="avatar">
                                <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                                    <img src = "{$common_header_user.avatar64}" class="avatar img-circle"/>
                                        {$common_header_user.nickname}
                                        &nbsp;<i class="icon-chevron-down"></i>
                                </a>
                            </div> -->

                        <a class="logout" event-node="logout" data-url="{:url('ucenter/Common/logout')}">
                            【退出】
                        </a>
                    </li>
                    {else/}
                    <li class="member login verticalbar">
                        <!-- 弹框 -->
                        {if condition="$open_quick_login"}
                        <a data-login="quick_do_login" data-remote="{:url('ucenter/Common/quickLogin')}"
                            data-show-header="false" data-toggle="modal">登陆</a>
                        {else/}
                        <!-- 单页 -->
                        <a data-login="do_login" href="{$login_url}">登陆</a>
                        {/if}
                    </li>
                    <li class="member registration">
                        <a data-role="do_register"
                            href="{:url('ucenter/Common/register',['forward'=> $_SERVER['REQUEST_URI']])}">注册</a>
                    </li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
   
</script>