
<!--分类&筛选组件-->
<div class="object-item" data-type="category" data-object-index="category-{$vars['key']}">
	<div class="object-drag category">
		<div class="category-preview">
            <!--一级分类&筛选按钮-->
            <div class="category-box">
                <div class="main-box clearfix">
                    <div class="recommend-btn title active swiper-slide">
                        推荐
                        <hr />
                    </div>
    
                    <div class="category-list swiper-category-container">
                        <div class="swiper-wrapper">
                            {notempty name="vars.data.data.tree"}
                            {foreach $vars.data.data.tree as $k=>$v}
                            <div class="item swiper-slide" data-id="{$v['id']}">
                                {$v['title']}
                                <hr />
                            </div>
                            {/foreach}
                            {/notempty}
                        </div>
                    </div>
                </div>
                {if $vars.data.data.sub_show == 1}
                <div class="sub-box">
                    {notempty name="vars.data.data.tree"}
                    {foreach $vars.data.data.tree as $k=>$v}
                    <div class="sub-items swiper-category-container" data-id="{$v['id']}">
                        <div class="swiper-wrapper">
                            {notempty name="$v['_child']"}
                            {foreach $v['_child'] as $c_v}
                            <div class="sub-item swiper-slide">{$c_v['title']}</div>
                            {/foreach}
                            {/notempty}
                        </div>
                    </div>
                    {/foreach}
                    {/notempty}
                </div>
                {/if}
            </div>
        </div>
	</div> 

	<div class="diy-preview-controller category">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    分类&筛选
		 	</div>
		 	<div class="panel-body">
                <form class="form-horizontal" data-type="category">
                    <input type="hidden" name="app" value="micro"/>
                    <input type="hidden" name="title" value="分类筛选"/>
                    <input type="hidden" name="type" value="category"/>
                    <div class="category-item" data-rule="object-controller-item">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择应用</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="app">
                                    {foreach $app_list as $v}
                                    {if $vars.data.data.app == $v.name}
                                    <option value="{$v.name}" selected>{$v.alias}</option>
                                    {else}
                                    <option value="{$v.name}">{$v.alias}</option>
                                    {/if}
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">显示子分类</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="sub_show">
                                    {if $vars.data.data.sub_show == 1}
                                    <option value="0">不显示</option>
                                    <option value="1" selected>显示</option>
                                    {else}
                                    <option value="0" selected>不显示</option>
                                    <option value="1">显示</option>
                                    {/if}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary btn-submit" data-role="submit">确认</button>
                            </div>
                        </div>
                    </div>
                </form>
		 	</div>
		</div>
	</div>
    <div class="action">
        <div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
        <div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
        <div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
    </div>
</div>
