<!--文章列表-->
<script type="text/html" data-object-type="articles_list">
	
	<div class="object-item" data-type="articles_list">
		<div class="object-drag articles-list">
			<div class="articles-list-preview">
                <div class="title clearfix">
                	<h3>文章列表</h3>
                	<small class="more">查看更多 </small>
                </div>
                <div class="list clearfix">
                	
				</div>
			</div>
		</div>
		<div class="diy-preview-controller articles-list">
			<div class="panel panel-info">
			 	<div class="panel-heading">
			    	文章列表
			 	</div>
			 	<div class="panel-body">
                    <form class="form-horizontal" data-type="articles_list">
                        <input type="hidden" name="app" value="articles"/>
						<input type="hidden" name="title" value="文章列表"/>
						<input type="hidden" name="type" value="articles_list"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" value="文章列表">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章分类</label>
                            <div class="col-sm-9">
                            <select class="form-control" name="category_id">
                                    <option value="0">所有</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3">显示数量</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="rows" value="2">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3">排序方法</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="order_field">
                                    <option value="create_time" selected>发布时间</option>
                                    <option value="update_time">更新时间</option>
                                    <option value="view">浏览量</option>
                                    <option value="price">价格</option>
                                    <option value="sort">排序值</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">排序方向</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="order_type">
                                    <option value="ASC" selected>正序</option>
                                    <option value="DESC">倒序</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">样式选择</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="style">
                                    <option value="0" selected>小图</option>
                                    <option value="1">大图</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                            <button type="button" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </form>	
				</div>
			</div>
		</div>
        <div class="action">
            <div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
            <div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
            <div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
        </div>
	</div>
</script>
<!--文章列表END-->