/*************课程列表组件*****************/

/*预览区*/

.page-diy-section .preview-target,.page-list-mobile-section .preview-target {
	.knowledge-list {
	
		.knowledge-list-preview {

			.title {
				padding:5px 10px;
				h3 {
					float:left;
					margin:10px auto;
				}
				.more{
					float:right;
					line-height: 32px;
					color:#999;
				}
			}

			/*竖排样式*/
			.list.rank1 {
				padding: 0 10px;
				border: 0;
				.item.small {
					min-height: 90px;
					margin-bottom:15px;

					.image {
						position: relative;
						float:left;
						width:120px;
						height:90px;
						overflow:hidden;

						img {
							max-width: 100%;
							height: auto;
							display: block;
							border-radius:5px;
						}

						.type-container {
				          	position:absolute;
				          	bottom:5px;
				          	right:5px;
				          	background-color:rgba(0,0,0,.5);
				          	color:#fff;
				          	padding:2px 5px;
				          	border-radius:5px;
				        }
					}
					.content {
						margin-left:120px;
						padding:0;
						padding-left:10px;
						min-height: 60px!important;

						.title {
							font-weight: 600;
							font-size:14px;
							padding:0;
							margin: 0 0 10px 0;
							color: #666;
						}
						.description {
							color:#999;
						}
						.info {
							margin-top:20px;
							display:flex;

							.type {
					            flex:2;
					            text-align: left;
					            color:#999;

					            div {
					              display: inline-block;
					              margin-right:5px;
					            }
					        }

							.price {
								flex:1;
								text-align: right;
							}
						}
					}
				}
				.item.big {
					position: relative;
					min-height: 90px;
					margin-bottom:15px;
					box-shadow: 0 0 10px rgba(0,0,0,0.12);
					border-radius:5px;
					overflow: hidden;

					.image {
						position: relative;
						width:100%;
						height:auto;
						overflow:hidden;

						img {
							width: 100%;
							height: auto;
							display: block;
							border-radius:5px;
						}

						.type-container {
				          	position:absolute;
				          	top:5px;
				          	right:5px;
				          	background-color:rgba(0,0,0,.5);
				          	color:#fff;
				          	padding:2px 5px;
				          	border-radius:5px;
				        }
					}
					.content {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						padding:10px;
						min-height: 60px!important;
						background: rgba(255,255,255,0.95);
						border-radius:0 0 5px 5px;

						.title {
                            color:#333;
                            font-weight: 600;
							font-size:14px;
							line-height: 18px;
							height: 36px;
							padding:0;
							margin: 0;
                        }
						.description {
							margin-top:5px;
							color:rgb(77, 69, 69);
						}
						.info {
							margin-top:5px;
							display:flex;

							.type {
					            flex:2;
					            text-align: left;
					            color:#999;

					            div {
					              display: inline-block;
					              margin-right:5px;
					            }
					        }

							.price {
								flex:1;
								text-align: right;
							}
						}
					}
				}
			}

			/*横排样式*/
			.list.rank0 {
				padding: 0 5px;
			    border: 0;
				
				.item {
					box-sizing: border-box;
					background:#fff;
					padding:5px;
					width:50%;
					float: left;

					.image {
						overflow: hidden;
						position: relative;
						width: 100%;
						
						img {
							width:100%;
							border-radius:5px;
						}
						.type-container {
				          	position:absolute;
				          	bottom:5px;
				          	right:5px;
				          	background-color:rgba(0,0,0,.5);
				          	color:#fff;
				          	padding:2px 5px;
				          	border-radius:5px;
				        }
					}
					.content {
						min-height: 60px!important;
						padding:0;

						.title {
							margin-top: 8px;
							margin-bottom: 0;
							font-weight: 600;
							font-size:14px;
							padding:0;
							color: #333;
							height: 36px;
							line-height: 18px;
						}
						.description {
							color:#999;
						}

						.info {
							margin-top: 5px;

							.type {
					            display: block;
					            text-align: left;
					            color:#999;
								font-size:12px;
					            div {
					              display: inline-block;
					              margin-right:5px;
					            }
					        }

							.price {
                                text-align: left;
							}
						}
					}
				}
			}
		}
	}
}



/*控制区*/
.diy-preview-controller.knowledge-list {
	
    
}
