/*************专栏列表组件*****************/
.page-diy-section .preview-target,.page-list-mobile-section .preview-target {
	/*预览区*/

	.teacher-list {
		
		.teacher-list-preview {

			.title {
				padding:5px 10px;
				h3 {
					float:left;
					margin:10px auto;
				}
				.more{
					float:right;
					line-height: 32px;
					color:#999;
				}
			}

			.list.rank1 {
				
				padding: 0 10px;
				border: 0;
				.item {
					background:#fff;
					min-height: 120px;
					margin-bottom:5px;

					.image {
						position: relative;
						float:left;
						width: 120px;
						height:120px;
						overflow:hidden;

						img {
							max-width: 100%;
							height: auto;
							border-radius:5px;
						}

						.type-container {
							position:absolute;
							bottom:5px;
							right:5px;
							background-color:rgba(0,0,0,.5);
							color:#fff;
							padding:2px 5px;
							border-radius:5px;
						}
					}
					.content {
						margin-left:120px;
						padding:0;
						padding-left:10px;
						min-height: 60px!important;

						.title {
							font-weight: 600;
							font-size:15px;
							padding:0;
						}
						.description {
							color:#999;
						}
					}
				}
			}

			//横排
			.list.rank0{
				padding: 0 5px;
			    border: 0;

				.item {
					box-sizing: border-box;
					background:#fff;
					padding:5px;
					width:50%;
					float: left;

					.image {

						position: relative;

						img {
							width:100%;
							border-radius:5px;
						}

						.type-container {
							position:absolute;
							bottom:5px;
							right:5px;
							background-color:rgba(0,0,0,.5);
							color:#fff;
							padding:2px 5px;
							border-radius:5px;
						}
					}
					.content {
						
						padding:0;
						min-height: 60px!important;

						.title {
							font-weight: 600;
							font-size:15px;
							padding:10px 0;
						}
						.description {
							color:#999;
						}
					}
				}
			}
		}
	}
	
	/*控制区*/
	.diy-preview-controller.teacher-list {
		
		
	}
}