.page-diy-section .preview-target,.page-list-mobile-section .preview-target {
	/*预览区*/
	.weixin-preview {

		.weixin-lists-box {
			padding: 5px 0;
			margin: 0 8px;
			.content {
				padding: 0px;

			}
			.logo {
				float: left;
				width: 75px;
				height: 75px;
				img {
					display: block;
					width: 100%;
					border-radius: 5px;
				}
			}
			.info {
				margin-left: 85px;
				.title {
					font-size: 15px;
					font-weight: 500px;
					color: #000;
				}
				.desc {
					color: #999;
				}
			}
			.follow-btn {
				margin-top: 5px;
				border-top: 5px;
			}
		}
	}
	
	/*风格价格色系样式*/
	.preview-target.Green {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #00ce74;
				}
			}
		}
	}
	.preview-target.Blue {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #03b8cf;
				}
			}
		}
	}
	.preview-target.LightRed {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #ea644a;
				}
			}
		}
	}
	.preview-target.Orange {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #ff9900;
				}
			}
		}
	}
	.preview-target.LightPink {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #FFB6C1;
				}
			}
		}
	}
	.preview-target.Magenta {
		.weixin-preview {
			.weixin-lists-box {
				.btn {
					color: #fff;
					background-color: #8666b8;
				}
			}
		}
	}
	/*控制区*/
	.diy-preview-controller.weixin {
		
		.follow-style-item {
			padding: 5px 0;
			border: 2px solid #fff;
			cursor: pointer;
		}
		.follow-style-item.active {
			border: 2px solid #03b8cf;
		}
		
	}
}