{extend name="common/main"/}

{block name="body"}
<div class="attachment-list-section">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>附件管理</h2>
    </div>
    <div class="button-box row clearfix">
        <!-- 高级搜索 -->
        <div class="search-form col-md-4">
            <form action="" method="get" class="form-horizontal">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" value="{$keyword}">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table with-padding">
        {notempty name="lists.data"}
        <table class="table table-bordered table-striped muu-table">
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input type="checkbox" class="check-all" id="check-all">
                        <label for="check-all"></label>
                    </th>
                    <th>{:lang('ID')}</th>
                    <th width="360">文件名</th>
                    <th width="360">路径</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>驱动</th>
                    <th>发布时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {volist name="lists.data" id="vo"}
                <tr>
                    <td>
                        <input class="ids" id="keywords-{$vo.id}" type="checkbox" name="ids[]" value="{$vo.id}"/>
                        <label for="keywords-{$vo.id}"></label>
                    </td>
                    <td>{$vo.id}</td>
                    <td>{$vo.filename}</td>
                    <td>{$vo.attachment}</td>
                    <td>{$vo.ext}</td>
                    <td>
                        {$vo.size}
                    </td>
                    <td>
                        {$vo.driver}
                    </td>
                    <td>{$vo.create_time_str}</td>
                    <td>{$vo.update_time_str}</td>
                    <td>
                        <a class="btn btn-sm btn-danger ajax-post" href="{:url('del',['id'=>$vo['id']])}" data-confirm="确认执行删除操作？">删除</a>
                    </td>
                </tr>
            {/volist}
            
            </tbody>
        </table>
        {else/}
        {include file="common/_empty"/}
        {/notempty}

        {include file="common/_pager"/}
    </div>
</div>
{/block}
{block name="script"}
<script>
$(function(){

    //搜索功能
    $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
});
</script>
{/block}