{extend name="../../admin/view/common/main"/}

{block name="style"}
<link href="__ADMIN_CSS__/main.min.css" type="text/css" rel="stylesheet">
<!--图片上传-->
<script type="text/javascript" charset="utf-8" src="__STATIC__/common/lib/webuploader/js/webuploader.js"></script>
<link href="__STATIC__/common/lib/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
{/block}

{block name="body"}
<div class="config-section clearfix ">
	<div class="config-list-section">

		<!-- 基本设置 start -->
		<div class="form-file header">基本设置</div>
		<div class="config-item-box clearfix">

			<div class="col-xs-3">
				<!-- 店铺风格设置 start -->
				<div class="config-item card">
					<div class="form-label">应用风格</div>
					<div class="form-value">
						<div class="style-config">
							<div class="style {$data['style']}">{$data['style']}</div>
						</div>
						<div class="description">
							设置应用风格主色系
						</div>
					</div>
					<div class="form-edit">
						<button type="button" data-toggle="modal" data-target="#style-Modal" class="btn btn-primary">设置</button>
					</div>
				</div>
				<!-- 店铺风格设置 end -->
			</div>

			<div class="col-xs-3">
				<!-- 自定义分享语设置 start -->
				<div class="config-item card">
					<div class="form-label">自定义分享语设置</div>
					<div class="form-value">
						<div class="title">
							{if empty($data['share'])}未设置{else}已设置{/if}
						</div>
						<div class="title">
							设置店铺分享标题、分享简介
						</div>
					</div>
					<div class="form-edit">
						<button type="button" data-toggle="modal" data-target="#share-Modal" class="btn btn-primary">设置</button>
					</div>
				</div>
				<!-- 自定义分享语设置 end -->
			</div>

		</div>
		<!-- 基础设置 end -->

		<!-- 其它设置 start -->
		<div class="form-file header">其它设置</div>
		<div class="config-item-box clearfix">
			<div class="col-xs-3">
				<!-- 搜索推荐关键字功能设置 start -->
				<div class="config-item card">
					<div class="form-label">搜索推荐关键字设置</div>
					<div class="form-value">
						<div class="title">
							{if empty($data['search'])}未设置{else}已设置{/if}
						</div>
						<div class="description">
							设置搜索推荐关键字
						</div>
					</div>
					<div class="form-edit">
						<button type="button" data-toggle="modal" data-target="#search-keywords-config-Modal" class="btn btn-primary">设置</button>
					</div>
				</div>
				<!-- 搜索推荐关键字功能设置 end -->
			</div>
		</div>
	</div>
</div>

{include file="admin/config/_modal"/}


{/block}
{block name="script"}
<script src="__ADMIN_JS__/main.min.js"></script>
<script>
	$(function(){

	
	});
</script>
{/block}