.muu_classroom_column_list_section {

	/*排序*/
	.orderby-block {
		padding: 0 10px;
		margin: 0 0 20px 0;
		border-radius: 3px;
		border: 1px solid #f2f2f2;
		background-color: #f2f2f2;
		span {
			display: inline-block;
			text-align: center;
			
			a {
				display: block;
				padding: 10px;
				color: #666;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	/*课程列表容器*/
	.column-list-section {
		margin-left: -10px;
    	margin-right: -10px;
		.item {
			background-color: #fff;
			float:left;
			box-sizing: border-box;
			padding:0 10px 10px 10px;
			margin-bottom: 10px;
			width:20%;
			a {
				.image {
					position: relative;
					border-radius:5px;
					overflow:hidden;
				  
					img {
						width: 236px;
						height: 177px;
						vertical-align: bottom;
						transition:transform 0.5s;
					}
	
					.type-container {
						  position:absolute;
						  bottom:5px;
						  right:5px;
						  background-color:rgba(0,0,0,.5);
						  color:#fff;
						  padding:2px 5px;
						  border-radius:5px;
					}
				}
				.content {
	
					padding:0;
	
					.title {
						font-weight: 550;
						font-size:16px;
						padding:20px 0 3px 0;
						color: #000;
						margin-bottom: 0;
					}
					.description {
						color:#999;
						font-size:12px;
						margin-bottom: 10px;
					}
					.info {
	
						.type {
							float: left;
							width: 60%;
							text-align: left;
							color:#999;
							font-size: 12px;
							overflow: hidden;
	
							div {
							  display: inline-block;
							  margin-right:5px;
							}
						}
	
						.price {
							float:right;
							span {
								font-size: 18px;
							}
						}
					}
				}
	
				&:hover {
					text-decoration: none;
					.image {
						img {
							transform: scale(1.1);
							-ms-transform: scale(1.1);
						}
					}
				}
			}
		}
	
	}
}


/*专栏详情*/
.muu_classroom_column_detail_section {

	.column-base {
		.base-info {
			position: relative;
			background-color: #2D323D;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding: 10px 0 120px 0;
			margin-bottom: 100px;
			z-index: 1;
			&:after{
				content: "";
				width:100%;
				height:100%;
				position: absolute;
				top:0;right:0;bottom:0;left:0;
				background: inherit;
				filter: blur(10px);/*为了模糊更明显，调高模糊度*/
				z-index: 2;
			}
			
			.bg {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0,0,0,0.4);
				z-index: 3;
				
			}
			.top {
				position: relative;
				.path {
					position: absolute;
					top: 3px;
					font-size: 12px;
					line-height: 24px;
					z-index: 5;
					.breadcrumb {
						color: rgba(255,255,255,.6);
						a {
							color: rgba(255,255,255,.6);
						}
						.active {
							color: rgba(255,255,255,.6);
						}
					}
				}
				.support {
					position: absolute;
					top: 16px;
					right: 0;
					font-size: 12px;
					line-height: 24px;
					z-index: 16;
					ul {
						li {
							a {
								border-radius: 15px;
								color: rgba(255,255,255,.6);
								&:hover {
									background-color: rgba(0,0,0,.2);
								}
							}
						}
					}
				}
			}
			
			.title {
				position: relative;
				text-align: center;
				font-size: 40px;
				color: #fff;
				line-height: 46px;
				text-shadow: 0 2px 4px rgba(28,31,33,.6);
				margin-top: 80px;
				margin-bottom: 10px;
				z-index: 5;
			}
			.description {
				position: relative;
				text-align: center;
				font-size: 16px;
				color: #fff;
				line-height: 24px;
				text-shadow: 0 2px 4px rgba(28,31,33,.6);
				margin-top: 8px;
				z-index: 5;
			}
			.fixed-wrap {
				width: 1152px;
				min-height: 128px;
				position: absolute;
				left: 50%;
				margin-left: -576px;
				bottom: -64px;
				background-color: #fff;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: 18px;
				box-shadow: 0 8px 16px 0 rgba(28,31,33,.1);
				z-index: 15;
				.con {
					text-align: left;
					position: relative;
					width: 100%;
					height: 100%;
					padding: 32px 40px;
					box-sizing: border-box;

					.price-box {
						background-color: #fff;
						
						.price-item {
							padding: 0;
							.price {
								display: inline-block;
								font-size: 22px;
								line-height: 32px;
								font-weight: 700;
								color: #ff9900;
							}
							.member-price-item {
								
								display: inline-block;
								padding: 0 10px 0 10px;
								color: #fff;
								font-size: 22px;
								line-height: 32px;
								border-radius: 8px;
								.price {
									color: #fff;
									font-size: 22px;
								}
							}
							.marking-price {
								display: inline-block;
								font-size: 14px;
								color: #999;
								text-decoration:line-through;
							}
						}
					}
					.pop-info {
						.column-data {
							padding: 0 10px;
							color: #666;
							.tit {
								display: inline-block;
								background-color: #f2f2f2;
								padding: 2px 5px;
								border-radius: 5px;
								margin-right: 5px;
							}
							a {
								color: #666;
							}
						}
						.info-item {
							display: inline-block;
							color: #999;
					
							div {
								display: inline-block;
								line-height: 36px;
								margin-right:5px;
							}
							.favorites {
							
							}
					
							.sale-num {
							
							}
					
							.view {
							
							}
						}
						.other-info {
							display: inline-block;
						}
					}
					.btns {
						position: absolute;
						top: 40px;
						right: 40px;
						font-size: 0;
						.sale-btn,.card-btn {
							padding: 10px 30px;
							margin: 0 10px;
							line-height: 28px;
							border-radius: 20px;
							&:focus {
								outline: 0;
							}
						}
					}
				}
			}

		}

		
	}
	
	/*内容详情容器*/
	.content-section {
		padding:0;
		background-color: #f2f2f2;
		.tab-title-box {
			width: 100%;
			background: #fff;
			box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
			padding: 10px 0;
			.nav-default {
				text-align: center;
				li {
					display: inline-block;
					a {
						font-size: 16px;
						padding: 15px 30px;
						border-bottom: 4px solid #fff;
						border-radius: 0;
						&:hover {
							border-bottom: 4px solid #f2f2f2;
							background-color: #fff;
						}
					}
				}
				li.active {
					a {
						&:hover,&:focus {
							background-color: #fff;
						}
					}
				}
			}
		}
		.content-detail-box {
			.content-left-box {
				float: left;
				width: 870px;
				margin-right: 10px;
				.tab-content {
					padding: 20px 0;
				}
				#tabDetail {
					.detail-content {
						background-color: #fff;
						padding: 10px;
						min-height: 407px;
						* {
							-webkit-user-select:text;
							-moz-user-select:text;
							-ms-user-select:text;
							user-select:text;
						}
						/*课程归属专栏样式 开发中*/
						.knowledge-column {
							background: #f6f6f6;
							padding:0 10px;
							color:#999;
							.title {
					
							}
							.lists {
								.item {
						
									.column-title {
									color: #999;
									}
								}
							}
						}
				
						p {
							padding: 0;
							margin: 0;
							img {
							max-width: 100%;
							}
						}
					}
				}

				#tabList {
					.column-list-section {
						background-color: #fff;
						padding: 10px 0;
						.items-box {
							overflow: hidden;
							overflow-x: auto;
							width: auto;
							.item {
								background-color: #fff;
								float:left;
								box-sizing: border-box;
								padding:0 10px 10px 10px;
								margin-bottom: 20px;
								width:25%;
								a {
									.image {
										position: relative;
										border-radius:5px;
										overflow:hidden;
									
										img {
											
											width:100%;
											vertical-align: bottom;
											transition:transform 0.5s;
										}
						
										.type-container {
											position:absolute;
											bottom:5px;
											right:5px;
											background-color:rgba(0,0,0,.5);
											color:#fff;
											padding:2px 5px;
											border-radius:5px;
										}
									}
									.content {
						
										padding:0;
						
										.title {
											font-weight: 550;
											font-size:16px;
											padding:20px 0 3px 0;
											color: #000;
											margin-bottom: 0;
										}
										.description {
											color:#999;
											font-size:12px;
											margin-bottom: 10px;
										}
										.info {
						
											.type {
												float: left;
												width: 60%;
												text-align: left;
												color:#999;
												font-size: 12px;
												overflow: hidden;
						
												div {
												display: inline-block;
												margin-right:5px;
												}
											}
						
											.price {
												float:right;
												span {
													font-size: 18px;
												}
											}
										}
									}
						
									&:hover {
										text-decoration: none;
										.image {
											img {
												transform: scale(1.1);
												-ms-transform: scale(1.1);
											}
										}
									}
								}
							}
						}
					}
				}

				/*系列课目录*/
				#tabChapter {
					.chapter-section {
						background-color: #fff;
						padding: 10px;
						color: #666;
						.chapter {
							margin: 10px 0;
							.chapter-title {
							font-size:15px;
							color: #000;
							}
							.lessons {
							.lessons-item {
								position: relative;
								&:active {
								background-color: #f2f2f2;
								}
								.title {
								line-height: 32px;
								padding-right: 62px;
								color: #a8a8a8;
								.lessons-index {
									padding-left: 10px;
								}
								.try-play {
									color: #f60;
									font-size: 10px;
								}
								}
								.status-desc {
								position: absolute;
								width: 30px;
								height: 32px;
								right: 25px;
								top: 0;
								line-height: 32px;
								display: none;
								}
								.play-status {
								position: absolute;
								width: 25px;
								height: 32px;
								right: 0;
								top: 0;
								text-align: right;
								color: #eee;
								padding-top: 5px;
								.icon-box {
									font-size: 20px;
								}
								}
								.play-active {
								color: #f60;
								.status-desc {
									display: inline;
									font-size: 10px;
									
								}
								}
								
							}
							}
						}
					}
				}
			
				.knowledge-questions {
					padding: 10px 0;
					display: none;
			
					.item  {
						background:#fff;
						height:90px;
						margin-bottom:15px;
						width:100%;
						overflow:hidden;
				
						.image {
							float: left;
							width: 80px;
							height: 80px;
						}
					}
				}
				#tabTeacher {
					.teacher {
						background-color: #fff;
						padding: 10px;
						.item  {
							background:#fff;
							height:100px;
							margin-bottom:15px;
							width:100%;
							overflow:hidden;
							padding: 0 0 10px 0;
							border-bottom: 1px solid #f4f6f7;
					
							.image {
								float: left;
								width: 90px;
								height: 90px;
								overflow: hidden;
					
								img {
								max-width: 100%;
								border-radius: 50%;
								}
							}
					
							.info {
								margin-left: 90px;
								padding-left:10px;
								height:90px;
					
								.title {
								font-size:18px;
								font-weight: 500;
								padding: 0;
								}
								.description {
								display: -webkit-box;
								color: #666;
								padding: 0;
								line-height: 22px;
								}
							}
						}
				
						.content {
				
							img {
								max-width: 100%!important;
							}
						}
					}
				}
			}
			
			.content-right-box {
				float: left;
				width: 380px;
				padding-top: 20px;
				
				.item {
					background-color: #fff;
					padding: 10px;
					h3 {
						margin: 10px 0;
					}
					ul {
						list-style: none;
						padding: 0;
					}
				}
				.new-list {
					ul {
						list-style: none;
						padding: 0;
						li {
							margin: 5px 0;
							margin-bottom: 10px;
							a {
								.cover {
									width: 80px;
									height: 60px;
									float: left;
									img {
										border-radius: 5px;
										max-width: 100%;
									}
								}
								.info {
									margin-left: 80px;
									padding-left: 10px;
									.title {
										padding: 5px 0;
										font-size: 15px;
										color: #666;
									}
									.other {
										color: #333;
										.price {
											font-weight: 700;
										}
										.data-show {
											display: inline-block;
											margin-left: 10px;
											color: #999;
										}
									}
								}
								&:hover,&:focus {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}



/*风格价格色系样式*/
.Green {
	
	.column-list-section {
		.item {
			.price {
				color: #00ce74;
			}
		}
	}

	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #00ce74;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #00ce74;
						color: #00ce74;
					}
				}
			}
		}
		.member-price-item {
			background-color: #00ce74;
			color: #fff;
		}
		.sale-btn {
			background-color: #00ce74;
			color: #fff;
		}
	}
}

.Blue {
	
	.column-list-section {
		.item {
			.price {
				color: #03b8cf;
			}
		}
	}
	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #03b8cf;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #03b8cf;
						color: #03b8cf;
					}
				}
			}
		}
		.member-price-item {
			background-color: #03b8cf;
			color: #fff;
		}
		.sale-btn {
			background-color: #03b8cf;
			color: #fff;
		}
	}
}

.LightRed {
	
	.column-list-section {
		.item {
			.price {
				color: #ea644a;
			}
		}
	}
	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #ea644a;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #ea644a;
						color: #ea644a;
					}
				}
			}
		}
		.member-price-item {
			background-color: #ea644a;
			color: #fff;
		}
		.sale-btn {
			background-color: #ea644a;
			color: #fff;
		}
	}
}

.Orange {
	
	.column-list-section {
		.item {
			.price {
				color: #ff9900;
			}
		}
	}
	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #ff9900;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #ff9900;
						color: #ff9900;
					}
				}
			}
		}
		.member-price-item {
			background-color: #ff9900;
			color: #fff;
		}
		.sale-btn {
			background-color: #ff9900;
			color: #fff;
		}
	}
}

.LightPink {
	
	.column-list-section {
		.item {
			.price {
				color: #FFB6C1;
			}
		}
	}
	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #FFB6C1;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #FFB6C1;
						color: #FFB6C1;
					}
				}
			}
		}
		.member-price-item {
			background-color: #FFB6C1;
			color: #fff;
		}
		.sale-btn {
			background-color: #FFB6C1;
			color: #fff;
		}
	}
}

.Magenta {
	
	.column-list-section {
		.item {
			.price {
				color: #8666b8;
			}
		}
	}
	.muu_classroom_column_detail_section {
		.tab-title-box {
			.nav-default {
				li {
					a {
						color: #666;
						&:hover {
							color: #8666b8;
						}
					}
				}
				li.active {
					a {
						border-bottom: 4px solid #8666b8;
						color: #8666b8;
					}
				}
			}
		}
		.member-price-item {
			background-color: #8666b8;
			color: #fff;
		}
		.sale-btn {
			background-color: #8666b8;
			color: #fff;
		}
	}
}
