/*评价表单部分*/
.evaluate-section {
	background-color: #fff;
	.goods-info {
		background-color: #f6f6f6;
		padding: 10px;

		.image {
			position:relative;
			float:left;
			width: 120px;
			height:90px;
			overflow:hidden;

			img {
				width:100%;
				border-radius:5px;
			}

			.type-container {
				position:absolute;
				bottom:5px;
				right:5px;
				background-color:rgba(0,0,0,.5);
				color:#fff;
				padding:2px 5px;
				border-radius:5px;
			}
		}

      	.content {
	        margin-left:120px;
	        padding:0;
	        padding-left:10px;

	        .title {
				color: #666;
				font-weight: 600;
				font-size:14px;
				padding:0;
				padding-top:5px;
	        }

	        .description {
	        	color:#999;
	        }

	        .info {
				margin-top:15px;
				display:flex;

				.type {
					flex:2;
					text-align: left;
					color:#999;

					div {
						display: inline-block;
						margin-right:5px;
					}
				}

	          .price {
	            flex:1;
	            text-align: right;
	            color:#ffb319;
	          }
	        }
		}
  	}

  	/*5分评价*/
  	.add-evaluate-box {
		padding: 10px;
  		.submit {
  			padding: 0;
  		}
  		.start-item {
  			padding: 10px 0;
  			margin: 0 auto;
  			text-align: center;
  		}
  	}

  	.detail-evaluate-box {
  		border-top:1px solid #f2f2f2;

  		.content {
  			padding:10px;
  			margin:10px;
  			
  			font-size: 14px;
  			color: #666;
  		}
  		.images {
  			padding:10px;
  			margin:10px;
  			border-bottom:1px solid #f2f2f2;
  			.item {
  				display: inline-block;
  				border:1px solid #f2f2f2;
  				width: 60px;
  				height: 60px;
  				overflow: hidden;
  				margin-right: 5px;
  			}
  		}

  		.evaluate-score {
  			padding: 10px 0;
  			text-align: center;
  		}

  		.tip-box {
  			padding:10px;
  			margin: 10px;
  			color: #666;
  		}
  	}

	.star_score { 
		background:url('../../images/star_h.png');
		height:48px; 
		position:relative; 
		margin: 0 auto;
		margin-bottom: 20px;

		a{
			height:48px; 
			display:block; 
			text-indent:-999em; 
			position:absolute;
			left:0;

			&:hover{ 
				background:url('../../images/star.png');
				left:0;
			}
		}
		a.clibg{ 
			background:url('../../images/star.png');
			left:0;
		}
	}

	/*星星样式*/
	.show_number{ 
		padding-left:50px; 
		padding-top:20px;

		li{ 
			width:240px; 
			border:1px solid #ccc; 
			padding:10px; 
			margin-right:5px; 
			margin-bottom:20px;

			span{ 
				display:inline-block; 
				line-height:21px;
			}
		}
	}
	.atar_show{
		background:url('../../images/star_h.png'); 
		width:240px; 
		height:48px;  
		position:relative; 
		margin: 0 auto;
		margin-bottom: 20px;

		.show_star{ 
			background:url('../../images/star.png');
			height:48px; 
			width:240px;
		}
	}
}

/*评价列表部分*/
#tabEvaluate {

	.muu-evaluate-total-box {
		padding:10px 0;
		background-color: #fff;
		border-bottom: 1px solid #eee;

		.evaluate-percent {
			text-align:center;

			.percent-tit {
			    font-size: 12px;
			    color: #666;
			    font-weight: 400;
			}
			.percent-con {
			    font-size: 18px;
			    color: #E4393C;
			    font-family: arial;
			}
		}
	}
	.muu-evaluate-show-box {
		background-color: #fff;
		.filter-list {
			background:#f7f7f7;

			li {

				a {
					font-size:12px;
					em, i, u {
					    font-style: normal;
					}
				}
			}
			li.active {
				color:#E4393C;
			}

		}
		.lists {

			.empty {
				text-align:center;
				line-height: 66px;
				color:#ccc;
			}
		}
		.evaluate-item {
			padding:5px 0;
			margin:10px auto;
			border-bottom:1px solid #f7f7f7;

			.user-item {
				.avatar {
					margin:0 auto;
					width:32px;
					height:32px;
					border-radius: 50%;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				.nickname {
					color: #666;
					text-align:center;
				}
			}

			.atar_Show{
				background:url('../../images/starkys.png'); 
				width:80px; 
				height:11px;  
				position:relative; 
				float:left;
				overflow: hidden;

				p{ 
					background:url('../../images/starsys.png');
					left:0; 
					height:11px; 
					width:100%;
				}
			}

			.fenshu {
				color: #ff0000;
			    font-size: 16px;
			    font-family: Georgia,"Times New Roman",Times,serif;
			}

			.brief {
				padding: 5px;
				color:#666;
			}
			.small-images {
				margin:5px auto;

				span {
					display:block;
					float:left;
					margin:0 5px;
					border:1px #ddd solid;
					width:60px;
					height:60px;
					overflow:hidden;
					cursor:pointer;
				}
				.selected {
					border:2px solid #ff0000;
				}
			}
			.big-images {
				span {
					margin:0 5px;
					display:none;
					cursor:pointer;
				}
			}
			.time {
				color: #999;
			}
		}
	}
}



