html,body {
  background-color: #fff;
}
.main-wrapper {
  padding-top: 0;
}
.muu_classroom_section {
  background-color: #fff;
}
.container-fixed {
  width: 1260px;
  padding: 0;
}
/*public*/
.margin-top {
  margin-top: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-left {
  margin-left: 15px;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-ellipsis-2
{
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.messagers-holder.center {
  position: fixed!important;
  transform: none;
  .messager.center {
    position: static;
    transform: none;
  }
}

/*表单通用样式*/
form {
  display: block;
  overflow: hidden;
  .form-title {
    padding: 10px;
    color: #000;
    background-color: #f6f6f6;
  }
  .form-body {
    padding: 10px;
    .control-label {
      text-align: right;
      padding-right: 10px;
    }
    .radio-controls {
      padding-top: 7px;
    }
  }
}

.muu-modal {
  z-index: 1041;
}

.confirm-modal {
.fa {
  color: red;
  font-size: 30px;
}
.title {
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom: 26px;
}
  .desc {
    font-size:14px;
  }
}

.empty {
  padding: 50px;
  text-align: center;
  color: #999;
  .empty-content {
    
    text-align: center;
  
    img {
      margin: 10px auto;
      width: auto;
    }
  }
}

.breadcrumb {
  padding: 10px 0;
  margin: 10px 0;
  li {
    a {
      color: #666;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.margin-top-68 {
  margin-top: 68px;
}
/*分页容器*/
.page-section {
  margin-bottom: 20px;
  text-align: center;
}



/*风格价格色系样式*/
.Green {
  a:hover {
    color: #00ce74;
  }
}

.Blue {
	a:hover {
		color: #03b8cf;
	}
}

.LightRed {
	a:hover {
		color: #ea644a;
	}
}

.Orange {
	a:hover {
		color: #ff9900;
	}
}

.LightPink {
	a:hover {
	  color: #FFB6C1;
	}
}

.Magenta {
	a:hover {
		color: #8666b8;
	}
}







