<div class="page-pc-header-section">
	{if $page_data['header']['style'] == 1}
	<header class="pc-header style1" data-logo="{$config_data['cover_100']}" data-title="{$config_data['title']}">
		<div class="top clearfix">
			<!--logo 站点名称-->
			{if !empty($page_data['header']['logo'])}
			<a href="#" class="logo custom-logo pull-left">
				<img src="{$page_data['header']['logo']}" alt="{$config_data['title']}" />
			</a>
			{else}
			<a href="#" class="logo default-logo pull-left">
				<img class="img" src="{$config_data['cover_100']}" alt="{$config_data['title']}" />
				<h2>{$config_data['title']}</h2>
			</a>
			{/if}
		
			<!--辅助菜单-->
			<nav class="navbar navbar-static-top user-nav">
				<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="my-knowledges">
					<a href="#">我的课程</a>
					</li>
					<li class="line">
					<a>|</a>
					</li>
					<li class="user login">
					<a href="#">登录</a>
					</li>
					<li class="user register">
					<a>免费注册</a>
					</li>
				</ul>
				</div>
			</nav>
		
			<!--中间部分-->
			<div class="center">
				<!--搜索框-->
				<form class="navbar-form" method="get" action="" role="search">
				<div class="form-group search-box">
					<select class="" name="search_type">
					<option value="knowledge">课程</option>
					</select>
					<input type="text" class="" name="keyword" placeholder="请输入关键字">
				</div>
				<button type="button" class="btn"><i class="icon icon-search"></i> 搜索</button>
				</form>
			</div>
		</div>
		<div class="nav-menu clearfix">
			<div class="collapse navbar-collapse">
				<!-- 一般导航项目 -->
				<ul class="main-menu nav navbar-nav">
				<li class="active">
					<a>首页</a>
				</li>
				<li class="dropdown dropdown-hover">
					<a data-toggle="dropdown">分类 <b class="caret"></b></a>
				</li>
				{notempty name="$config_data['navtar']['head_nav']"}
				{foreach $config_data['navtar']['head_nav'] as $k => $v}
				<li>
					<a href="#">
					{$v['nav_title']}
					</a>
				</li>
				{/foreach}
				{/notempty}
				</ul>
				<ul class="sub-menu nav navbar-nav navbar-right">
					<li class="dropdown dropdown-hover">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-qrcode" aria-hidden="true"></i> 
						关注公众号
					</a>
					<div class="dropdown-menu text-center">
						<img src="{$config_data['follow']['qrcode']}">
						<p>扫码关注公众号</p>
					</div>
					</li>
					<li class="dropdown dropdown-hover">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-mobile" aria-hidden="true"></i> 
						手机访问
					</a>
					</li>
					<li class="dropdown">
						<a href="#">
							<i class="fa fa-user" aria-hidden="true"></i> 
							会员中心
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	{/if}

	{if $page_data['header']['style'] == 2}
    <header class="pc-header style2" data-logo="{$config_data['cover_100']}" data-title="{$config_data['title']}">
		<div class="top clearfix">
			<!--logo 站点名称-->
			{if !empty($page_data['header']['logo'])}
			<a href="#" class="logo custom-logo pull-left">
				<img src="{$page_data['header']['logo']}" alt="{$config_data['title']}" />
			</a>
			{else}
			<a href="#" class="logo default-logo pull-left">
				<img class="img" src="{$config_data['cover_100']}" alt="{$config_data['title']}" />
				<h2>{$config_data['title']}</h2>
			</a>
			{/if}
		
			<!--辅助菜单-->
			<nav class="navbar navbar-static-top user-nav">
				<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="user login">
					<a href="#">登录</a>
					</li>
					<li class="user register">
					<a>免费注册</a>
					</li>
				</ul>
				</div>
			</nav>
		
			<!--中间部分-->
			<div class="center clearfix">
                <div class="nav-menu clearfix">
                    <div class="collapse navbar-collapse">
                        <!-- 一般导航项目 -->
                        <ul class="main-menu nav navbar-nav clearfix">
                            <li class="active">
                                <a>首页</a>
                            </li>
                            <li class="dropdown dropdown-hover">
                                <a data-toggle="dropdown">分类 <b class="caret"></b></a>
                            </li>
							{notempty name="$config_data['navtar']['head_nav']"}
                            {foreach $config_data['navtar']['head_nav'] as $k => $v}
                            <li>
                                <a href="#">
                                {$v['nav_title']}
                                </a>
                            </li>
                            {/foreach}
							{/notempty}
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</header>
	{/if}
</div>