{if $vo['type'] == 'teacher_list'}
<!--讲师列表-->
<div class="object-item" data-type="teacher_list" data-object-index="teacher_list-{$key}">
	<div class="object-drag teacher-list">
		<div class="teacher-list-preview">
            <div class="title clearfix">
				<h3>{$vo['data']['title']}</h3>
				<span class="sub-title">{$vo['data']['sub_title']}</span>
            	<small class="more">查看更多</small>
            </div>
            <div class="list clearfix">
            	{foreach $vo['data']['list'] as $k => $v}
					<div class="item" data-type="teacher_list_item" data-id="{$v['id']}">
						<div class="temp-box">
							<div class="image">
								<img src="{$v['cover_200']}"/>
							</div>
							<div class="content">
								<div class="title h3 text-ellipsis">{$v['name']}</div>
								<div class="description text-ellipsis-2">{$v['description']}</div>
							</div>
						</div>
			        </div>
				{/foreach}
			</div>
		</div>
	</div>
	<div class="diy-preview-controller teacher-list">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    讲师列表
		 	</div>
		 	<div class="panel-body">
		 		<div class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-3">标题</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="title" value="{$vo['data']['title']}">
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-3">副标题</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="sub_title" value="{$vo['data']['sub_title']}">
					    </div>
				  	</div>
			 		<div class="form-group">
					    <label class="col-sm-3">显示数量</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="rows" value="{$vo['data']['rows']}">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排序方法</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="order_field">
						    	{if $vo['data']['order_field']=='create_time'}
						    	<option value="create_time" selected>发布时间</option>
						    	{else}
						    	<option value="create_time">发布时间</option>
						    	{/if}

						    	{if $vo['data']['order_field']=='update_time'}
						    	<option value="update_time" selected>更新时间</option>
						    	{else}
						    	<option value="update_time">更新时间</option>
						    	{/if}

						    	{if $vo['data']['order_field']=='sort'}
						    	<option value="sort" selected>排序值</option>
						    	{else}
						    	<option value="sort">排序值</option>
						    	{/if}
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排序方向</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="order_type">
						    	{if $vo['data']['order_type']=='ASC'}
						    	<option value="ASC" selected>正序</option>
						    	{else}
						    	<option value="ASC">正序</option>
						    	{/if}

						    	{if $vo['data']['order_type']=='DESC'}
						    	<option value="DESC" selected>倒序</option>
						    	{else}
						    	<option value="DESC">倒序</option>
						    	{/if}
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排列布局</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="rank">
								{if $vo['data']['rank']==0}
						    	<option value="0" selected>横排</option>
						    	{else}
						    	<option value="0">横排</option>
						    	{/if}

								{if $vo['data']['rank']==1}
								<option value="1" selected>竖排</option>
								{else}
								<option value="1">竖排</option>
								{/if}
							</select>
					    </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-sm-3"></label>
					    <div class="col-sm-9">
					      <button class="btn btn-primary">确认</button>
					    </div>
				  	</div>
		 		</div>
			</div>
		</div>
	</div>
	<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
	<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
	<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
</div>
<!--讲师列表END-->
{/if}