<!--图文导航START-->
<script type="text/html" data-object-type="category_nav">
	
	<div class="object-item" data-type="category_nav">
		<div class="object-drag category-nav">
			<div class="category-nav-preview">
				<div class="nav-class-one">
					<div class="category-nav-item enable" style="width: 25%;">
						<img src="/static/micro/images/diy/noimg.png" class="item-image"> 
						<div class="item-text">导航1</div>
					</div>
					<div class="category-nav-item enable" style="width: 25%;">
						<img src="/static/micro/images/diy/noimg.png" class="item-image"> 
						<div class="item-text">导航2</div>
					</div>
					<div class="category-nav-item enable" style="width: 25%;">
						<img src="/static/micro/images/diy/noimg.png" class="item-image"> 
						<div class="item-text">导航3</div>
					</div>
					<div class="category-nav-item enable" style="width: 25%;">
						<img src="/static/micro/images/diy/noimg.png" class="item-image"> 
						<div class="item-text">导航4</div>
					</div>
					<div class="category-nav-item hidden" style="width: 25%;">
						<img src="/static/micro/images/diy/noimg.png" class="item-image"> 
						<div class="item-text">导航5</div>
					</div>
				</div>
			</div>
		</div> 

		<div class="diy-preview-controller category-nav">
			<div class="panel panel-info">
			 	<div class="panel-heading">
			    图文导航
			 	</div>
			 	<div class="panel-body">
					<form class="form-horizontal" data-type="category_nav">
						<input type="hidden" name="app" value="micro"/>
						<input type="hidden" name="title" value="图文导航"/>
						<input type="hidden" name="type" value="category_nav"/>
						<div class="choose">
						<select class="form-control" name="colume">
							<option value="3">3列</option>
							<option value="4" selected>4列</option>
							<option value="5">5列</option>
						</select>
						</div>

						<div class="category-nav-box">
							<div class="category-nav-form-item enable" data-rule="object-controller-item">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="导航1">
									</div>
								</div>
								<div class="form-group">
									<div for="" class="col-sm-12">
										<input type="hidden" name="icon_url">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
											选择图标
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix" data-rule="links_list">
										<label for="" class="col-xs-3">
											<div class="dropdown">
												<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
													选择链接
												</button>
											</div>
										</label>
										<div class="col-xs-9">
											<div class="link_title">
												<ol class="breadcrumb">
												<li></li>
												<li class="active"></li>
												</ol>
											</div>
										</div>
										<!--链接至隐藏域START-->
										<input type="hidden" name="link_sys_type" >
										<input type="hidden" name="link_title" >
										<input type="hidden" name="link_type" >
										<input type="hidden" name="link_type_title" >
										<input type="hidden" name="link_url" >
										<textarea type="hidden" name="link_param" class="hidden"></textarea>
										<!--链接至隐藏域END-->
									</div>
								</div>
							</div>

							<div class="form-horizontal category-nav-form-item enable" data-rule="object-controller-item">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="导航2">
									</div>
								</div>
								<div class="form-group">
									<div for="" class="col-sm-12">
										<input type="hidden" name="icon_url">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
											选择图标
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix" data-rule="links_list">
										<label for="" class="col-xs-3">
											<div class="dropdown">
												<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
													选择链接
												</button>
											</div>
										</label>
										<div class="col-xs-9">
											<div class="link_title">
												<ol class="breadcrumb">
												<li></li>
												<li class="active"></li>
												</ol>
											</div>
										</div>
										<!--链接至隐藏域START-->
										<input type="hidden" name="link_sys_type" >
										<input type="hidden" name="link_title" >
										<input type="hidden" name="link_type" >
										<input type="hidden" name="link_type_title" >
										<input type="hidden" name="link_url" >
										<textarea type="hidden" name="link_param" class="hidden"></textarea>
										<!--链接至隐藏域END-->
									</div>
								</div>
							</div>

							<div class="form-horizontal category-nav-form-item enable" data-rule="object-controller-item">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="导航3">
									</div>
								</div>
								<div class="form-group">
									<div for="" class="col-sm-12">
										<input type="hidden" name="icon_url">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
											选择图标
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix" data-rule="links_list">
										<label for="" class="col-xs-3">
											<div class="dropdown">
												<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
													选择链接
												</button>
											</div>
										</label>
										<div class="col-xs-9">
											<div class="link_title">
												<ol class="breadcrumb">
												<li></li>
												<li class="active"></li>
												</ol>
											</div>
										</div>
										<!--链接至隐藏域START-->
										<input type="hidden" name="link_sys_type" >
										<input type="hidden" name="link_title" >
										<input type="hidden" name="link_type" >
										<input type="hidden" name="link_type_title" >
										<input type="hidden" name="link_url" >
										<textarea type="hidden" name="link_param" class="hidden"></textarea>
										<!--链接至隐藏域END-->
									</div>
								</div>
							</div>

							<div class="form-horizontal category-nav-form-item enable" data-rule="object-controller-item">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="导航4">
									</div>
								</div>
								<div class="form-group">
									<div for="" class="col-sm-12">
										<input type="hidden" name="icon_url">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
											选择图标
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix" data-rule="links_list">
										<label for="" class="col-xs-3">
											<div class="dropdown">
												<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
													选择链接
												</button>
											</div>
										</label>
										<div class="col-xs-9">
											<div class="link_title">
												<ol class="breadcrumb">
												<li></li>
												<li class="active"></li>
												</ol>
											</div>
										</div>
										<!--链接至隐藏域START-->
										<input type="hidden" name="link_sys_type" >
										<input type="hidden" name="link_title" >
										<input type="hidden" name="link_type" >
										<input type="hidden" name="link_type_title" >
										<input type="hidden" name="link_url" >
										<textarea type="hidden" name="link_param" class="hidden"></textarea>
										<!--链接至隐藏域END-->
									</div>
								</div>
							</div>

							<div class="form-horizontal category-nav-form-item hidden">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="导航5">
									</div>
								</div>
								<div class="form-group">
									<div for="" class="col-sm-12">
										<input type="hidden" name="icon_url">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
											选择图标
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="clearfix" data-rule="links_list">
										<label for="" class="col-xs-3">
											<div class="dropdown">
												<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
													选择链接
												</button>
											</div>
										</label>
										<div class="col-xs-9">
											<div class="link_title">
												<ol class="breadcrumb">
												<li></li>
												<li class="active"></li>
												</ol>
											</div>
										</div>
										<!--链接至隐藏域START-->
										<input type="hidden" name="link_sys_type" >
										<input type="hidden" name="link_title" >
										<input type="hidden" name="link_type" >
										<input type="hidden" name="link_type_title" >
										<input type="hidden" name="link_url" >
										<textarea type="hidden" name="link_param" class="hidden"></textarea>
										<!--链接至隐藏域END-->
									</div>
								</div>
							</div>
						</div>
			    	</form>
			 	</div>
			</div>
		</div>
		<div class="action">
			<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
			<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
			<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
		</div>
	</div>
</script>
<!--图文导航END-->