{extend name="../../common/view/main"/}
{block name="style"}
<link href="__STATIC__/ucenter/css/main.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/ucenter/lib/paging/my-page.css">
{/block}
{block name="body"}

<div id="main-container" class="user-config">
    <div class="container-fixed clearfix">
        <div class="left-slide">
            {include file="common/_slide"/}
        </div>
        <div class="right-content">
            <div id="center" class="address-lists">
                <h4 class="lists-title">我的地址</h4>
                <div class="add-btn-section clearfix">
                    <button type="button" class="btn btn-warning" data-remote="{:url('User/address',array('action'=>'edit'))}" data-toggle="modal">增加收货地址</button>
                </div>
                <!--列表容器-->
                <div class="items">
                    {foreach $lists as $k=>$v}
                    <div class="item margin-top-10 address-list-box" data-id="{$list.id}">
                        <div class="title">
                            <h4>
                                {$v.name}
                                {notempty name="v.first"}
                                    <span class="first">默认地址</span>
                                {/notempty}
                            </h4>
                        </div>
                        <div class="info">
                            <span>收货人：</span>{$v.name}
                        </div>
                        <div class="info">
                            <span>地区：</span>{$v.province} {$v.city} {$v.district}
                        </div>
                        <div class="info">
                             <span>详细地址：</span>{$v.address}
                        </div>
                        <div class="info">
                             <span>手机：</span>{$v.phone}
                        </div>
                        <div class="operate" data-id="{$v.id}">
                            <span>
                                <a data-toggle="modal" data-remote="{:url('ucenter/pc.Address/edit',['id'=>$v['id']])}">编辑</a>
                            </span>
                            {empty name="list.first"}
                                <span>
                                    <a class="first-address" data-id="{$v.id}" data-url="{:url('api/address/default',['id'=>$v['id']])}">设为默认地址</a>
                                </span>
                            {/empty}
                            <span>
                                <a data-toggle="modal" data-remote="{:url('api/address/del',['id'=>$v['id']])}">删除</a>
                            </span>
                        </div>
                    </div>
                    {/foreach}
                    {if empty($lists.data)}
                    {include file='../../common/view/empty'}
                    {/if}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{/block}

{block name="script"}
<script src="__STATIC__/ucenter/js/main.min.js"></script>
<script>
    $(function () {
        // 设置当前高亮菜单
        $("#{$tab}").addClass('active');
        
    });
    $(function(){
        //设置首选地址
        $('.first-address').click(function(){
            var self = $(this);
            var id = {'id':self.attr('data-id')};
            var url = self.attr('data-url');
            $.post(url, id, success, 'json');
            function success(data) {
            if (data.code) {
                toast.success(data.msg, '温馨提示');
                setTimeout(function () {
                    window.location.href = data.url
                }, 1000);
            } else {
                toast.error(data.msg, '温馨提示');
            }
        }
    });
});
</script>

{/block}