.address-lists {
    display: block;
    background: #ffffff;
    border-radius: 10px;
    padding: 54px 20px;
    .lists-title {
		font-size: 24px;
		color: #222222;
		margin: 0;
	}
    .add-btn-section {
        margin-top: 29px;
    }

    .items {
        .item {
            padding: 10px 15px;
            background-color: #fff;
            .title h3 {
                font-size: 16px;
                font-weight: 600;
                .first {
                    font-size: 14px;
                    border: 1px solid #ddd;
                    background-color: #f2f2f2;
                    padding: 5px 8px;
                    border-radius: 3px;
                }
            }
            .info {
                line-height: 30px;
            }

            .operate {
                padding: 10px 0 0 0;
            }
        }
    }
}

.address-edit-form {
    .position {

        .choose-area {
            select {
                display: inline;
                width: auto;
            }
        }
    }
}