.config-header {
    padding:20px 0;
    .user-info-panel {
        
        .avatar {
            width: 128px;
            height: 128px;
            margin: 0 auto;
        }

        .nickname {
            font-size: 16px;
            margin-top: 10px;
            display: block;
          }
    }
}

.bind-wechat{
    background-color: #ffffff;
    min-height: 185px;
    .bind{
        padding: 40px 0 0 40px;
        color: #449d44;
    }
    .no-bind{
        .qrcode{
            text-align: center;
            padding: 20px;
            img{
                width: 200px;
                height: 200px;
            }
            .scan-status{
                color: #c4c4c4;
            }
            .confirm{
                margin-top: 10px;
                display: none;
            }
        }
    }
}




