<div>
    <nav class="menu" data-ride="menu">
        <div class="integrate">我的积分</div>
        <ul id="treeMenu" class="tree tree-menu side-menu" data-ride="tree">
            <li id="score">
                <a href="{:url('score')}"> 我的积分</a>
            </li>
            <li id="score_estate"><a href="{:url('score_estate')}">积分等级</a></li>
            <li id="scorerule"><a href="{:url('scorerule')}">积分规则</a></li>
        </ul>
        <div class="management">账号管理</div>
        <ul id="treeMenu" class="tree tree-menu side-menu" data-ride="tree">
            <li id="index">
                <a href="{:url('index')}">基本信息</a>
            </li>
            <li id="password">
                <a href="{:url('password')}">密码修改</a>
            </li>
            <li id="wechat">
                <a href="{:url('wechat')}">绑定微信</a>
            </li>
        </ul>
    </nav>
</div>