{extend name="../../common/view/main"/}
{block name="style"}
<link href="__STATIC__/ucenter/css/main.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/ucenter/lib/paging/my-page.css">
<!-- <link rel="stylesheet" href="__STATIC__/ucenter/lib/paging/pagination.css"> -->
{/block}
{block name="body"}
<div class="main-wrapper">

    <!--用户设置顶部-->
    <!-- {include file="config/_header"/} -->
    <!--用户设置顶部end-->

    <div id="main-container" class="container user-config">
        <div class="row">
            <div class="col-xs-3">
                {include file="config/_slide"/}
            </div>
            <div class="col-xs-9 integral">
                <div id="center">
                    <div class="integral-content">
                        <h4 class="integral-title">我的积分</h4>
                        <div class="">
                            <div class="integrate">
                                <div class="gold-coin"><img src="__STATIC__/ucenter/images/species.png" alt=""></div>
                                <div class="quantity">
                                    <p>现有积分</p>
                                    <span class="">001122</span>
                                    <!-- {volist name="scores" id="vo"}
                                    <span class="">{$vo.value}</span>
                                    {/volist} -->
                                </div>
                            </div>
                            <div class="Mspecimen">
                                <div class="gold-coin"><img src="__STATIC__/ucenter/images/species.png" alt=""></div>
                                <div class="quantity">
                                    <p>现有M币</p>
                                    <span class="">001122</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="integral-detail">
                        <div class="integral-detail-header">
                            <h4 class="detail-title">积分明细</h4>
                            <div class="score-acquire-rule"><a href="{:url('scorerule')}"><span class="">积分获取规则</span><i class="iconfont">&#xe661;</i></a></div>
                        </div>
                        <div class="integral-detail-body">
                            <div class="detail-header">
                                <span class="integrate-type">类型</span>
                                <span class="change-integrate">变更积分</span>
                                <span class="acquire-manner">获取方式</span>
                                <span class="acquire-time">获取时间</span>
                            </div>
                            <ul class="detail">
                                <li>
                                    <span class="integrate-type">积分</span>
                                    <span class="change-integrate">+20</span>
                                    <span class="acquire-manner">论坛回复帖子</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                                <li>
                                    <span class="integrate-type">积分</span>
                                    <span class="change-integrate">+200</span>
                                    <span class="acquire-manner">登录网站</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                                <li>
                                    <span class="integrate-type">M币</span>
                                    <span class="change-integrate">+1</span>
                                    <span class="acquire-manner">论坛添加帖子</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                                <li>
                                    <span class="integrate-type">积分</span>
                                    <span class="change-integrate">+20</span>
                                    <span class="acquire-manner">论坛回复帖子</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                                <li>
                                    <span class="integrate-type">积分</span>
                                    <span class="change-integrate">+200</span>
                                    <span class="acquire-manner">登录网站</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                                <li>
                                    <span class="integrate-type">M币</span>
                                    <span class="change-integrate">+1</span>
                                    <span class="acquire-manner">论坛添加帖子</span>
                                    <span class="acquire-time">2022-03-04<span>11:32</span></span>
                                </li>
                            </ul>
                        </div>
                        <div class="paging">
                        <!-- <div class="box" id="wrap1"></div> -->
                           <div style="text-align:center;">
                                <div class="my-page">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__STATIC__/ucenter/js/main.min.js"></script>
<script src="__STATIC__/ucenter/lib/paging/my-page.js"></script>
<script src="__STATIC__/ucenter/lib/paging/pagination.js"></script>
<script>
    $(function () {
        // 设置当前高亮菜单
        $("#{$tab}").addClass('active');
    });

// var total_amount = 100;
// var onPagechange = function(page){
//     console.log('当前页码',page)
// }
// var obj = {
//     wrapid:'wrap1',//页面显示分页器容器id
//     total:total_amount,//总条数
//     pagesize:10,//每页显示条数
//     currentPage:1,//当前页
//     onPagechange:onPagechange,
//     //btnCount:7,页数过多时，显示省略号的边界页码按钮数量，可省略，且值大于5的奇数
// }
// pagination.init(obj);
myPageInit({
    pages:20,
    currentPage:1,
    element:'.my-page',
    callback:function(page){
        console.log("当前页码",page)
    }
})


</script>


{/block}