{extend name="common/main"/}

{block name="body"}
<div class="wechat-menu">
    <div class="hbox">
        <div class="inner-left">
            <div class="menu-view-con">
                <div class="menu-view">
                    <div class="menu-view-title">公众号名称</div>
                    <div class="custom-menu-view-body">
                        <div class="weixin-msg-list">
                            <ul class="msg-con"></ul>
                        </div>
                    </div>
                    <div id="menuMain" class="menu-view-footer">
                        <div class="menu-view-footer-left"></div>
                        <div class="menu-view-footer-right">
                            <!--父级菜单-->
                            <div class="footer-parent-item"
                                 :class="{'choose-menu': selectedIndex[0] == index && selectedIndex[1] < 0}"
                                 v-for="(item,index) in menuList" @click="chooseMenu(index,-1)">
                                <div class="text-ellipsis">{{item.title}}</div>
                                <!--子级菜单-->
                                <div class="menu-child">
                                    <div class="menu-child-item"
                                         :class="{'choose-menu': selectedIndex[0] == index && selectedIndex[1] == cindex}"
                                         v-for="(child,cindex) in item.child" @click.stop="chooseMenu(index,cindex)">
                                        <div class="text-ellipsis">{{child.title}}</div>
                                    </div>
                                    <div class="menu-child-item add" v-if="item.child.length < 5"
                                         @click.stop="addMenu(index,'child')">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="arrow"></div>
                                </div>
                                <!--子级菜单-->
                            </div>
                            <div class="footer-parent-item add" v-if="menuList.length < 3" @click="addMenu(0,'parent')">
                                <i class="fa fa-plus"></i>
                            </div>
                            <!--父级菜单-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-right">
            <div class="edit-after" v-if="selectedMenu">
                <form name="menu-form" class="form-horizontal">
                    <div class="form-group">
                        <label for="menu-name" class="col-sm-2">菜单名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="menu-name" v-model="selectedMenu.title">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-danger" @click="remove">删除菜单</button>
                        </div>
                    </div>
                    <div class="help-block col-sm-12">
                        字数不超过5个汉字或16个字符；若无二级菜单，可输入20个汉字或60个字符
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">菜单内容</label>
                        <div class="col-sm-10" style="margin-top: 5px">
                            <input type="radio" name="content_type" value="1" v-model="selectedMenu.type" id="type-1"
                                   checked>
                            <label for="type-1">发送消息</label>

                            <input type="radio" name="content_type" value="2" v-model="selectedMenu.type" id="type-0">
                            <label for="type-0">跳转链接</label>
                        </div>
                    </div>
                    <div class="content">
                        <div class="send-message" v-if="selectedMenu.type == 1">
                            <div class="content-tab">
                                <div class="tab-item col-sm-3 " :class="{active : type==1}" @click="selectType(1)">
                                    图文消息
                                </div>
                                <div class="tab-item col-sm-3 " :class="{active : type==2}" @click="selectType(2)">图片
                                </div><!--f3f4f8-->
                                <div class="tab-item col-sm-3 " :class="{active : type==3}" @click="selectType(3)">语音
                                </div>
                                <div class="tab-item col-sm-3 " :class="{active : type==4}" @click="selectType(4)">视频
                                </div>
                            </div>
                            <div class="content-box" @click="selecting" v-if="selectedTitlt.length == 0">
                                <!-- <a href="" class="choose" >-->
                                <div class="choose">
                                    <div class="add-icon">
                                        <i class="fa fa-plus"></i><br>从素材库中选择
                                    </div>
                                </div>
                                <!-- </a>-->
                            </div>
                            <div v-if="selectedTitlt.length > 0">
                                <div class="mobile_preview_bd">
                                    <div id="viewShow" class="show_list">
                                        <div class="panel">
                                            <div class="shade">
                                                <div class="panel-image">
                                                    <image class="panel-image-item"></image>
                                                </div>
                                                <span class="panel-title">{{selectedTitlt[0].title}}</span>
                                                <div class="panel-weui">
                                                    <div class="weui-item" v-for="(item,index) in selectedTitlt[0].weui"
                                                         :key="index">
                                                        <div class="weui-title">
                                                            <h4 class="title">{{item.msda}}</h4>
                                                        </div>
                                                        <div class="weui-image">
                                                            <image class="image"></image>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div @click="removeContent">删除</div>
                            </div>
                        </div>
                        <div class="jump-url" v-if="selectedMenu.type == 2">
                            <div class="help-block col-sm-12">
                                粉丝点击该菜单会跳转到一下链接：
                            </div>
                            <div class="form-group">
                                <label for="link-url" class="col-sm-4">页面地址</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="link-url" placeholder="认证号才可手动输入地址">
                                    <div class="help-block col-sm-12">
                                        必填，必须是正确的URL格式
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <button type="button" class="btn btn-primary" @click="edit">确认</button>-->
                </form>
            </div>
            <div class="edit-before" v-if="!selectedMenu"><h5>点击左侧菜单进行操作</h5></div>
        </div>
    </div>
    <div class="cm-edit-footer">
        <button id="saveBtns" type="button" class="btn btn-info1 btn-primary">保存</button>
        <button id="synchroBtns" type="button" class="btn btn-info1 btn-primary">同步</button>
        <button id="showPhone" type="button" class="btn btn-info1 btn-primary" @click="showPhone">预览</button>
        <button id="moveUp" type="button" class="btn btn-info1 btn-primary" @click="moveUp">上移</button>
        <button id="moveDown" type="button" class="btn btn-info1 btn-primary" @click="moveDown">下移</button>
        <button id="deleteMenu" type="button" class="btn btn-info1 btn-primary" @click="deleteMenu">清空菜单</button>
    </div>

    <!-- 对话框HTML -->
    <div class="modal fade" id="clearParentModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    添加子菜单后，一级菜单的内容将被清除。确定添加子菜单？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="addMenu(continueIndex,'child')">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="selectType">
        <div class="modal-dialog content-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body content-body">
                    <div class="scrollbar">
                        <div class="scrollbar-item" v-if="type == '1'">
                            <div class="panel" v-for="(textimage,index) in teimage" :key="index"
                                 @click="selected(textimage,index)" v-if="textimage.type == 1">
                                <div class="shade">
                                    <div class="panel-image">
                                        <image class="panel-image-item"></image>
                                    </div>
                                    <span class="panel-title">{{textimage.title}}</span>
                                    <div class="panel-weui">
                                        <div class="weui-item" v-for="(item,index) in textimage.weui" :key="index">
                                            <div class="weui-title">
                                                <h4 class="title">{{item.msda}}</h4>
                                            </div>
                                            <div class="weui-image">
                                                <image class="image"></image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mask-layer" :class="{maskBlock : index == selectedTitlt[1] }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="scrollbar-item" v-if="type == '2'">
                            <div class="panel" v-for="(image,index) in teimage" @click="selected(image,index)"
                                 v-if="image.type == 2">
                                <div class="panel-image">
                                    <image class="panel-image-item"></image>
                                </div>
                                <div class="mask-layer" :class="{maskBlock : index == selectedTitlt[1] }"></div>
                            </div>
                        </div>
                        <div class="scrollbar-item" v-if="type == '3'">
                            <div class="audio" v-for="(audio,index) in teimage" :key="index"
                                 @click="selected(audio,index)" v-if="audio.type == 3">
                                <div class="icon"><i class="icon icon-volume-up"></i></div>
                                <div class="information">
                                    <p class="audio-title">{{audio.title}}</p>
                                    <p class="audio-time">{{audio.uploadtime}}</p>
                                    <p class="audio-time">{{audio.duration}}</p>
                                </div>
                                <div class="mask-layer" :class="{maskBlock : index == selectedTitlt[1] }"></div>
                            </div>
                        </div>
                        <div class="scrollbar-item" v-if="type == '4'">
                            <div class="video" v-for="(video,index) in teimage" :key="index"
                                 @click="selected(video,index)" v-if="video.type == 4">
                                <div class="video-item">
                                    <image class="video-image"></image>
                                </div>
                                <div class="video-icon"><i class="icon icon-play-sign"></i></div>
                                <p class="video-title">{{video.title}}</p>
                                <div class="mask-layer" :class="{maskBlock : index == selectedTitlt[1] }"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--                    <button type="button" class="btn btn-primary" @click="addMenu(continueIndex,'child')">保存</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile_preview" id="mobileDiv" :class="{preview : preview==1}">
        <div class="mobile_preview-item">
            <div class="mobile_preview_ft">
                <div class="pre_menu_list">
                    <div class="pre_menu_item" v-for="(item,index) in menuList" @click="selectionPopout(index)">
                        <div class="pre_menu_link text-ellipsis">{{item.title}}</div>
                        <div class="sub_pre_menu_box" v-if="item.child.length > 0"
                             :class="{sub_pre_menu_box_show: selectedIndex[0] == index }">
                            <div class="sub_pre_menu_box_item" v-for="(child,cindex) in item.child"
                                 @click.stop="selectionPopout(index,cindex)">
                                <div style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                    {{child.title}}
                                </div>
                            </div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="moblie_preview_weapp js_preview_weapp_wrapper" style="display: none">-->
            <!--                <div class="weapp_hd">-->
            <!--                    <i class="icon_back_weapp js_preview_weapp_close">返回</i>-->
            <!--                    <p class="weapp_title js_preview_weapp_title"></p>-->
            <!--                </div>-->
            <!--                <div class="preview_extra">电脑端暂不支持预览小程序</div>-->
            <!--            </div>-->
        </div>
        <a href="" class="mobile_preview_closed btn btn_default" id="viewClose">退出预览</a>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '.wechat-menu',
        data: {
            menuList: [
                {
                    title: '新建菜单',
                    type: 1,
                    child: [
                        {
                            title: '子级1',
                            type: 1
                        },
                        {
                            title: '子级2',
                            type: 2
                        },
                        {
                            title: '子级3',
                            type: 1
                        },
                        {
                            title: '子级4',
                            type: 1
                        },
                    ]
                },
                {
                    title: '新建菜单',
                    type: 2,
                    child: []
                },
            ],
            selectedMenu: null,
            selectedIndex: [-1, -1],
            continueIndex: -1,//清除一级菜单索引

            type: '1',
            preview: '0',
            selectedTitlt: [],
            teimage: [
                {title: '去哪玩', type: 1, weui: [{msda: '梅赛德斯奔驰',}, {msda: '梅赛德斯奔驰',}, {msda: '梅赛德斯奔驰',}],},
                {title: '去哪玩', type: 2, weui: []},
                {title: '去哪玩', type: 1, weui: []},
                {title: 'music', type: 3, uploadtime: '2010-21-21 21:21:21', duration: '00:34',},
                {title: 1231, type: 4,},
                {title: '去哪玩', type: 1, weui: [{msda: '梅赛德斯奔驰',}, {msda: '梅赛德斯奔驰',}, {msda: '梅赛德斯奔驰',}],},
                {title: '去哪玩', type: 2, weui: []},
                {title: 'music', type: 3, uploadtime: '2010-21-21 21:21:21', duration: '00:34',},
                {title: 1231, type: 4,},
            ],
            selectedPreview: [],
            // menuContent:[],
        },
        // mounted(){
        //     $(".menu-child").sortable()
        // },
        methods: {


            /**
             * 添加菜单
             */
            addMenu(index, type) {
                let menu = {};
                let that = this;
                menu.title = "新建菜单";
                menu.type = 1;
                if (type == 'parent') {
                    menu.child = [];
                    that.menuList.push(menu);
                    let len = that.menuList.length;
                    setTimeout(function () {
                        len--;
                        that.chooseMenu(len, -1);
                    }, 200)
                } else {
                    let len = that.menuList[index].child.length;
                    if (len < 1 && that.continueIndex == -1) {
                        $('#clearParentModel').modal('show')
                        that.continueIndex = index;
                    } else {
                        $('#clearParentModel').modal('hide')
                        that.continueIndex = -1;
                        that.menuList[index].child.push(menu);
                        setTimeout(function () {
                            that.chooseMenu(index, len);
                        }, 200)
                    }
                }
            },
            /**
             * 预览
             */
            showPhone() {
                return this.preview = 1;
            },
            /**
             *选择菜单
             */
            handleMenu() {

            },
            /**
             * 选择菜单
             */
            chooseMenu(index, childIndex) {
                this.selectedIndex = [index, childIndex];
                if (childIndex > -1) {
                    this.selectedMenu = this.menuList[index].child[childIndex];
                } else {
                    this.selectedMenu = this.menuList[index];
                }
            },
            /**
             * 上移
             */
            moveUp() {
                if (this.selectedIndex[1] > -1) {
                    if (this.selectedIndex[1] > 0) {
                        this.selectedIndex[1] = this.selectedIndex[1] - 1
                        this.chooseMenu(this.selectedIndex[0], this.selectedIndex[1])
                    }
                } else {
                    if (this.selectedIndex[0] > 0) {
                        this.selectedIndex[0] = this.selectedIndex[0] - 1
                        this.chooseMenu(this.selectedIndex[0], this.selectedIndex[1])
                    }
                }
            },
            /**
             * 下移
             */
            moveDown() {
                if (this.selectedIndex[1] > -1) {
                    if (this.selectedIndex[1] < this.menuList[this.selectedIndex[0]].child.length - 1) {
                        this.selectedIndex[1] = this.selectedIndex[1] + 1
                        this.chooseMenu(this.selectedIndex[0], this.selectedIndex[1])
                    }
                } else {
                    if (this.selectedIndex[0] < this.menuList.length - 1) {
                        this.selectedIndex[0] = this.selectedIndex[0] + 1
                        this.chooseMenu(this.selectedIndex[0], this.selectedIndex[1])
                    }
                }
            },
            /**
             * 更改子项
             */
            edit() {
                let index = this.selectedIndex;
                let menu = JSON.parse(JSON.stringify(this.selectedMenu));
                if (index[1] > -1) {
                    this.menuList[index[0]].child[index[1]] = menu;
                } else {
                    this.menuList[index[0]] = menu;
                }
            },
            /**
             * 选择消息类型
             */
            selectType(type) {
                return this.type = type;
            },
            selecting() {
                $('#selectType').modal('show')
            },
            selected(image, index) {
                this.selectedTitlt = [image, index]
                console.log(this.selectedTitlt)
                // console.log(this.selectedTitlt[1])
            },
            /**
             * 删除选择内容
             */
            removeContent() {
                this.selectedTitlt = "";
                console.log(this.selectedTitlt)
            },
            /**
             * 移除当前菜单
             */
            remove() {
                let index = this.selectedIndex;
                if (index[1] > -1) {
                    this.menuList[index[0]].child.splice(index[1], 1);
                } else {
                    this.menuList.splice(index[0], 1);
                }
                this.selectedIndex = [-1, -1];
                this.selectedMenu = null;
            },
            /**
             *移除所有菜单
             */
            deleteMenu() {
                let index = this.selectedIndex;
                this.menuList.splice(index);
                this.selectedMenu = null;
            },
            /**
             * 预览菜单选项
             */
            selectionPopout(index, childIndex) {
                this.selectedIndex = [index, childIndex];
                if (childIndex > -1) {
                    this.selectedMenu = this.menuList[index].child[childIndex];
                    this.selectedPreview = this.menuList[index]
                    console.log(this.selectedPreview)

                } else {
                    this.selectedMenu = this.menuList[index];
                }
            },
            preserve() {
                console.log(121212)
            },
        },
    })
</script>
{/block}