<div class="message">
    <div class="message-body">
      <div class="left-navigation">
        <h4>消息通知</h4>
        <ul id="myTab" class="nav-tabs">
          {foreach $type_list as $key=>$val}
          <li class="">
            <a href="#" data-toggle="tab" data-type-id="{$val.id}">{$val.title}</a>
            <span class="information-quantity">1</span>
          </li>
          {/foreach}
        </ul>
      </div>
  
      <div  class="right-content tab-content" id="myTabContent">
        <div class="order tab-pane fade in active" id="order">
          <div class="content-head">
            <h4>订单消息</h4>
            <button class="close"data-dismiss="modal">×</button>
          </div>
          <div class="order-list">
            <ul>
              <li>
                  <div class="order-type">
                      <h4>付款成功通知</h4>
                      <p class="time">2022/03/29 12:34</p>
                    </div>
                    <div class="order-content">
                      <div class="icon">
                        <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                      </div>
                      <div class="order-details">
                        <p class="">尊敬的用户，您购买的订单【云小店】已经成功付款啦，订单号为100920220329312</p>
                        <p class="">商品总额：<span>¥647</span></p>
                        <p class="">数量：<span>1</span></p>
                        <p class="">折扣：<span>无</span></p>
                        <p class="actually-paid">实付金额：<span class="">¥647</span></p>
                      </div>
                      <div class="operate">
                        <span class="expand">展开</span>
                        <span class="put-away">收起</span>
                        <i class="iconfont">&#xeabc;</i>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="order-type">
                      <h4>付款成功通知</h4>
                      <p class="time">2022/03/29 12:34</p>
                    </div>
                    <div class="order-content">
                      <div class="icon">
                        <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                      </div>
                      <div class="order-details">
                        <p class="">尊敬的用户，您购买的订单【云小店】已经成功付款啦，订单号为100920220329312</p>
                        <p class="">商品总额：<span>¥647</span></p>
                        <p class="">数量：<span>1</span></p>
                        <p class="">折扣：<span>无</span></p>
                        <p class="actually-paid">实付金额：<span class="">¥647</span></p>
                      </div>
                      <div class="operate">
                        <span class="expand">展开</span>
                        <span class="put-away">收起</span>
                        <i class="iconfont">&#xeabc;</i>
                      </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="loading-part tab-pane fade" id="loading-part">
          <div class="content-head">
            <h4>评论</h4>
            <button class="close"data-dismiss="modal">×</button>
          </div>
          <div class="loading-part-list">
            <ul>
              <li class="">
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <p class="content">是我自己啊评论了您的课程：“12节小白基础训练营”课程很好，非常适合小白学习，跟着老师一步一步操作
                    一点都不会出错，老师讲的很细致，大赞</p>
                  <p class="time">2022/03/29 18:35</p>
                </div>
              </li>
              <li class="">
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <p class="content">是我自己啊评论了您的课程：“12节小白基础训练营”课程很好，非常适合小白学习，跟着老师一步一步操作
                    一点都不会出错，老师讲的很细致，大赞</p>
                  <p class="time">2022/03/29 18:35</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="like tab-pane fade" id="like">
          <div class="content-head">
            <h4>点赞</h4>
            <button class="close"data-dismiss="modal">×</button>
          </div>
          <div class="content-head-list">
            <ul>
              <li class="">
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <p class="content">小笑骁点赞了您的文章：“我是文章标题啊……”</p>
                  <p class="time">2022/03/29 18:35</p>
                </div>
              </li>
              <li class="">
                  <div class="avatar">
                    <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                  </div>
                  <div class="comment">
                    <p class="content">小笑骁点赞了您的文章：“我是文章标题啊……”</p>
                    <p class="time">2022/03/29 18:35</p>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="store-up tab-pane fade" id="store-up">
          <div class="content-head">
            <h4>收藏</h4>
            <button class="close"data-dismiss="modal">×</button>
          </div>
          <div class="store-up-list">
            <ul>
              <li class="">
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <p class="content">于飞视觉收藏了您的课程：“12节小白基础训练营”</p>
                  <p class="time">2022/03/29 18:35</p>
                </div>
              </li>
              <li class="">
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <p class="content">suvis收藏了您的专栏：“法律小课堂-楼下邻居太吵怎么办”</p>
                  <p class="time">2022/03/29 18:35</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="system-notice tab-pane fade" id="system-notice">
          <div class="content-head">
            <h4>系统通知</h4>
            <button class="close"data-dismiss="modal">×</button>
          </div>
          <div class="system-notice-list">
            <ul>
              <li>
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <div class="message-types">
                    <h4>公告</h4>
                    <span class="time">2022/03/29 18:35</span>
                  </div>
                  <div class="content">
                    <p>
                      亲爱的酷友：
  
                      晚上好呀～为了提供更好的服务与体验，当前小 Z 正在努力加班加点升级，升级时间预计 1 小时（3月19日 
                      01:30开始），期待与你深夜再次相遇，或者早点休息，明天再见吧，祝你好梦~
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="avatar">
                  <img src="__STATIC__/ucenter/images/default-minerva-man.png" alt="">
                </div>
                <div class="comment">
                  <div class="message-types">
                    <h4>公告</h4>
                    <span class="time">2022/03/29 18:35</span>
                  </div>
                  <div class="content">
                    <p>
                      速来创作品牌全新LOGO参与品牌形象焕新的潮流！
                      国控星鲨品牌全新LOGO&70周年徽标设计大赛火热进行中！
                      此次大赛总奖金高达15万元！
                      心动就赶快行动～
                      小Z温馨提示：
                      上传作品后还需要同步提交作品的创意说明、基础规范及效果展示哦～
                      让我们一起用灵感和创意点燃健康美学！
                      作品征集时间：3月1日 - 4月13日23:59
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(window).ready(function() {
    $(".operate").click(function() {
      $(this)
        .parent()
        .toggleClass("operate-Invert");
      $(this)
        .parent()
        .nextAll(".operate")
        .removeClass("operate-Invert");
      $(this)
        .parent()
        .next()
        .slideToggle();
      $(this)
        .parent()
        .prevAll(".operate")
        .slideUp("slow");
      $(this)
        .parent()
        .next()
        .nextAll(".operate")
        .slideUp("slow");
      return false;
    });
  });
  
  $(function(){
    // 默认点击第一个消息类型
    $('.message .nav-tabs a').first().click();
  
    $('.message .nav-tabs a').click(function(){
      $('.message .nav-tabs li').removeClass('active');
  
      $(this).parent().addClass('active');
    });
  
  });
  </script>