{if $vo['type'] == 'announce'}
<div class="object-item preview announce" data-type="announce" data-object-index="announce-{$key}">
	<div class="announce-preview">
		<div class="announce-lists-box swiper-announce-container">
			<div class="announce-left">公告</div>
			<ul class="announce-list swiper-wrapper">
				{notempty name="$vo['data']['list']"}
				{foreach $vo['data']['list'] as $vo_data}
			    <li class="text-ellipsis" data-type="{$vo_data['type']}" data-id="{$vo_data['id']}">{$vo_data['title']}</li>
			    {/foreach}
				{/notempty}
		    </ul>
		</div>
	</div>
</div>
{/if}