{if $vo['type'] == 'exam_paper_list'}
<!--试卷列表-->
<div class="object-item preview exam-paper-list" data-type="exam_paper_list" data-object-index="exam_paper_list-{$key}">
	<div class="exam-paper-list-preview">
        <div class="title clearfix">
        	<h3>{$vo['data']['title']}</h3>
        	<small class="more">查看更多 </small>
        </div>
        <div class="list rank{$vo['data']['rank']} clearfix">
			<!--竖排-->
			{if $vo['data']['rank'] == 1}
			{foreach $vo['data']['list'] as $key => $data}
			{if $vo['data']['style'] == 0}
			<div class="item small" data-type="exam_paper_list_item" data-id="{$data['id']}">
				<div class="image">
					<img src="{$data['cover_400']}" />
				</div>
				<div class="content">
					<div class="title h3 text-ellipsis-2">{$data['title']}</div>
					<div class="info">
						<div class="type">
						{if $classroom_config_data['show_view'] == 1}
						<div class="view">
							<i class="fa fa-eye" aria-hidden="true"></i> 
							<span class="view-num">{$data['handling_view']}</span>
						</div>
						{/if}
						
						{if $classroom_config_data['show_sale'] == 1}
						<div class="shopping">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i> 
							<span class="shopping-num">{$data['handling_sales']}</span>
						</div>
						{/if}

						{if $classroom_config_data['show_favorites'] == 1}
						<div class="favorites">
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span class="favorites-num">{$data['handling_favorites']}</span>
						</div>
						{/if}

						<div class="download">
							<i class="fa fa-download" aria-hidden="true"></i>
							<span class="download-num">{$data['handling_download']}</span> 
						</div>
						</div>
						<div class="price">￥ {if $data['price'] == 0}免费{else}{$data['price']}{/if}</div>
					</div>
				</div>
			</div>
			{/if}

			{if $vo['data']['style'] == 1}
			<div class="item big" data-type="exam_paper_list_item" data-id="{$data['id']}">
				<div class="image">
					<img src="{$data['cover_400']}" />
				</div>
				<div class="content">
					<div class="title h3 text-ellipsis-2">{$data['title']}</div>
					<div class="info">
						<div class="type">
						{if $classroom_config_data['show_view'] == 1}
						<div class="view">
							<i class="fa fa-eye" aria-hidden="true"></i> 
							<span class="view-num">{$data['handling_view']}</span>
						</div>
						{/if}
						
						{if $classroom_config_data['show_sale'] == 1}
						<div class="shopping">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i> 
							<span class="shopping-num">{$data['handling_sales']}</span>
						</div>
						{/if}

						{if $classroom_config_data['show_favorites'] == 1}
						<div class="favorites">
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span class="favorites-num">{$data['handling_favorites']}</span>
						</div>
						{/if}

						<div class="download">
							<i class="fa fa-download" aria-hidden="true"></i>
							<span class="download-num">{$data['handling_download']}</span> 
						</div>
						</div>
						<div class="price">￥ {if $data['price'] == 0}免费{else}{$data['price']}{/if}</div>
					</div>
				</div>
			</div>
			{/if}
			{/foreach}
			{/if}
			
			<!--横排-->
			{if $vo['data']['rank'] == 0}
			{foreach $vo['data']['list'] as $key => $data}
			<div class="item" data-type="exam_paper_list_item" data-id="{$data['id']}">
				<div class="image">
					<img src="{$data['cover_400']}" />
				</div>
				<div class="content">
					<div class="title h3 text-ellipsis-2">{$data['title']}</div>
					<div class="info">
						<div class="type">
						{if $classroom_config_data['show_view'] == 1}
						<div class="view">
							<i class="fa fa-eye" aria-hidden="true"></i> 
							<span class="view-num">{$data['handling_view']}</span>
						</div>
						{/if}
						
						{if $classroom_config_data['show_sale'] == 1}
						<div class="shopping">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i> 
							<span class="shopping-num">{$data['handling_sales']}</span>
						</div>
						{/if}

						{if $classroom_config_data['show_favorites'] == 1}
						<div class="favorites">
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span class="favorites-num">{$data['handling_favorites']}</span>
						</div>
						{/if}

						<div class="download">
							<i class="fa fa-download" aria-hidden="true"></i>
							<span class="download-num">{$data['handling_download']}</span> 
						</div>
						</div>
						<div class="price">￥ {if $data['price'] == 0}免费{else}{$data['price']}{/if}</div>
					</div>
				</div>
			</div>
			{/foreach}
			{/if}
		</div>
	</div>
</div>
<!--试卷列表END-->
{/if}