{if $vo['type'] == 'forum_list'}
<!--社群列表-->
<div class="object-item" data-type="forum_list" data-object-index="forum_list-{$key}" data-category-api="{php echo murl('site/entry',['do'=>'category','action'=>'lists','m'=>'muu_forum'],true)}">
    <div class="object-drag forum-list">
        <div class="forum-list-preview">
            <div class="title clearfix">
                <h3>{$vo['data']['title']}</h3>
                <small class="more color">查看更多</small>
            </div>
            <div class="list rank{$vo['data']['rank']} clearfix">
                {if $vo['data']['rank'] == 1}
                {loop $vo['data']['list'] $forum_key $forum_data}
                {if $vo['data']['style'] == 0}
                <div class="item small" data-type="forum_list_item" data-id="{$forum_data['id']}">
                    <div class="image">
                        <img src="{$forum_data['cover_200']}" />
                    </div>
                    <div class="content">
                        <div class="title h3 text-ellipsis">{$forum_data['title']}</div>
                        <div class="mbmber">
                            <span class="mbmber-item">{$forum_data['member_total']}成员</span>
                            <span>{$forum_data['post_total']}动态</span>
                        </div>
                        <div class="description text-ellipsis-2">{$forum_data['description']}</div>
                    </div>

                </div>
                {/if}
                {if $vo['data']['style'] == 1}
                <div class="item big" data-type="forum_list_item" data-id="{$forum_data['id']}">
                    <div class="image">
                        <img src="{$forum_data['cover_800']}" />
                    </div>
                    <div class="content">
                        <div class="title h3 text-ellipsis-2">{$forum_data['title']}</div>
                        <div class="mbmber">
                            <span class="mbmber-item">{$forum_data['member_total']}成员</span>
                            <span>{$forum_data['post_total']}动态</span>
                        </div>
                    </div>
                    <div class="photo">
                        <img src="{$forum_data['manager_user_info']['avatar']}" alt="">
                    </div>
                </div>
                {/if}

                {/loop}
                {/if}

                {if $vo['data']['rank'] == 0}
                {loop $vo['data']['list'] $forum_key $forum_data}
                <div class="item" data-type="forum_list_item" data-id="{$forum_data['id']}">
                    <div class="image">
                        <img src="{$forum_data['cover_200']}" />
                    </div>
                    <div class="content">
                        <div class="title h3 text-ellipsis-2">{$forum_data['title']}</div>
                        <div class="mbmber">
                            <span class="mbmber-item">{$forum_data['member_total']}成员</span>
                            <span>{$forum_data['post_total']}动态</span>
                        </div>
                    </div>

                </div>
                {/loop}
                {/if}
            </div>
        </div>
    </div>
</div>

<!--社群列表END-->
{/if}