{if $vo['type'] == 'member'}
<!--会员块START-->
<div class="object-item preview member" data-type="member" data-object-index="member-{$key}">
	<div class="object-drag member">
		<div class="member-block-preview">
			<div class="member-block-item">
				<a href="#" class="clearfix">
			    	<div class="vip-icon">
			    		<img src="__IMG__/VIP.png" />
			    	</div>
			    	<div class="desc">
			    		<p class="title">{$classroom_config["title"]}会员</p>
				    	<p class="info">尊享专属会员权益</p>
				    </div>
			    	<div class="action"><i class="fa fa-angle-right"></i></div>
		    	</a>
			</div>
		</div>
	</div>
</div>
<!--会员块END-->
{/if}