{if $vo['type'] == 'miniprogram_live_list'}
<!--小直播列表-->
<div class="object-item" data-type="miniprogram_live_list" data-object-index="miniprogram_live_list-{$key}">
	<div class="object-drag miniprogram-live-list">
		<div class="live-list-preview">
            <div class="live-list-preview">
                <div class="title clearfix">
                	<h3>{$vo['data']['title']}</h3>
                	<small class="more">查看更多 </small>
                </div>
                <div class="list rank{$vo['data']['rank']} clearfix">
            	{if $vo['data']['rank'] == 1}
				{loop $vo['data']['list'] $live_key $live_data}
				    {if $vo['data']['style'] == 0}
					<div class="item small" data-type="live_list_item" data-id="{$live_data['roomid']}">
						<div class="image">
							<img src="{$live_data['share_img']}" />
							<div class="type-container">小直播</div>
						</div>
						<div class="content">
                            <div class="title text-ellipsis-2"><span class="label">{$live_data['live_status_str']}</span> {$live_data['name']}</div>
                            <div class="description text-ellipsis">{$live_data['start_time_str']} - {$live_data['end_time_str']}</div>
						</div>
					</div>
					{/if}
					{if $vo['data']['style'] == 1}
					<div class="item big" data-type="live_list_item" data-id="{$live_data['roomid']}">
						<div class="image">
							<img src="{$live_data['share_img']}" />
							<div class="type-container">小直播</div>
						</div>
						<div class="content">
                            <div class="title text-ellipsis-2"><span class="label">{$live_data['live_status_str']}</span> {$live_data['name']}</div>
                            <div class="description text-ellipsis">{$live_data['start_time_str']} - {$live_data['end_time_str']}</div>
						</div>
					</div>
					{/if}
				{/loop}
				{/if}

				{if $vo['data']['rank'] == 0}
                {loop $vo['data']['list'] $live_key $live_data}
                    {if $vo['data']['style'] == 0}
					<div class="item" data-type="live_list_item" data-id="{$live_data['roomid']}">
			      		<div class="image">
			      			<img src="{$live_data['share_img']}" />
			      			<div class="type-container">小直播</div>
			      		</div>
						<div class="content">
                            <div class="title text-ellipsis-2"><span class="label">{$live_data['live_status_str']}</span> {$live_data['name']}</div>
                            <div class="description text-ellipsis">{$live_data['start_time_str']} - {$live_data['end_time_str']}</div>
						</div>
                    </div>
                    {/if}
                    {if $vo['data']['style'] == 1}
					<div class="item big" data-type="live_list_item" data-id="{$live_data['roomid']}">
						<div class="image">
							<img src="{$live_data['share_img']}" />
							<div class="type-container">小直播</div>
						</div>
						<div class="content">
                            <div class="title text-ellipsis-2"><span class="label">{$live_data['live_status_str']}</span> {$live_data['name']}</div>
                            <div class="description text-ellipsis">{$live_data['start_time_str']} - {$live_data['end_time_str']}</div>
						</div>
					</div>
					{/if}
				{/loop}
				{/if}
				</div>
			</div>
		</div>
	</div>
</div>

<!--小直播课程列表END-->
{/if}