/*************文章列表组件*****************/

.page-object {
	.page-object-item {   
        .article-list-preview {

            .title {
                padding:5px 0;
                margin-bottom: 10px;
                h2,h3 {
                    float:left;
                    margin:0 20px 0 0;
                    font-size: 24px;
                    font-weight: 500;
                    color: #333;
                }
                .sub-title {
                    font-size: 14px;
                    line-height: 26px;
                    color: #999;
                }
                .more {
                    float: right;
                    text-align:center;
                    line-height: 26px;
                    a {
                        font-size: 14px;
                        color: #999;
                        text-decoration: none;
                    }
                  }
            }

            .list{
                display:box;
                padding: 0;
                margin-left: -10px;
                margin-right: -10px;
                //样式一
                .item-style0 {
                    background-color: #fff;
                    float:left;
                    box-sizing: border-box;
                    padding:0 10px 10px 10px;
                    margin-bottom: 10px;
                    width:20%;
                    a {
                        .image {
                            position: relative;
                            border-radius:5px;
                            overflow:hidden;
                            img {
                                width:100%;
                                border-radius:5px;
								vertical-align: bottom;
								transition:transform 0.5s;
                            }
                        }
                        .content {
                            padding:0;
                            min-height: 60px!important;
    
                            .title {
                                font-weight: 550;
                                font-size:16px;
                                padding:20px 0 3px 0;
                                color: #000;
                                margin-bottom: 0;
                            }
    
                            .info {
                                display: block;
    
                                .category {
                                    float: left;
                                    width: 60%;
                                    min-width: 60px;
                                    text-align: left;
                                    color:#999;
                                    font-size: 12px;
                                    overflow: hidden;
                                }
                            }
                        }
                        &:hover {
							text-decoration: none;
							.image {
								img {
									transform: scale(1.1);
    								-ms-transform: scale(1.1);
								}
							}
                            .content {
                                .title {

                                }
                            }
						}
                    }
                    
                }
                //样式二
                .item-style1 {
                    background-color: #fff;
                    float:left;
                    box-sizing: border-box;
                    padding:0 10px 10px 10px;
                    margin-bottom: 10px;
                    width:50%;
                    a {
                        .content {
                            position: relative;
                            background-color: #f2f2f2;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            padding: 180px 0 10px 0;
                            margin-bottom: 0;
                            border-radius: 5px;
                            overflow: hidden;
                            z-index: 1;
                            .bg {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background: rgba(0,0,0,.4);
                                z-index: 3;
                            }
                            .title {
                                position: relative;
                                color: #fff;
                                padding: 10px;
                                margin-bottom: 0;
                                font-size: 22px;
                                height: 86px;
                                z-index: 5;
                                overflow: hidden;
                            }
                            .description {
                                color: #fff;
                                padding: 10px;
                            }
                            .info {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                                color: #fff;
                                z-index: 5;
                            }
                        }
                        &:hover {
							text-decoration: none;
							.image {
								img {
									transform: scale(1.1);
    								-ms-transform: scale(1.1);
								}
							}
						}
                    }
                }
                //样式三
				.item-style2 {
					background-color: #fff;
					float:left;
					box-sizing: border-box;
					padding:0 10px;
					margin-bottom: 10px;
					width:50%;
					.title {
						float: left;
						font-weight: 500;
						font-size:18px;
						padding:0;
						color: #333;
						margin: 0;
						width: 80%;
                        a {
                            color: #333;
                            &:hover {
                                color: #03b8cf;
                                text-decoration: none;
                            }
                        }
					}
					.create-time {
						float: right;
						width: 20%;
						line-height: 28px;
						color: #999;
						display: block;
					}
				}
            }	
        }
    }
}

.Blue {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #03b8cf;
                            }
                        }
					}
				}
            }
        }
    }
}
.Green {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #00ce74;
                            }
                        }
					}
				}
            }
        }
    }
}
.LightRed {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #ea644a;
                            }
                        }
					}
				}
            }
        }
    }
}

.Orange {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #ff9900;
                            }
                        }
					}
				}
            }
        }
    }
}

.LightPink {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #FFB6C1;
                            }
                        }
					}
				}
            }
        }
    }
}

.Magenta {
    .page-object {
        .page-object-item {
            .article-list-preview {
                //样式三
				.item-style2 {
					.title {
                        a {
                            &:hover {
                                color: #8666b8;
                            }
                        }
					}
				}
            }
        }
    }
}

