.page-object {
	.page-object-item {
		margin-bottom: 30px;
		/*线下课列表*/
		.offline-list-preview {
			
			.title {
				padding:5px 0;
				margin-bottom: 10px;
				h2,h3 {
					float:left;
					margin:0 20px 0 0;
					font-size: 24px;
					font-weight: 500;
					color: #333;
				}
				.sub-title {
					font-size: 14px;
					line-height: 26px;
					color: #999;
				}
			    .more {
			      float: right;
			      text-align:center;
				  line-height: 26px;
				  a {
					  font-size: 14px;
					  color: #999;
					  text-decoration: none;
				  }
			    }
			}

			.list{
				display: box;
				padding: 0;
				margin-left: -10px;
				margin-right: -10px;
				//横排
				.item {
					background-color: #fff;
					float: left;
					box-sizing: border-box;
					padding:0 10px 10px 10px;
					margin-bottom: 10px;
					width:20%;

					a {
						.image {
							position: relative;
							border-radius:5px;
							overflow:hidden;
						  
							img {
								
								width:100%;
								vertical-align: bottom;
								transition:transform 0.5s;
							}
	
							.type-container {
								  position:absolute;
								  bottom:5px;
								  right:5px;
								  background-color:rgba(0,0,0,.5);
								  color:#fff;
								  padding:2px 5px;
								  border-radius:5px;
							}
						}
						.content {
							padding:0;
	
							.title {
								font-weight: 550;
								font-size:16px;
								padding:20px 0 3px 0;
								color: #000;
								margin-bottom: 0;
							}
							.description {
								color:#999;
								font-size:12px;
								margin-bottom: 10px;
							}
	
							.info {
								margin-top:0;
	
								.type {
									float: left;
									width: 60%;
									text-align: left;
									color:#999;
									font-size: 12px;
									overflow: hidden;
	
									div {
									  display: inline-block;
									  margin-right:5px;
									}
								}
	
								.price {
									float:right;
									span {
										font-size: 18px;
									}
								}
							}
						}
						&:hover {
							text-decoration: none;
							.image {
								img {
									transform: scale(1.1);
    								-ms-transform: scale(1.1);
								}
							}
						}
					}
				}
			}
		}
	}
}

/*风格价格色系样式*/
.Green {
	.page-object {
		.offline-list {
			.price {
				color: #00ce74;
			}
		}
	}
}

.Blue {
	.page-object {
		.offline-list {
			.price {
				color: #03b8cf;
			}
		}
	}
}

.LightRed {
	.page-object {
		.offline-list {
			.price {
				color: #ea644a;
			}
		}
	}
}

.Orange {
	.page-object {
		.offline-list {
			.price {
				color: #ff9900;
			}
		}
	}
}

.LightPink {
	.page-object {
		.offline-list {
			.price {
				color: #FFB6C1;
			}
		}
	}
}

.Magenta {
	.page-object {
		.offline-list {
			.price {
				color: #8666b8;
			}
		}
	}
}