{extend name="common/main"/}
{block name="body"}
<!-- 标题栏 -->
<div class="main-title">
    <h2>
        用户反馈&nbsp;&nbsp;&nbsp;
    </h2>
</div>

<div class="with-padding">
    <!-- 数据列表 -->
    <div class="data-table">
        <ul class="nav nav-tabs">
            <li {$status==
            'all' ? 'class="active"' : ''}><a class="status-change" data-status="all" data-tab>全部</a></li>
            <li {$status==
            '0' ? 'class="active"' : ''}><a class="status-change" data-status="0" data-tab>未处理</a></li>
            <li {$status==
            '1' ? 'class="active"' : ''}><a class="status-change" data-status="1" data-tab>已处理</a></li>
        </ul>
        <script>
            $('.status-change').on('click', null, function () {
                window.location.href = "./list?status=" + $(this).data('status');
            })
        </script>
        {notempty name="lists.data"}
        <table class="table table-bordered table-striped table-hover muu-table">
            <thead>
            <tr>
                <th>{:lang("ID")}</th>
                <th class="">应用</th>
                <th class="">用户</th>
                <th>反馈内容</th>
                <th class="">图片</th>
                <th class="">状态</th>
                <th class="">创建日期</th>
                <th class="">反馈日期</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="lists.data" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.app_alias}</td>
                <td>{$vo['user_info']['nickname']}</td>
                <td>{$vo.content}</td>
                <td>
                    {notempty name="$vo.images_format"}
                    {volist name="vo.images_format" id="img" key="k" }
                    {if $k == 1}
                    <a class="btn btn-sm btn-instagram" data-group="image-group-1" data-toggle="lightbox"
                       href="{$img.format}">浏览图片</a>
                    {else /}
                    <a data-group="image-group-1" data-toggle="lightbox" href="{$img.format}"></a>
                    {/if}
                    {/volist}

                    {else /}
                    暂无图片
                    {/notempty}

                </td>
                <td><span class="label {$vo['status'] == 1 ? 'label-info' : 'label-warning'}">{$vo['status_str']}</span></td>
                <td><span>{$vo.create_time_str}</span></td>
                <td><span>{$vo.update_time_str}</span></td>

                <td>
                    {if $vo['status'] == 0}
                    <a class="btn btn-sm btn-info" href="{:url('status',['id'=>$vo['id'],'status'=>1])}">
                        处理
                    </a>
                    {/if}
                    <a class="btn btn-sm btn-danger ajax-get" data-confirm="确认执行该操作"
                       href="{:url('admin/action/remove',['ids'=>$vo['id']])}">
                        删除
                    </a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {else/}
        {include file="common/_empty"/}
        {/notempty}
    </div>
    <!-- 分页 -->
    <div class="page">
        {:htmlspecialchars_decode($pager)}
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function () {
    })
</script>
{/block}
