/**移动端DIY样式**/
.page-diy-section,.page-list-mobile-section {
	position:relative;
	padding-top: 0px;
	min-height:600px;

	.object-box {
		width:228px;
		position:fixed;
		z-index: 810;
		
		.panel-group {
			margin-bottom: 10px;
			height: 600px;
			overflow-x: hidden;
    		overflow-y: auto;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			&::-webkit-scrollbar {/*滚动条整体样式*/
				width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			.panel {
				&:first-child {
					margin-top: -1px;
				}
			}
			.panel-body {
				padding:0px;
				
				margin-bottom: -1px;
				.btn-object {
					color: #353535;
					background-color: #fff;
					display:block;
					float:left;
					width:102px;
					font-size: 13px;
					text-align: center;
					cursor: pointer;
					border:1px;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					
					&:active,&:hover {
						background-color: #eee;
						background-image: none;
						border-color: #eee;
					}
		
					.object-item {
						padding: 2px;
						p {
							margin-bottom: 5px;
						}
					}
		
				}

				.btn-object:nth-child(even) {
					border-right: 0;
				}
			}
		}
	}
	
	.page-diy-item {
		position:relative;
		margin-left:248px;
		width:373px;
		border:1px solid #ddd;
		border-radius: 4px;
		background:#fff;

		.preview {
			border: 0!important;
			&:hover {
		    	border: 0!important;
		    }
		}

		.page-header {
			position: relative;
			padding: 0;
			margin: 0;
			cursor:pointer;

			.config-preview {
				position: relative;
			    background-image: url('../../images/diy/img_top_weixin.png');
			    background-repeat: no-repeat;
			    background-size: cover;
			    width: 100%;
			    height: 50px;
			    border-radius: 4px 4px 0 0;

			    .page-title {
				    display: block;
				    width: 100%;
				    text-align: center;
				    position: absolute;
				    bottom: 3px;
				    font-weight: bold;
				    font-size: 16px;
				    left: 0;
				    color:#fff;
				}

				/**头部标题栏编辑区*/
				.config-controller {
				    position: absolute;
				   	left: 381px;
				   	top:0;
				    z-index: 10;
				    width: 300px;
				    min-height:150px;
				    background:#fff;
				    display: none;

					/*控制器面版下部*/
					.panel {
						margin-bottom:0;
						.panel-heading {
							font-size: 14px;
						}

						.form-group {
						    margin-bottom: 5px;
						}
					}
				}
			}
		}

		.page-footer {
			position: relative;
			padding: 0;
			padding-bottom: 8px;
			margin: 0;
			border-bottom: 1px solid #f2f2f2;
			cursor:pointer;

			

			.config-controller {
				position: absolute;
				left: 381px;
				top:0;
				z-index: 10;
				width: 300px;
				min-height:50px;
				background:#fff;
				display: none;

				/*控制器面版下部*/
				.panel {
					margin-bottom:0;
					.panel-heading {
						font-size: 14px;
					}

					.form-group {
						margin-bottom: 5px;
					}
				}
			}
		}

		.preview-target {
			
			min-height:620px;

			.list {
				padding: 0 10px;
				border: 0;
			}

			.object-item {
			    position: relative;
			    margin-bottom: 0;
			    background: #fff;
				border:1px solid #fff;
				font-size:12px;

			    &:hover {
			    	border:1px dashed #03b8cf;
			    	cursor: move;
			    }

				/*组件预览区*/
			    .object-drag {
				    min-height: 10px;
				    position: relative;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;

				    .more {
				    	float: right;
					    padding: 5px;
					    color: #999;
					    text-align: center;
					    line-height: 26px;
					}
				}
				/*组件删除按钮*/
				.del-btn {
			    	position:absolute;
			    	width:28px;
			    	height:28px;
			    	z-index: 20;
			    	top:-14px;
			    	right:-14px;
			    	display:none;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    .up-btn {
					position:absolute;
			    	width:28px;
			    	height:28px;
			    	margin-left:-14px;
			    	z-index: 20;
			    	top:-14px;
			    	left:50%;
			    	display:none;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    .down-btn {
					position:absolute;
			    	width:28px;
			    	height:28px;
			    	margin-left:-14px;
			    	z-index: 20;
			    	bottom:-14px;
			    	left:50%;
			    	display:none;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    &:hover{

					.del-btn {
			    		display: block;
			    	}

			    	.up-btn {
			    		display: block;
			    	}

			    	.down-btn {
			    		display: block;
			    	}
			    }
				/**组件编辑区*/
				.diy-preview-controller {
				    position: absolute;
				   	left: 381px;
				   	top:0;
				    z-index: 10;
				    width: 360px;
				    min-height:60px;
				    background:#fff;
				    display: none;

				    
					/*控制器面包下部*/
					.panel {
						margin-bottom:0;

						.form-group {
						    margin-bottom: 5px;

						    .link_title {

						    	.breadcrumb {
						    		margin-bottom: 0;
						    		padding:8px 0;
						    	}
						    }
						}
					}
				}
			}

			.object-item:last-child {
				margin-bottom: 0;
			}
			/* 为正在被拖动的条目应用半透明外观 */
			.object-item.dragging {
			  visibility: visible;
			  opacity: .3;
			}
		}
	}

	/*风格价格色系样式*/
	.preview-target.Green {
	  .price {
	    color: #00ce74;
	  }
	}
	.preview-target.Blue {
	  .price {
	    color: #03b8cf;
	  }
	}
	.preview-target.LightRed {
	  .price {
	    color: #ea644a;
	  }
	}
	.preview-target.Orange {
	  .price {
	    color: #ff9900;
	  }
	}
	.preview-target.LightPink {
	  .price {
	    color: #FFB6C1;
	  }
	}
	.preview-target.Magenta {
	  .price {
	    color: #8666b8;
	  }
	}
}

/* 列表显示区隐藏组件控制 */
.page-list-mobile-section {
	.object-item {
		.diy-preview-controller {
			display: none;
		}
		.action {
			display: none;
		}
	}
}



/** PC端DIY样式**/
.page-diy-pc-section {
	position:relative;
	padding-top: 0px;
	min-height:600px;

	.object-box {
		width:202px;
		position:fixed;
		float: left;

		.panel-body {
			padding:0px;
			.btn-object {
				color: #353535;
				background-color: #fff;
				display:block;
				float:left;
				width:100px;
				font-size: 13px;
				text-align: center;
				cursor: pointer;
				border:1px;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
	
				&:active,&:hover {
					background-color: #eee;
					background-image: none;
					border-color: #eee;
				}
	
				.object-item {
					padding: 5px;
					
					p {
						margin-bottom: 5px;
					}
				}
	
			}
			.btn-object:nth-child(even) {
				border-right: 0;
			}
		}

		
	}
	
	.page-diy-item {
		position:relative;
		margin-left:210px;
		margin-right: 320px;
		border:1px solid #ddd;
		border-radius: 4px;
		background:#fff;
		padding: 0 10px;
		min-width: 1060px;

		.preview {
			border: 0!important;
			&:hover {
		    	border: 0!important;
		    }
		}

		.page-header {
			padding: 0;
			margin: 0;
			cursor:pointer;

			.config-preview {
				position: relative;
			    width: 100%;
			    height: 48px;
			    border-radius: 4px 4px 0 0;

			    .page-title {
				    display: block;
				    width: 100%;
					text-align: left;
				    font-weight: bold;
				    font-size: 16px;
					color:#333;
					line-height: 48px;
				}

				/**头部标题栏编辑区*/
				.config-controller {
				    position: absolute;
					right: -320px;
					top: 0;
				    width: 310px;
				    z-index: 10;
				    min-height:120px;
				    background:#fff;
				    display: none;

					/*控制器面版下部*/
					.panel {
						margin-bottom:0;
						.panel-heading {
							font-size: 14px;
						}

						.form-group {
						    margin-bottom: 5px;
						}
					}
				}
			}
		}

		.preview-target {
			min-height:620px;
			.list {
				padding: 0 10px;
				border: 0;
			}

			.object-item {
			    position: relative;
			    margin-bottom: 30px;
			    background: #fff;
				border:1px solid #fff;
				font-size:12px;

			    &:hover {
			    	border:1px dashed #03b8cf;
			    	cursor: move;
			    }

				/*组件预览区*/
			    .object-drag {
					width: 100%;
				    min-height: 10px;
				    position: relative;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;

				    .more {
				    	float: right;
					    color: #999;
					    text-align: center;
					    line-height: 26px;
					}
				}
				/*组件删除按钮*/
				.del-btn {
			    	position:absolute;
			    	width:28px;
			    	height:28px;
			    	z-index: 20;
			    	top:-14px;
			    	right:-14px;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    .up-btn {
					position:absolute;
			    	width:28px;
			    	height:28px;
			    	margin-left:-14px;
			    	z-index: 20;
			    	top:-14px;
			    	left:50%;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    .down-btn {
					position:absolute;
			    	width:28px;
			    	height:28px;
			    	margin-left:-14px;
			    	z-index: 20;
			    	bottom:-14px;
			    	left:50%;
			    	cursor: pointer;
			    	i {
			    		color:#999;
			    	}
			    }

			    &:hover{

					.del-btn {
			    		display: block;
			    	}

			    	.up-btn {
			    		display: block;
			    	}

			    	.down-btn {
			    		display: block;
			    	}
			    }
				/**组件编辑区*/
				.diy-preview-controller {
					position: absolute;
					right: -320px;
					top: 0;
				    width: 310px;
				    min-height:60px;
					background:#fff;
					display: none;
				    
					/*控制器面包下部*/
					.panel {
						margin-bottom:0;

						.form-group {
						    margin-bottom: 5px;

						    .link_title {

						    	.breadcrumb {
						    		margin-bottom: 0;
						    		padding:8px 0;
						    	}
						    }
						}
					}
				}
			}

			.object-item:last-child {
				margin-bottom: 0;
			}
			/* 为正在被拖动的条目应用半透明外观 */
			.object-item.dragging {
			  visibility: visible;
			  opacity: .3;
			}
		}
	}

	/*风格价格色系样式*/
	.preview-target.Green {
	  .price {
	    color: #00ce74;
	  }
	}
	.preview-target.Blue {
	  .price {
	    color: #03b8cf;
	  }
	}
	.preview-target.LightRed {
	  .price {
	    color: #ea644a;
	  }
	}
	.preview-target.Orange {
	  .price {
	    color: #ff9900;
	  }
	}
	.preview-target.LightPink {
	  .price {
	    color: #FFB6C1;
	  }
	}
	.preview-target.Magenta {
	  .price {
	    color: #8666b8;
	  }
	}
}

/*diy组件的html容器*/
.diy-object-type {
	display:none;
}

/*图片上传按钮取消边框*/
.webuploader-pick {
    border: 0!important;
    padding: 0!important;
}

