/*会员组件*/
.page-diy-section .preview-target,.page-list-mobile-section .preview-target {
	.object-drag.member{
		.member-block-preview {
			position: relative;
			background: #444;
			margin: 10px 10px;
			padding: 5px 15px 5px 15px;
			border-radius: 5px;
			line-height: 48px;
			font-size: 14px;
			color: #D9B68B;
			z-index: 10;
			a {
				display: block;
				.vip-icon {
					float: left;
					width:48px;
					height:48px;

					img {
						width:100%;
					}
				}
				.desc {
					margin-left: 10px;
					float: left;
					line-height: 24px;

					.title {
						margin: 0;
						color: #D9B68B;
					}
					.info {
						margin: 0;
						font-size:12px;
						color: #8f8f94;
					}
				}
				.action {
					float: right;
					color: #D9B68B;
					background: none;
					padding: 0;
				}
			}
		}
	}
}
