/*按钮重构*/

.btn {
    border: 0;
}
.btn-primary {
    border: 0;
    background-color: #11a8bb !important;
    color: #fff;
}
.btn-primary.light {
    border: 0;
    background-color: #14c1d7 !important;
}
.btn-success {
    border: 0;
    background-color: #47D178 !important;
    color: #fff;
}
.btn-success.light {
    border: 0;
    background-color: #5fd78a !important;
}
.btn-danger {
    border: 0;
    background-color: #ee5744 !important;
    color: #fff;
}
.btn-danger.light {
    border: 0;
    background-color: #f17060 !important;
}
.btn-info {
    border: 0;
    background-color: #47d1af !important;
    color: #fff;
}
.btn-info.light {
    border: 0;
    background-color: #5fd7ba !important;
}
.btn-warning {
    border: 0;
    background-color: #f1a325 !important;
    color: #ffffff;
}

.btn-mini, .btn-sm, .btn-xs {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}