<div>
    <nav class="menu" data-ride="menu">
        <div class="title">用户中心</div>
        <ul id="treeMenu" class="tree tree-menu side-menu" data-ride="tree">
            <li id="orders">
                <a href="{:url('ucenter/Orders/lists')}"> 我的订单</a>
            </li>
            <li id="address">
                <a href="{:url('ucenter/Address/lists')}"> 我的地址</a>
            </li>
            <li id="vip">
                <a href="{:url('ucenter/Vip/lists')}"> VIP卡项</a>
            </li>
        </ul>

        <div class="title">我的积分</div>
        <ul id="treeMenu" class="tree tree-menu side-menu" data-ride="tree">
            <li id="myScore">
                <a href="{:url('ucenter/Score/index')}"> 我的积分</a>
            </li>
            <li id="scoreEstate"><a href="{:url('ucenter/Score/estate')}">积分等级</a></li>
            <!-- <li id="scorerule"><a href="{:url('scorerule')}">积分规则</a></li> -->
        </ul>

        <div class="title">账号管理</div>
        <ul id="treeMenu" class="tree tree-menu side-menu" data-ride="tree">
            <li id="base">
                <a href="{:url('ucenter/Config/index')}">基本信息</a>
            </li>
            <li id="password">
                <a href="{:url('ucenter/Config/password')}">密码修改</a>
            </li>
            <li id="wechat">
                <a href="{:url('ucenter/Config/wechat')}">绑定微信</a>
            </li>
        </ul>
    </nav>
</div>