{extend name="../../common/view/main"/}
{block name="style"}
<link href="__STATIC__/ucenter/css/main.min.css" rel="stylesheet">
<style>
    
</style>
{/block}
{block name="body"}
<div class="author-banner {$micro_config_data.style}">
    <div class="author-banner-text">
        <span>一人一角色</span>
        <span>一世一芬芳</span>
    </div>
</div>
<div class="author-lists-section {$micro_config_data.style}">
    <div class="list">
        {empty name="$lists.data"}
        {include file="../../common/view/empty"/}
        {else /}
        {foreach $lists.data as $k=>$v}
        <div class="item" data-type="author_list_item" data-id="{$v['id']}">
            <div class="image">
                <a href="{:url('detail', ['id' => $v.id])}" title="{$v.name}">
                    <img src="{$v['cover_400']}" alt="{$v.name}" loading="lazy" />
                </a>
            </div>
            <div class="content">
                <div class="title">
                    <a href="{:url('detail', ['id' => $v.id])}" title="{$v.name}">
                        {$v['name']}
                    </a>
                </div>
                <div class="professional">{$v['professional']}</div>
                <div class="description">{$v['description']}</div>
            </div>
        </div>
        {/foreach}
        {/empty}
    </div>

    <div class="page-section">
        {if !empty($pager)}
        {:htmlspecialchars_decode($pager)}
        {/if}
    </div>
</div>
{/block}

{block name="script"}


{/block}