#customHtmlModal {
	z-index: 1005;
	.modal-body {
		padding: 10px;
	}
	
}
/*预览区*/
.page-diy-pc-section .preview-target,.page-list-pc-section .preview-target {
	.custom-html {

		.custom-html-preview {

			.content{
				min-height: 12px;
				padding:0px;
			}

		}
	}
}

/*控制区*/
.page-diy-pc-section .diy-preview-controller.custom-html {
	
}