/**页面通用顶部*/
.public-header {
    position: relative;
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    border: 1px solid #fff;
    cursor:pointer;
    .page-pc-header-section {
        .pc-header.style1 {
            margin-bottom: 10px;
            .top {
                margin-top: 20px;
                margin-bottom: 30px;
                /*图片宽高 260*78 */
                .custom-logo {
                    display: block;
                    width: 260px;
                    color: #666;
                    margin-top: -15px;
                    margin-bottom: -15px;
            
                    img {
                        display: block;
                        margin-right: 10px;
                        max-width: 260px;
                        max-height: 78px;
                    }
                }
                .default-logo {
                    display: block;
                    width: 260px;
                    color: #666;
                    img {
                        display: block;
                        float: left;
                        margin-right: 10px;
                        width: 48px;
                        height: 48px;
                    }
                    h2 {
                        float: left;
                        line-height: 48px;
                        margin: 0;
                    }
                }
            
                .center {
                    display: block;
                    margin: 3px 0;
                    margin-left: 260px;
                    margin-right: 260px;
                    .navbar-form {
                        width: 520px;
                        margin: 0 auto;
                        select {
                            float: left;
                            width: 80px;
                            height: 42px!important;
                            line-height: 42px;
                            border: 1px solid #ddd;
                            border-right: 0;
                            border-radius: 0;
                            margin-bottom: 0;
                            font-size: 16px;
                            color: #666;
                            border-radius: 15px 0 0 15px;
                            padding-left: 10px;
                            appearance: auto;
                            background: #fff!important;
                            padding-right: 0;
                            &:focus {
                                outline: 0;
                                border: 1px solid #ddd;
                                border-right: 0;
                            }
                        }
                        input {
                            float: left;
                            width: 320px;
                            height: 42px;
                            line-height: 42px;
                            border: 1px solid #ddd;
                            border-left: 0;
                            border-right: 0;
                            margin-bottom: 0;
                            font-size: 14px;
                            color: #666;
                            &:focus {
                                outline: 0;
                                border: 1px solid #ddd;
                                border-left: 0;
                                border-right: 0;
                            }
                        }
                        button {
                            width: 80px;
                            height: 42px;
                            border-left: 0;
                            border-radius: 0 15px 15px 0;
                            margin-bottom: 0;
                            color: #fff;
                        }
                    }
                }
            
                .user-nav {
                    width: 260px;
                    height: 42px;
                    float: right;
                    border: none;
                    border-radius: 0;
                    margin: 3px 0;
                    background-color: #fff;
            
                    .navbar-custom-menu{
                        float: right;
                        .navbar-nav>li {
                            position: relative;
                        }
                        .user-menu {
                            
                            a.dropdown-toggle {
                                display: block;
                                padding: 0;
                                line-height: 43px;
                                height: 43px;
                                font-size: 14px;
                                overflow: hidden;
                            }
                            .user-image {
                                float: left;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                margin-right: 10px;
                                margin-top: 3px;
                                margin-bottom: 3px;
                            }
                            .nickname {
                                display: inline-block;
                                max-width:110px;
                                height: 42px;
                                line-height: 42px;
                            }
                            .user-card {
                                width: 220px;
                                padding: 0;
                                border: 1px solid #f2f2f2;
                                .user-header {
                                    padding: 10px;
                                    background-color: #f2f2f2;
                                    text-align: center;
                                    img {
                                        width: 46px;
                                        height: 46px;
                                    }
                                    p{
                                        margin: 10px auto;
                                    }
                                }
                                .user-footer {
                                    padding: 10px;
                                    .btn {
                                        padding: 0 10px;
                                        line-height: 28px;
                                        &:hover {
                                            color: #fff!important;
                                        }
                                    }
                                }
            
                            }
                        }
                        .my-knowledges {
                            a {
                                padding: 0 5px;
                                line-height: 43px;
                                font-size: 14px;
                                color: #666;
                                &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
                        .line {
                            a {
                            color: #999; 
                            &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
                        .register,.login {
                            width: auto!important;
                            a {
                                padding: 0 5px;
                                line-height: 33px;
                                font-size: 14px;
                                margin: 5px 0;
                                color: #666;
                                &:hover {
                                    background-color: #fff;
                                    color: #000!important;
                                }
                            }
                        }
                        .register {
                            a {
                                color: #fff;
                                padding: 0 25px;
                                border-radius: 15px;
                                margin-left: 15px;
                                &:hover {
                                    background-color: #f2f2f2;
                                    color: #000!important;
                                }
                            }
                        }
                    }
                }
            }
            
            .nav-menu {
                .navbar-collapse {
                    padding: 0;
            
                    .main-menu {
                        > li {
                            padding: 0 15px;
                            &:first-child {
                                padding-left: 0;
                            }
                            > a {
                                padding: 8px 0;
                                font-size: 16px;
                                &:hover {
                                    background-color: #fff;
                                }
                            }
            
                            .dropdown-menu {
            
                                border: 1px solid #f2f2f2;
                                li {
                                    a {
                                        font-size: 14px;
                                        line-height: 32px;
                                        border-bottom: 0;
                                        &:after {
                                            display: none;
                                            content:'';
                                        }
                                        &:hover {
                                            background-color: #f2f2f2;
                                            color: #666;
                                        }
                                        &:focus {
                                            background-color: #f2f2f2;
                                            color: #666;
                                        }
                                    }
                                    
                                }
                                .dropdown-menu {
                                    top: 5px;
                                }
                            }
                        }
                    }
                    .sub-menu {
                        li {
                            padding: 0 15px;
                            a {
                                padding: 10px 0;
                                font-size: 14px;
                                color: #666;
                                &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
            
                        .dropdown-menu {
                            padding: 5px;
                            width: 200px;
                        }
                    }
                }
            }
        }

        .pc-header.style2 {
            margin-bottom: 1px;
            .top {
                margin-top: 5px;
                margin-bottom: 5px;
                /*图片宽高 260*78 */
                .custom-logo {
                    display: block;
                    width: 260px;
                    color: #666;
            
                    img {
                        display: block;
                        margin-right: 10px;
                        max-width: 260px;
                        max-height: 78px;
                    }
                }
                .default-logo {
                    display: block;
                    width: 260px;
                    color: #666;
                    img {
                        display: block;
                        float: left;
                        margin-right: 10px;
                        width: 48px;
                        height: 48px;
                    }
                    h2 {
                        float: left;
                        line-height: 48px;
                        margin: 0;
                    }
                }
            
                .center {
                    display: block;
                    margin: 0;
                    margin-left: 260px;
                    margin-right: 160px;
                    .main-menu {
                        > li {
                            padding: 0 10px;
                            &:first-child {
                                padding-left: 0;
                            }
                            > a {
                                padding: 14px 0 10px 0;
                                font-size: 16px;
                                &:hover {
                                    background-color: #fff;
                                }
                            }
            
                            .dropdown-menu {
            
                                border: 1px solid #f2f2f2;
                                li {
                                    a {
                                        font-size: 14px;
                                        line-height: 32px;
                                        border-bottom: 0;
                                        &:after {
                                            display: none;
                                            content:'';
                                        }
                                        &:hover {
                                            background-color: #f2f2f2;
                                            color: #666;
                                        }
                                        &:focus {
                                            background-color: #f2f2f2;
                                            color: #666;
                                        }
                                    }
                                    
                                }
                                .dropdown-menu {
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
            
                .user-nav {
                    width: 160px;
                    height: 48px;
                    float: right;
                    border: none;
                    border-radius: 0;
                    margin: 0;
                    background-color: #fff;
            
                    .navbar-custom-menu{
                        float: right;
                        .navbar-nav>li {
                            position: relative;
                        }
                        .user-menu {
                            
                            a.dropdown-toggle {
                                display: block;
                                padding: 0;
                                line-height: 48px;
                                height: 48px;
                                font-size: 14px;
                                overflow: hidden;
                            }
                            .user-image {
                                float: left;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                margin-right: 10px;
                                margin-top: 3px;
                                margin-bottom: 3px;
                            }
                            .nickname {
                                display: inline-block;
                                max-width:110px;
                                height: 48px;
                                line-height: 48px;
                            }
                            .user-card {
                                width: 220px;
                                padding: 0;
                                border: 1px solid #f2f2f2;
                                .user-header {
                                    padding: 10px;
                                    background-color: #f2f2f2;
                                    text-align: center;
                                    img {
                                        width: 46px;
                                        height: 46px;
                                    }
                                    p{
                                        margin: 10px auto;
                                    }
                                }
                                .user-footer {
                                    padding: 10px;
                                    .btn {
                                        padding: 0 10px;
                                        line-height: 28px;
                                        &:hover {
                                            color: #fff!important;
                                        }
                                    }
                                }
            
                            }
                        }

                        .register,.login {
                            width: auto!important;
                            a {
                                padding: 0 5px;
                                line-height: 38px;
                                font-size: 14px;
                                margin: 5px 0;
                                color: #666;
                                &:hover {
                                    background-color: #fff;
                                    color: #000!important;
                                }
                            }
                        }
                        .register {
                            a {
                                color: #fff;
                                padding: 0 25px;
                                border-radius: 15px;
                                margin-left: 15px;
                                &:hover {
                                    background-color: #f2f2f2;
                                    color: #000!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**页面顶部通用栏编辑区*/
    .config-controller {
        position: absolute;
        right: -320px;
        top: 0;
        width: 310px;
        z-index: 10;
        min-height:120px;
        background:#fff;
        display: none;

        /*控制器面版下部*/
        .panel {
            margin-bottom:0;
            .panel-heading {
                font-size: 14px;
            }

            .form-group {
                margin-bottom: 5px;
                .uploadImgBtn {
                    margin-right: 5px;
                }
            }
        }
    }
    &:hover {
        border:1px dashed #03b8cf;
    }
}


/*风格价格色系样式*/
.Green {
    .pc-header {
        .center {
            button {
                background-color: #00ce74;
            }
        }
        .register {
            a {
                background-color: #00ce74;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #00ce74;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #00ce74;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #00ce74;
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}
.Blue {
    .pc-header {
        .center {
            button {
                background-color: #03b8cf;
            }
        }
        .register {
            a {
                background-color: #03b8cf;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #03b8cf;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #03b8cf;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #03b8cf;
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}
.LightRed {
    .pc-header {
        .center {
            button {
                background-color: #ea644a;
            }
        }
        .register {
            a {
                background-color: #ea644a;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #ea644a;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #ea644a;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #ea644a;
            text-decoration: none;
            background-color: #f2f2f2;
        }
        
    }
}
.Orange {
    .pc-header {
        .center {
            button {
                background-color: #ff9900;
            }
        }
        .register {
            a {
                background-color: #ff9900;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #ff9900;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #ff9900;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #ff9900;
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}
.LightPink {
    .main-header {
        .center {
            button {
                background-color: #FFB6C1;
            }
        }
        .register {
            a {
                background-color: #FFB6C1;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #FFB6C1;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #FFB6C1;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #FFB6C1;
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}
.Magenta {
    .pc-header {
        .center {
            button {
                background-color: #8666b8;
            }
        }
        .register {
            a {
                background-color: #8666b8;
            }
        }
        .nav-menu {
            a {
                &:hover {
                    color: #8666b8;
                }
            }
            .active {
                a {
                    border-bottom: 4px solid #8666b8;
                }
            }
        }
        .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
            color: #8666b8;
            text-decoration: none;
            background-color: #f2f2f2;
        }
    }
}

