/*************单图片组件*****************/
.page-diy-pc-section .preview-target,.page-list-pc-section .preview-target {
	
	/*预览区*/
	.object-drag.single-img {
		
		.single-img-preview {
			background:#eee;
			min-height: 100px;
			line-height: 50px;
			text-align: center;

			img {
				width: 100%;
				display:block;
				vertical-align: bottom;
			}
		}
	}
	/*控制区*/
	.diy-preview-controller.single-img {

		.single-img-item {
			border-bottom:1px solid #ddd;
			margin-bottom:10px;
			
			.img {
				
			}
			.cont {
				padding:5px;
			}
			.add {
				padding:5px 0;
				height:auto;
			}
		}
	}
}


