{extend name="common/main"/}

{block name="body"}
    <div class="main-title">
        <h2>应用管理</h2>
    </div>

    <div class="with-padding">

        <div class="button-box tool-box clearfix">
            <ul class="pull-left nav nav-pills nav-warning">
                <li id="type_all"><a href="{:url('index', ['type'=>'all'])}">所有</a></li>
                <li id="type_installed"><a href="{:url('index', ['type'=>'installed'])}">已安装</a></li>
                <li id="type_uninstalled"><a href="{:url('index', ['type'=>'uninstalled'])}">未安装</a></li>
                <li id="type_core"><a href="{:url('index', ['type'=>'core'])}">系统应用</a></li>
                <script>
                    $('#type_{$type}').addClass('active');
                </script>
            </ul>
            <div class="pull-right">
                <a href="{:url('admin/module/index',array_merge($_GET,array('refresh'=>1)))}" class="btn btn-default">
                    <i class="icon-undo"></i>
                    <span>重置全部</span>
                </a>
            </div>
        </div>
        <section class="module-list cards clearfix">
            {volist name="modules" id="vo"}
            <div class="item">
                <div class="module-list-box" data-id="{$vo.id}" data-url="{$vo.entry}" data-module="{$vo.name}">
                    <div class="card">
                        <div class="media-wrapper">
                            <div class="cover-icon">
                                <a href="{:url($vo.entry)}" target="_blank">
                                    <img class="images" src="{$vo.icon}"/>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card-heading title">
                                <h3>{$vo.alias} <small>{$vo.version}</small></h1></h3>
                            </div>
                            <div class="card-content text-muted">
                                <p class="text-muted text-ellipsis" title="{$vo.summary}">{$vo.summary}</p>
                                <p class="">应用目录：{$vo.name}</p>
                                <p class="text-muted text-ellipsis">
                                    <span>开发者：</span> 
                                    <a style="color: #666">{$vo.developer}</a></p>
                            </div>
                            
                            <div class="card-actions clearfix">
                                {if $vo['is_com'] == 1 || $vo['uninstall'] == 1}
                                    {if $vo['is_setup'] == 1}
                                        <!--进入-->
                                        <a class="btn btn-block btn-info" href="{:url($vo.entry)}">进入应用</a>
                                        <a class="btn btn-block btn-danger" href="{:url('uninstall', ['id' => $vo['id']])}">卸载</a>
                                    {else/}
                                        <!--进入-->
                                        <a class="btn btn-block btn-default disabled" href="{:url($vo.entry)}">进入应用</a>
                                        <a class="btn btn-block btn-success" href="{:url('install', ['name' => $vo['name']])}">安装</a>
                                    {/if}
                                {else /}
                                    <a class="btn btn-block btn-info" href="{:url($vo.entry)}">进入应用</a>
                                    <a disabled class="btn btn-block btn-default">系统应用</a>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
        </section>
        
        <!--模块分页-->
        <div class="pager">
            {:htmlspecialchars_decode($page)}
        </div>
    </div>

{/block}
{block name="script"}

{/block}
