<form action="{:url('admin/module/install')}" method="post" class="ajax-form" role="form">
    <div class="form-body">
        <div class="form-group">
            <label class="">唯一标识</label>
            <div class="">
                <input type="hidden" name="name" value="{$module['name']}">
                {$module.name}
            </div>
        </div>

        <div class="form-group">
            <label class="">应用名称</label>
            <div class="">
                <input type="text" class="form-control" name="alias" placeholder="应用名称" value="{$module['alias']}">
            </div>
        </div>

        <div class="form-group">
            <label class=""></label>
            <div class="form-controls">
                <button type="submit" class="btn btn-block btn-success">确认安装</button>
            </div>
        </div>
    </div>
</form>