<div class="object-box">
	<div class="panel-group" id="accordionPanels" aria-multiselectable="true">

		{notempty name="diy_params_config"}
		{foreach $diy_params_config as $v}
		<div class="panel panel-default">
			<div class="panel-heading" id="headingOne">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionPanels" href="#collapse_{$v.name}">
					{$v.alias}
				</a>
			</h4>
			</div>
			<div id="collapse_{$v.name}" class="panel-collapse collapse in">
				<div class="panel-body object-lists">
					{notempty name="v.list"}
					{foreach $v.list as $c_k => $c_v}
					<div class="btn-object" 
					data-app="{$v.name}" 
					data-title="{$c_v.title}"
					data-type="{$c_v.type}"
					data-list-api="{$c_v['api']['list']|default=''}" 
					data-category-api="{$c_v['api']['category']|default=''}">
						<div class="object-item">
							<i class="fa fa-{$c_v['icon']}" aria-hidden="true"></i>
							<p>{$c_v['title']}</p>
						</div>
					</div>
					{/foreach}
					{/notempty}
				</div>
			</div>
		</div>
		{/foreach}
		{/notempty}
	</div>

    <div class="btn-box submit">
		<button type="button" data-rule="diy_page_submit" class="btn btn-lg btn-success btn-block" data-type="mobile" data-id="{$page_data.id|default=0}"> 保 存 </button>
	</div>
</div>

<script>
	//$('.content-wrapper').scrollTop()
	$(function(){
		$('.page-diy-section .object-box').height();
		$('.content-wrapper').scroll(function() {
			//console.log($('.content-wrapper').scrollTop());
			if($('.page-diy-section .object-box').hasClass('businss')){
				if($('.content-wrapper').scrollTop() >= 10){
					$('.page-diy-section .object-box').css('top',10);
				}else{
					$('.page-diy-section .object-box').css('top',66);
				}
			}else{
				if($('.content-wrapper').scrollTop() >= 60){
					$('.page-diy-section .object-box').css('top',60);
				}else{
					$('.page-diy-section .object-box').css('top',116);
				}
			}
		});
	});
</script>