{extend name="../../admin/view/common/main"/}

{block name="style"}
<script type="text/javascript" charset="utf-8" src="__STATIC__/common/lib/webuploader/js/webuploader.js"></script>
<link href="__STATIC__/common/lib/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="__COMMON__/lib/Swiper-3.4.2/css/swiper.min.css">
<script type="text/javascript" src="__COMMON__/lib/Swiper-3.4.2/js/swiper.min.js"></script>
<link href="__ADMIN_CSS__/main.min.css" rel="stylesheet" type="text/css"/>
<!--DIY组件依赖静态资源-->
{:htmlspecialchars_decode($app_static_tmpl)}
{/block}

{block name="body"}
<ol class="breadcrumb">
	<i class="icon icon-angle-left"></i>
	<li>
		<a href="{:url('mobileList')}">自定义页面</a>
	</li>
	<li>
		移动端
	</li>
	<li>
		页面DIY
	</li>
</ol>
<section class="page-diy-section this-page" data-role="page_diy_section" data-this-page="page">
	
	{include file="admin/mobile/_panel" /}
	<section class="page-diy-content">
		<section class="page-diy-item">
			<div class="{$config_data['style']|default='Blue'}">
				<div class="page-header">
					<div class="config-preview">
						<span class="page-title">
						{empty name="$page_data['title']")}
							点击设置页面标题
						{else /}
							{$page_data['title']}
						{/empty}
						</span>

						<div class="config-controller">
							<div class="panel panel-info">
								<div class="panel-heading">
									基础信息
								</div>
								<div class="panel-body">
									<div class="form-group">
										<input type="text" name="title" class="form-control" value="{$page_data['title']|default=''}" placeholder="页面标题" />
									</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" name="description" placeholder="简单描述">{$page_data['description']|default=''}</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="preview-target {$config_data['style']|default='Blue'}">
					{if !empty($page_data['data'])}
					<!--加载各应用自定义组件START-->
					{:htmlspecialchars_decode($app_block_tmpl)}
					<!--加载各应用自定义组件END-->
					{/if}
				</section>
				<section class="diy-script">
					<!--加载各应用自定义组件START-->
					{:htmlspecialchars_decode($app_script_tmpl)}
					<!--加载各应用自定义组件END-->
				</section>
				<div class="page-footer">
					<div class="config-preview">
					{include file="admin/mobile/_footer" }
					</div>
					<div class="config-controller">
						<div class="panel panel-info">
							<div class="panel-heading">
								底部导航设置
							</div>
							<div class="panel-body">
								<div class="form-group">
									<select class="form-control" name="footer_show">
										{if isset($page_data['footer_show']) && $page_data['footer_show'] == 1}
										<option value="1" selected>显示</option>
										<option value="0" >隐藏</option>
										{else}
										<option value="1" >显示</option>
										<option value="0" selected>隐藏</option>
										{/if}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	
</section>
{include file="admin/_modal" /}
{include file="admin/common/_api" /}
{/block}

{block name="script"}
<script type="text/javascript" src="__COMMON__/lib/zui/lib/sortable/zui.sortable.min.js"></script>
<script src="__ADMIN_JS__/main.min.js"></script>
{/block}
