{extend name="../../admin/view/common/main"/}

{block name="style"}
<script type="text/javascript" charset="utf-8" src="__STATIC__/common/lib/webuploader/js/webuploader.js"></script>
<link href="__STATIC__/common/lib/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="__COMMON__/lib/Swiper-3.4.2/css/swiper.min.css">
<script type="text/javascript" src="__COMMON__/lib/Swiper-3.4.2/js/swiper.min.js"></script>
<link href="__ADMIN_CSS__/main.min.css" rel="stylesheet" type="text/css"/>
<!--DIY链接至依赖静态资源-->
{:htmlspecialchars_decode($link_static_tmpl)}
{/block}
{block name="script"}

{/block}
{block name="body"}
<ol class="breadcrumb">
	<i class="icon icon-angle-left"></i>
	<li>
		<a href="{:url('mobile')}">导航管理</a>
	</li>
	<li>
		移动端
	</li>
	<li>
		底部导航管理
	</li>
</ol>

<div class="choose">
	<ul class="nav nav-tabs">
	  <li>
	  	<a href="{:url('pc')}" role="button">PC端</a></li>
	  <li class="active">
	  	<a href="{:url('mobile')}">移动端</a>
	  </li>
	</ul>
</div>

<!-- 底部导航装修页面 -->
<section class="footer-content clearfix" style="background-color: #fff;padding: 10px;height: 833px;">
	
	<section class="footer-manage-section" id="pageType" data-page-type="tabbar">
		<!--底部导航-->
		<div class="page-footer">
            {include file="admin/mobile/_footer"/}
		</div>
		<!--底部导航end-->
		
		<div class="footer-config-box this-page" data-role="page_diy_section" data-this-page="footer">
			<div class="">
				<div class="panel">
				 	<div class="panel-heading">
				    底部导航
				 	</div>
				 	<div class="panel-body">
			    		<div class="footer-nav-box">

				    		<div class="footer-nav-form-item">
						 		<div class="choose">
									{if !empty($config_data['footer'])}
									<select class="form-control" name="colume" data-colume="{$config_data['footer']['colume']}">
										<option value="2">2列</option>
										<option value="3">3列</option>
										<option value="4">4列</option>
										<option value="5">5列</option>
									</select>
									{/if}
									<script>
										$(function(){
											var colume = $('.footer-config-box select[name="colume"]').data('colume');
											$('.footer-config-box select[name="colume"] option').each(function(){
											    if($(this).val() == colume){
											    	$(this).attr("selected",true);
											    }
											});
										});
									</script>
							    </div>
							</div>
							
							{notempty name="$config_data['footer']['data']"}
                            {foreach $config_data['footer']['data'] as  $k=>$vo}
							{if $k != 0 && $k != ($config_data['footer']['colume']-1)}
							<div class="form-horizontal footer-nav-form-item enable custom">
					    		<div class="form-group">
								    <div class="col-sm-12">
									    <input type="text" name="nav_title" class="form-control" value="{$vo['nav_title']}" >
									</div>
								</div>
								<div class="form-group">
								    <div for="" class="col-sm-3 control-label">
									    <input type="hidden" name="icon_id" value="{$vo['icon_id']|default=0}">
									    <input type="hidden" name="icon_url" value="{$vo['icon_url']|default=''}">
									    <button class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
									    	选择图标
									    </button>
									</div>
								</div>
								<div class="form-group">
                                    {include file="admin/common/_link_btn" /}
								</div>
							</div>
							
							{else}
							<div class="form-horizontal footer-nav-form-item enable system">
					    		<div class="form-group">
					    			<div class="col-sm-12">
										<input type="text" name="nav_title" class="form-control" value="{$vo['nav_title']|default=''}" >
									</div>
								</div>
								<div class="form-group">
								    <div for="" class="col-sm-3">
										<input type="hidden" name="icon_id" value="{$vo['icon_id']|default=0}">
									    <input type="hidden" name="icon_url" value="{$vo['icon_url']|default=''}">
									    <button class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
									    	选择图标
									    </button>
									</div>
								</div>
								<div class="form-group">
								
								{if $k == 0}
									<input type="hidden" name="link_title" value="首页">
									<input type="hidden" name="link_type" value="index">
								{/if}

								{if $k == ($config_data['footer']['colume']-1)}
									<input type="hidden" name="link_title" value="我的">
									<input type="hidden" name="link_type" value="user">
								{/if}
								</div>
							</div>
							{/if}
							{/foreach}
							{/notempty}
						</div>
				 	</div>
				</div>
			</div>
		</div>
	</section>

	<div class="submit-box">
		<button type="button" data-rule="diy_footer_submit" data-url="{:url('tabbar')}" class="btn btn-lg btn-info btn-block">
             保 存 
        </button>
	</div>	

</section>

<!--控制区元素-->
<script type="text/html" id="customNavItem">
	<div class="form-horizontal footer-nav-form-item enable custom">
		<div class="form-group">
		    <div class="col-sm-12">
			    <input type="text" name="nav_title" class="form-control" value="导航" >
			</div>
		</div>
		<div class="form-group">
		    <div for="" class="col-sm-3">
			    <input type="hidden" name="icon_id" value="0">
			    <input type="hidden" name="icon_url" >
			    <button class="btn btn-primary" data-toggle="modal" data-target="#iconModal">
			    	选择图标
			    </button>
			</div>
		</div>
		<div class="form-group">
			<div class="clearfix" data-rule="links_list">
				<label for="" class="col-xs-3">
					<div class="dropdown">
					  	<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
					  		选择链接
					  	</button>
					</div>
				</label>
				<div class="col-xs-9">
					<div class="link_title">
						<ol class="breadcrumb">
						  <li></li>
						  <li class="active"></li>
						</ol>
					</div>
				</div>
				<!--链接至隐藏域START-->
				<input type="hidden" name="link_sys_type" >
				<input type="hidden" name="link_title" >
				<input type="hidden" name="link_type" >
				<input type="hidden" name="link_type_title" >
				<input type="hidden" name="link_url" >
				<textarea type="hidden" name="link_param" class="hidden"></textarea>
				<!--链接至隐藏域END-->
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="previewNavItem">
	<div class="item enable custom">
		<img src="__IMG__/diy/noimg.png" class="item-image">
		<div class="item-text">导航</div>
	</div>
</script>

{include file="admin/common/_modal" /}
{include file="admin/common/_api" /}
{/block}

{block name="script"}
<script type="text/javascript" src="__COMMON__/lib/zui/lib/sortable/zui.sortable.min.js"></script>
<script src="__ADMIN_JS__/main.min.js"></script>
{/block}
