.action-edit-section {

    .score-rule-item {
        .item-label {
            color: #09c;
            font-size: 15px;
        }

        .action_rule {

            .rule-label {
                width: 100px;
                margin-right: 4px;
            }
        }
    }
}