.authentication-list-section {
    .search-form {
        
        .btn-default {
            border: 1px solid #ccc;
            border-left: 0;
        }
    }
    .status-nav {
        margin-bottom: 10px;
        .btn {
            border: 1px solid #ddd;
        }
    }
    table {
        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            float: left;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .title {
            height: 60px;
            line-height: 60px;
            float: left;
            margin-left: 10px;
        }
    }
}
.form-authentication-verify {

    .form-controls {
        .text {
            padding-top: 6px;
        }
    }
}