.feedback-list-section {
    .action {
        >.btn {
            float: left;
            margin-left: 5px;
        }

        .dropdown {
            float: left;
            margin-left: 5px;
        }
    }
}