

.choose-user-body {
    .user-search {
        padding: 20px;
    }

    .user-section {
        padding: 0 14px;
        display: flex;
        flex-wrap: wrap;
        width: 598px;

        .user-item {
            width: 178px;
            margin: 6px;
            padding: 5px;
            border: 1px solid #eee;
            cursor: pointer;
            height: 62px;
        }

        .user-avatar {
            float: left;
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        .user-nickname {
            margin-left: 60px;
            line-height: 28px;
        }
    }

    .user-section::after {
        content: '';
        flex: auto;
    }

    .page {
        padding: 10px 20px;
        text-align: center;
    }
}

.form-authentication {}