.module-menu {

    .module-treeview-menu {

        li {
            .icon {
                width: 32px;
                height: 32px;
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
}