.module-menu {

    .module-treeview-menu {

        li {
            a {
                padding-left: 10px!important;
            }
            .icon {
                width: 32px;
                height: 32px;
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
}