.withdraw-lists-item {
  padding: 10px;

  .base-info {
    line-height: 32px;

    span {
      display: inline-block;
      margin-right: 60px;
      color: #666;
    }
  }

  table {
    .user-info {
      .avatar {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          display: block;
          border-radius: 50%;
        }
      }
      .info {
        .uid {
          line-height: 28px!important;
        }
        .nickname {
          line-height: 28px!important;
        }
      }
    }
  }
}

.withdraw-detail {
  .user-info {

    .cover {
      width: 60px;
      height: 60px;
      margin: 20px auto;

      img {
        width: 100%;
        display: block;
        border-radius: 50%;
      }
    }

    .title {
      text-align: center;
    }
  }
}

.withdraw-action {
  .cover {
    float: left;
    width: 32px;
    height: 32px;

    img {
      border-radius: 50%;
      width: 32px;
    }
  }

  .info {
    margin-left: 32px;
    padding-left: 10px;
    font-size: 14px;
    width: 200px;
    overflow: hidden;

    .title {
      font-size: 14px;
      font-weight: 600;
      line-height: 32px;
      color: #666;
    }
  }
}