html {
  font-family:sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body {
  background:#f2f2f2;
  font-family:-apple-system-font, "Helvetica Neue",Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
a {
  color:#333;
  text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor: pointer !important;
    }

}
ul {
  padding-left: 0;
  margin-left: 0;
}


/*后台页面按钮样式*/
.btn-new{
	background: #00ce74;
	color: #fff;
	border: 1px solid #00ce74;
	border-radius: 2px;
}
.btn-new:hover{
	background: #03a75f;
	color: #fff;
	border: 1px solid #03c470;
}


.btn-open{
	background: #fff;
	color: #00ce74;
	border: 1px solid #00ce74;
	border-radius: 2px;
}
.btn-open:hover{
	background: #fff;
	color: #03a75f;
	border: 1px solid #03a75f;
}


.btn-forbid{
	background: #fff;
	color: #ff8e20;
	border: 1px solid #ff8e20;
	border-radius: 2px;
}
.btn-forbid:hover{
	background: #fff;
	color: #de7e1f;
	border: 1px solid #de7e1f;
}


.btn-delete{
	background: #fff;
	color: #ff2020;
	border: 1px solid #ff2020;
	border-radius: 2px;
}
.btn-delete:hover{
	background: #fff;
	color: #e61d1d;
	border: 1px solid #e61d1d;
}

.btn-up{
	background: #fff;
	color: #666;
	border: 1px solid #666;
	border-radius: 2px;
}
.btn-up:hover{
	background: #fff;
	color: #00ce74;
	border: 1px solid #00ce74;
}
/*后台页面按钮样式*/

.nav-secondary>li>.a-active{
	font-size: 18px;
}
.nav-secondary>li>.a-active:hover{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.nav-secondary>li.active>.a-active{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.nav-secondary>li.active>.a-active:hover,.nav-secondary>li.active>.a-active:focus{
	font-size: 18px;
	color: #00ce74;
	border-bottom-color: #00ce74;
}
.img-avatar{
	width: 84px;
	height: 84px;
}
.control-label{
	text-align: left!important;
}
/*ZUI修复*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
/*布局通用样式*/
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.main-wrapper {
  padding-top:58px;
}
#main-container {
  margin-top:10px;
}


/*悬浮样式end*/
.user-card {
  height: 230px;
  background: white;
  margin-bottom: 15px;

  .user_info {
    margin-bottom: 20px;
    position: relative;
  }
  .user-data > div {
    padding-bottom: 10px;
  }
  .headpic {
    padding: 0;
    border-radius: 50%;
    text-align: center;
    margin-top: -40px;
  }
  .cover {
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nickname {
    padding-top: 10px;
  }
}

.tb_rank {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  margin: auto;

  td, th {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    color: #555;
  }
}

/*编辑器修复*/
.edui-btn-toolbar {
  background: white;
}
/*编辑器修复end*/

/*提示信息颜色*/
.tooltip.green .tooltip-inner {
  background-color: #2ac25f;
}
.tooltip.green.top .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-left .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-right .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.right .tooltip-arrow {
  border-right-color: #2ac25f;
}
.tooltip.green.left .tooltip-arrow {
  border-left-color: #2ac25f;
}
.tooltip.green.bottom .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-left .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-right .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.red .tooltip-inner {
  background-color: #ee4e2f;
}
.tooltip.red.top .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-left .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-right .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.right .tooltip-arrow {
  border-right-color: #ee4e2f;
}
.tooltip.red.left .tooltip-arrow {
  border-left-color: #ee4e2f;
}
.tooltip.red.bottom .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-left .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-right .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
/*提示信息颜色end*/

/*单选多选颜色修正*/
.checkbox-primary>label:after, .radio-primary>label:after {
  z-index: 1;
  border: 1px solid #999;
}
.checkbox-primary.checked>label:after, .checkbox-primary>input:checked+label:after, .radio-primary.checked>label:after, .radio-primary>input:checked+label:after {
  background-color: #03b8cf;
  border-color: #03b8cf;
  border-width: 4px;
}
.checkbox-primary.focus>label:after, .checkbox-primary>input:focus+label:after, .radio-primary.focus>label:after, .radio-primary>input:focus+label:after {
  border-color: #03b8cf;
  -webkit-box-shadow: 0 0 8px #03b8cf;
  box-shadow: 0 0 8px #03b8cf;
}
/**
 * 确认操作默认框
 */
.tip-model-content {
    
  .tip-modal-icon {
    text-align: center;
    color:#ea644a;
    margin-bottom:30px;
  }

  .tip-modal-text {
    margin:0 auto;
    width:300px;
    color:#666;
    text-align: center;
    margin-bottom:30px;
  }
  .tip-modal-btn {
    margin-bottom:30px;
    text-align: center;

    .btn {
      margin:0 10px;
    }
  }
}
/**
 * 显示加载中样式
 */
.big_loading {
  background:rgba(0,0,0,0.2);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999;
  text-align: center;
    img{
        vertical-align: middle;
    }
    img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.modal {
  z-index:10050;
}
.modal-backdrop {
  z-index:10040;
}

/*通用footer*/
// .footer-bar {
//   background:#252c34;
//   margin-top:20px;
//   padding-top:30px;
//   div {
//     color:#fff;
//   }
//   a {
//     color:#999;
//   }
//   .power-by {
//     margin-top:10px;
//     padding:8px 0;
//     border-top:1px solid #2E343B;
//   }
// }
.tabbar{
  background: #fff;
.tabbar-item {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  padding: 130px 20px 0;
 background: #fff;
  .support {
    width: 500px;

    >h3 {
      margin: 0;
      color: #212428;
      font-size: 28px;
      font-weight: 600;
    }

    >div {
      border-bottom: 1px solid #dfe1e6;

      >p {
        font-size: 16px;
        color: #828797;
        margin-top: 30px;
      }

      .E-mailAddress {
        display: flex;
        margin-top: -15px;

        >textarea {
          font-size: 16px;
          color: #222946;
          margin-top: 5px;
          line-height: 47px;
          width: 200px;
          height: 47px;
          border: 0px;
          resize: none;
        }

        >textarea:focus {
          outline: none;
        }

        .iconfont {
          font-size: 40px;
          color: #cdcdcd;
          margin-left: auto;
        }
      }
    }

    .qqCluster {
      font-size: 14px;
      color: #4c535e;
      margin-top: 20px;
    }

    .company {
      font-size: 14px;
      color: #222946;
      margin-top: 90px;

      >span {
        padding-right: 20px;
      }

      >span::after {
        content: "";
        width: 1px;
        height: 14px;
        background: #222946;
        position: absolute;
        margin: 4px 10px 0;
      }
    }

    .recordnVarchar {
      font-size: 14px;
      color: #818597;

      >span {
        padding-right: 30px;
      }

      >span::after {
        content: "";
        width: 1px;
        height: 14px;
        background: #818597;
        position: absolute;
        margin: 4px 15px 0;
      }
    }
  }

  .contactUs {
    margin-left: 260px;

    >.contactUs-item {
      color: #03b8cf;
      font-size: 16px;
      padding-left: 13px;
      margin: 0;
    }

    >div {
      margin-top: 30px;
      width: 190px;

      >img {
        width: 190px;
        height: 190px;
      }

      >p {
        //  text-align: center;
        font-size: 16px;
        color: #4e546b;
        padding-left: 13px;
      }
    }

    >h3 {
      font-size: 30px;
      color: #222946;
      margin-top: 20px;
      padding-left: 13px;
    }
  }

  .product {
    margin-left: auto;

    >h3 {
      margin: 0;
      color: #03b8cf;
      font-size: 16px;
    }

    >ul {
      margin-top: 30px;

      >li {
        height: 34px;

        >a {
          display: block;
          font-size: 14px;
          color: #72768b;
          text-decoration: none;
          line-height: 34px;
        }
      }

      >li:hover>a {
        color: #03b8cf;
      }
    }
  }
}
}




