/*通用footer*/ 
.footer {
    background: #fff;
  
    .wemreceive {
      width: 100%;
      min-width: 1200px;
      height: 362px;
      background: #20202d;
      position: relative;
  
      .wemreceive-item {
        width: 1200px;
        padding-top: 115px;
        position: absolute;
        left: 50%;
        margin-left: -600px;
        >h3 {
          color: #fff;
          font-size: 30px;
          text-align: center;
          margin: 0;
          font-weight: 400;
        }
  
        .receiveProgram {
          text-align: center;
          padding-top: 50px;
  
          >input {
            width: 341px;
            height: 47px;
            border: 1px solid #03b8cf;
            border-right: 0;
            color: #03b8cf;
            font-size: 18px;
            padding-left: 20px;
            background: #20202d;
            -webkit-text-fill-color: rgba(3, 184, 207, 0.6) !important; //#116c7e
            box-shadow: inset 0 0 200px #20202d !important;
          }
  
          input:focus {
            outline: none;
          }
  
          >button {
            width: 154px;
            height: 47px;
            color: #20202d;
            background: #03b8cf;
            vertical-align: bottom;
            font-size: 18px;
            border: 0;
            margin-left: -5px;
            font-weight: 600;
            //---------------
            outline: none;
            border: none;
            z-index: 1;
            position: relative;
            overflow: hidden;
          }
  
          //闪光
          >button::after {
            content: "";
            z-index: -1;
            position: absolute;
            background: #76f4f6;
            /*位置一步步调整 */
            top: -50%;
            left: 0%;
            bottom: -100%;
            width: 34px;
            transform: translate3d(-200%, 0, 0) rotate(35deg);
            /*  */
          }
  
          >button:hover {
            cursor: pointer;
          }
  
          >button:hover::after {
            transition: transform 0.6s ease-in-out;
            transform: translate3d(500%, 0, 0) rotate(35deg);
          }
          .scheme-prompt,.correct-prompt{
            width: 120px;
            font-size: 18px;
            border-radius: 5px;
            margin: 20px 0 0 352px;
            background: #03b8cf;
            display: none;
          }
          .correct-prompt{
            width:250px;
          }
          .scheme-prompt::before,.correct-prompt::before{
            content: '';
            width: 10px;
            height: 10px;
            background: #03b8cf;
            position: absolute;
            margin-top:-5px; 
            transform-origin: 0, 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
          //闪光
        }
      }
    }
  
    //扫码咨询
  
    .tabbar-item {
        width: 100%;
        height: 360px; 
        background: #20202d;
        >div {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            padding-top: 90px;
  
            .support {
                width: 320px;
    
                >h3 {
                    margin: 0;
                    color: #03b8cf;
                    font-size: 28px;
                    font-weight: 600;
                }
                .description {
                    margin-top: 30px;
                    color: #fff;
                    height: 180px;
                    overflow: hidden;
                }
    
                .recordnVarchar {
                    font-size: 14px;
                    color: #84848f;
        
                    >span {
                        padding-right: 30px;
                    }
            
                    >span::after {
                        content: "";
                        width: 1px;
                        height: 14px;
                        background: #84848f;
                        position: absolute;
                        margin: 4px 15px 0;
                    }
                }
            }

            .product {
                width: 180px;
                margin-left: 140px;
    
                >h3 {
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                }
    
                >ul {
                    margin-top: 30px;
        
                    >li {
                    height: 34px;
        
                    >a {
                        display: block;
                        font-size: 14px;
                        color: #828797;
                        text-decoration: none;
                        line-height: 34px;
                    }
                    }
        
                    >li:hover>a {
                        color: #fff;
                    }
                }
            }

            .contact {
                width: 260px;
                >h3 {
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                }
                .contact-us {
                    margin-top: 30px;
                    box-sizing:border-box;
                    
                    .info-box {
                        margin-top: 26px;
                        height: 40px;
                        
                        .img {
                            font-size: 18px;
                            color: #03b8cf;
                            width: 30px;
                            height: 30px;
                            margin: 5px 16px 0 0;
                            float: left;
                            opacity: 0.5;
                            -webkit-transition: opacity 0.3s ease 0s;
                            -o-transition: opacity 0.3s ease 0s;
                            transition: opacity 0.3s ease 0s;
                            line-height: 30px;
                        }
                        .value {
                            color: #fff;
                            font-size: 14px;
                            line-height: 22px;
                        }
                        .title {
                            color: #666;
                            display: block;
                            font-size: 12px;
                            line-height: 22px;
                        }
                        &:first-child {
                            margin-top: 5px!important;
                        }
                        &:hover {
                            .img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
    
            .qrcode {
                margin-left: 20px;
        
                >.contactUs-item {
                    color: #fff;
                    font-size: 16px;
                    margin: 0;
                }
        
                >p {
                    margin: 0;
                    font-size: 16px;
                    color: #828797;
                    padding-top: 30px;
                }
    
                >div {
                    display: flex;
                    margin-top: 23px;
        
                    >div {
                        width: 140px;
                        margin-right: 20px;
            
                        >img {
                            width: 137px;
                            height: 137px;
                        }
            
                        >p {
                            text-align: center;
                            font-size: 14px;
                            color: #fff;
                            margin-top: 8px;
                        }
                    }
                }
                .prompt,.getqq {
                    display: inline-block;
                    width: 100px;
                    height: 30px;
                    background: #707085;
                    text-align: center;
                    line-height: 30px;
                    font-size: 16px;
                    border-radius: 5px;
                    margin-top:17px; 
                    color: #fff;
                    display: none;
                }
                .prompt:before,.getqq:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #707085;
                    position: absolute;
                    margin: 10px 0 0 -21px;
                    transform-origin: 0, 0;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                .getqq {
                    position: absolute;
                    margin: -3px 0 0;
                }
                .qqCluster {
                    font-size: 14px;
                    color: #fff;
                    margin-top: 20px;
        
                    >textarea {
                        width: 100px;
                        border: 0px;
                        resize: none;
                        height: 22px;
                        outline: none;
                        color: #fff;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        background: #20202d;
                    }
                }
            }
        }
    }

    .company {
        font-size: 14px;
        color: #84848f;
        background: #20202d;
        text-align: center;
        line-height: 36px;
        border-top: 1px solid #45454e;
        a {
            color: #fff;
        }
    }
}