.message-modal {
    
    .modal-dialog {
        width: 1140px;
        .modal-body {
            padding: 0;
        }
    }
    //消息通知
    .message{
        width: 1140px;
        height: 820px;
        border-radius: 5px;
        .message-body{
            display: flex;
        }
        .left-navigation{
            width: 192px;
            height: 820px;
            background: #f9f9f9;
            border-radius: 5px 0 0 5px;
            text-align: left;
            padding:61px 0 0 58px;
            >h4{
                font-size: 18px;
                color: #333333;
                margin: 0;
            }
            >ul{
                border: 0;
                padding-top: 15px;
                >li{
                    font-size: 16px;
                    color: #666666;
                    line-height: 32px;
                    clear:both;
                    margin: 5px 0;
                    >a{
                        font-size: 16px;
                    }
                    .information-quantity{
                        display: inline-block;
                        height: 16px;
                        background: #ED5046;
                        border-radius: 8px;
                        font-size: 14px;
                        padding: 0 7px;
                        line-height: 16px;
                        color: #fff;
                        vertical-align: text-top;
                        margin-left: 5px;
                    }
                }
                >li:hover{
                    >a{
                        color: #03b8cf;
                        font-size: 16px;
                        border: 1px solid #f9f9f9;
                        background: #f9f9f9;
                    }
                }
                .active{
                    >a{
                        color: #03b8cf;
                        font-size: 16px;
                        border: 1px solid #f9f9f9;
                        background: #f9f9f9;
                        text-decoration: none;
                    }
                }
            }
        }
        .right-content{
            width: 83%;
            >div{
                .content-head{
                    height: 105px;
                    border-bottom: 2px solid #f9f9f9;
                    display: flex;
                    padding: 0 30px 0 63px;
                    >h4{
                        font-size: 24px;
                        color: #222222;
                        line-height: 110px;
                    }
                    .close{
                        margin-left: auto;
                        line-height: 125px;
                    }
                }
                .order-list{
                    padding: 24px 30px 0 63px;
                    text-align: left;
                    overflow-y: auto;
                    height: 690px;
                    >ul{
                        >li{
                        .order-type{
                            display: flex;
                            padding: 27px 0 10px;
                            >h4{
                                margin: 0;
                                color: #222222;
                                font-size: 18px;
                            }
                            .time{
                                margin-left: auto;
                                font-size: 12px;
                                color: #a1a0a1;
                            }
                        }
                        .order-content{
                            display: flex;
                            border-bottom: 1px solid #ededed;
                            padding-bottom: 26px;
                            .icon{
                                width: 62px;
                                    height: 62px;
                                    border-radius:5px ;
                                >img{
                                    width: 62px;
                                    height: 62px;
                                    border-radius:5px ;
                                }
                            }
                            .order-details{
                                margin-left: 23px;
                                width: 80%;
                                height: 64px;
                                overflow: hidden;
                                >p{
                                margin: 0;
                                color: #555555;
                                font-size: 16px;
                                line-height: 30px;
                                white-space:nowrap;
                                overflow:hidden;
                                text-overflow:ellipsis;
                                }
                                .actually-paid{
                                    font-size: 16px;
                                    color: #222;
                                    >span{
                                        color: #e21414;
                                        font-size: 24px;
                                    }
                                }
                            }
                            .operate{
                                color: #999999;
                                font-size: 16px;
                                margin-left: auto;
                                line-height: 20px;
                                height: 30px;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                cursor:pointer;
                                .put-away{
                                display: none;
                                }
                                .iconfont{
                                    font-size: 24px;
                                    padding: 0 5px;
                                    display: inline-block;
                                    transform:rotate(180deg);
                                    -ms-transform:rotate(180deg);
                                    -moz-transform:rotate(180deg);
                                    -webkit-transform:rotate(180deg);
                                    -o-transform:rotate(180deg);
                                    vertical-align:bottom;
                                }
                            }
                        }
                        .operate-Invert{
                        .order-details{
                            height: 146px;
                            overflow: hidden;
                        }
                        .operate{
                            .put-away{
                            display: inline-block;
                            }
                            .expand{
                            display: none;
                            }
                            .iconfont{
                            transform: rotate(0deg);
                            -ms-transform:rotate(0deg);
                            -moz-transform:rotate(0deg);
                            -webkit-transform:rotate(0deg);
                            -o-transform:rotate(0deg);
                            }
                        }
                        }
                    }
                    }
                }
                .loading-part-list,.content-head-list,.store-up-list{
                    padding: 30px 30px 0 63px;
                    text-align: left;
                    overflow-y: auto;
                    height: 690px;
                    >ul{
                        margin: 0;
                        >li{
                            display: flex;
                            border-bottom: 1px solid #ededed;
                            padding: 21px 0 0;
                            .avatar{
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                >img{
                                    width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                }
                            }
                            .comment{
                                padding:4px 0 12px;
                                border: 0;
                                width: 90%;
                                margin-left: 14px;
                                .content{
                                    color: #555555;
                                    font-size: 16px;
                                    margin: 0;
                                    line-height: 30px;
                                    // word-break: break-all;
                                    // text-overflow: ellipsis;
                                    // overflow: hidden;
                                    // display: -webkit-box;
                                    // -webkit-line-clamp: 2;
                                    // -webkit-box-orient: vertical;
                                }
                                .time{
                                    color: #a1a0a1;
                                    font-size: 12px;
                                    margin: 0;
                                    padding-top: 12px;
                                }
                            }
                        }
                    }
                }
                .content-head-list,.store-up-list{
                    >ul{
                        >li{
                            padding-bottom: 10px;
                        }
                    }
                }
                .system-notice-list{
                    padding: 30px 30px 0 63px;
                    text-align: left;
                    overflow-y: auto;
                    height: 690px;
                    >ul{
                        margin: 0;
                        >li{
                            display: flex;
                            border-bottom: 1px solid #ededed;
                            padding: 21px 0;
                            .avatar{
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                >img{
                                    width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                }
                            }
                            .comment{
                                width: 90%;
                                margin-left:14px ;
                                padding: 6px 0 0;
                                border: 0;
                                .message-types{
                                    display: flex;
                                    >h4{
                                        margin: 0;
                                        font-size: 18px;
                                        color: #222;
                                    }
                                    .time{
                                        color: #a1a0a1;
                                        font-size: 12px;
                                        padding-left: 12px;
                                    }
                                }
                                .content{
                                    padding-top: 10px;
                                    >p{
                                        margin: 0;
                                        color: #555555;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}