<!--直播课程列表-->
<script type="text/html" data-object-type="miniprogram_live_list">
	
	<div class="object-item" data-type="miniprogram_live_list">
		<div class="object-drag miniprogram-live-list">
			<div class="live-list-preview">
                <div class="title clearfix">
                	<h3>小直播</h3>
                	<small class="more">查看更多 </small>
                </div>
                <div class="list clearfix">
                	
				</div>
			</div>
			<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
			<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
			<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
		</div>
		<div class="diy-preview-controller live-list">
			<div class="panel panel-info">
			 	<div class="panel-heading">
			    	小直播列表
			 	</div>
			 	<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-3 control-label">标题</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="title" value="小直播">
					    </div>
				  	</div>
			 		
				  	<div class="form-group">
					    <label class="col-sm-3">显示数量</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="rows" value="2">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3 control-label">排列布局</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="rank">
								<option value="0">横排</option>
								<option value="1" selected>竖排</option>
							</select>
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-3">样式选择</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="style">
						    	<option value="0" selected>小图</option>
						    	<option value="1">大图</option>
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3"></label>
					    <div class="col-sm-9">
					      <button class="btn btn-primary">确认</button>
					    </div>
				  	</div>
			 	</div>	

				</div>
			</div>
		</div>
	</div>
	
</script>
<!--直播课列表END-->