<!--关注公众号START-->
<script type="text/html" data-object-type="weixin">
	<div class="object-item" data-type="weixin">
		<div class="object-drag weixin">
			<div class="weixin-preview preview">
				<div class="weixin-lists-box">
					<div class="content clearfix">
						<div class="logo"><img src={$config_data.cover_100} /></div>
						<div class="info">
							<div class="title">{$config_data.follow.title}</div>
							<div class="desc">{$config_data.follow.desc}</div>
						</div>
					</div>
					<div class="follow-btn">
						<button class="btn btn-default btn-block">关注公众号</button>
					</div>
				</div>
			</div>
			<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
			<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
			<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
		</div>

		<div class="diy-preview-controller weixin">
			<div class="panel panel-info">
			 	<div class="panel-heading">
			    	关注公众号
			 	</div>
			 	<div class="panel-body">
			 		<input type="hidden" name="title" value="关注公众号"/>
					<input type="hidden" name="type" value="weixin"/>
			 		<div class="form-horizontal weixin-item" data-rule="object-controller-item">
			    		<div class="form-group">
						    <label class="col-sm-3 control-label">描述公众号</label>
						    <div class="col-sm-9">
							    该组件无需配置
						    </div>
					  	</div>
			    	</div>
			 	</div>
			</div>
		</div>
	</div>
</script>
<!--关注公众号END-->