
<div class="object-item" data-type="single_img" data-object-index="single_img-{$key}">
	<div class="object-drag single-img">
		<div class="single-img-preview preview style-{$vo['style']}">
    		{foreach $vo['data'] as $k => $vo_data}
    			{if isset($vo_data['img_url']) && !empty($vo_data['img_url'])}
		    		<img src="{$vo_data['img_url']}" />
		    	{else}
		    		<p>单图片广告组件</p>
		    		<p>（建议宽度不低于900px的jpg、png、gif）</p>
		 		{/if}
    		{/foreach}
		</div>
	</div>
	<div class="diy-preview-controller single-img">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    	单图片广告
		 	</div>
		 	<div class="panel-body">
		 		<input type="hidden" name="title" value="单图广告"/>
		 		<input type="hidden" name="type" value="single-img"/>
		 		<div class="form-horizontal single-img-item" data-rule="object-controller-item">
		    		<div class="form-group add">
		    			<div class="col-xs-12">
		 					<input type="hidden" name="img_url" value="{$vo_data['img_url']}"/>
			 				<div class="uploadImgBtn btn btn-primary">上传图片</div>
			 			</div>
			    	</div>
			    	<div class="form-group">
						{include file="admin/_link_btn" }
					</div>
				</div>
				
				<div class="" style="margin-top: 10px;">
					<div class="form-group">
						<label class="">样式选择</label>
						<select class="form-control wide" name="style">
							{if $vo['style'] == 0}
							<option value="0" selected>通栏</option>
							<option value="1">圆角留边</option>
							{/if}

							{if $vo['style'] == 1}
							<option value="0">通栏</option>
							<option value="1" selected>圆角留边</option>
							{/if}
						</select>
					</div>

					<div class="form-group">
						<button class="btn btn-primary">预览</button>
					</div>
				</div>
		 	</div>
		</div>
	</div>
	<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
	<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
	<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
</div>
