
<div class="object-item" data-type="search">
	<div class="object-drag">
		<div class="search-block-preview preview ">
			<div class="search-block-item clearfix">
				<div class="checkin">
					<i class="fa fa-calendar-o" aria-hidden="true"></i>
				</div>
				<div class="input-control search-box search-box-circle has-icon-left has-icon-right">
				  	<input type="search" class="form-control search-input" placeholder="请输入搜索内容">
				  	<label class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
				  	<a class="input-control-icon-right search-clear-btn"><i class="icon icon-remove"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
	<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
	<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
</div>
<input type="hidden" name="app" value="micro"/>
<input type="hidden" name="title" value="搜索"/>
<input type="hidden" name="type" value="search"/>
