{extend name="common/main"/}
{block name="style"}
<script src="__STATIC__/common/lib/vue/vue-2.6.14.js"></script>
{/block}
{block name="body"}
<div class="update-warp" v-cloak>
    <div class="main-title">
        <h2>在线更新</h2>
    </div>
    <div class="with-padding main ">
        <div class="upgrade-icon">
            <img alt="" src="__STATIC__/common/images/update.gif">
        </div>
        <!-- 进度条 -->
        <div class="progress progress-striped" :class="{'active':status == 0}">
            <div aria-valuemax="100" class="progress-bar" role="progressbar" :style="{width:`${progressVal}%`}"></div>
        </div>
        <!--进度描述-->
        <div class="progress-info">
            <div class="progress-title">{{progressTitle}}</div>
            <div class="task" :class="{'task-error':status == -1}">{{task}}</div>
            <div class="progress-num">{{progressVal}}%</div>
        </div>

        <div class="error-panel panel" v-if="errPackage.length > 0">
            <div class="panel-heading">
                <h4>错误信息</h4>
            </div>
            <div class="panel-body">
                <table class="table table-borderless">
                    <tbody>
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>错误信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in errPackage">
                        <td>{{item.data.name}}</td>
                        <td>{{item.msg}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="btn-menu">
            <button class="btn btn-default" v-if="status == -1" @click="jump()">返回</button>
            <button class="btn btn-primary" v-if="status == 1" @click="jump()">确定</button>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    var vm = new Vue({
        el: '.update-warp',
        data: {
            progressVal:0,//进度值
            status:0,//更新状态 -1异常 0 进行中 1 已完成
            progressTitle:'获取信息中',//进度标题
            task:'',//进行任务
            appid:'854D7E66EA60F03720B5E9A3093AEF4D',
            appType:'{$type}',//应用类型 0系统 1应用
            api:'{$Think.config.muucmf.cloud_api}',//接口api
            localVersion:'{$version}',//本地版本
            upgradeVersion: '{$upgradeVersion}',//要升级的版本
            package:null,//更新包
            packageProgress:0,//更新包进度
            packageTotal:0,//更新包总大小
            errPackage:[],//发生更新错误包
        },
        created() {
            this.getUpgradeInfo();
        },
        methods: {
            /**
             * @title 获取应用升级信息
             */
            getUpgradeInfo(){
                let that = this;
                let api = that.api + "upgrade/"
                if (that.appType == 'system'){
                    api += "system/version";
                }else{
                    api += "app/version";
                }
                $.get(api, {
                    appid:that.appid,
                    version:that.upgradeVersion,
                }, function (res) {
                    console.log(res);
                    if (res.code == 200){
                        that.progressTitle =  '升级中';
                        that.package = res.data.data;
                        that.packageTotal = res.data.total;
                        that.upgrade();
                    }else{
                        that.status = -1;
                        that.progressTitle =  '请求成功';
                        that.task = '没有获取到相应的版本信息'
                    }
                })
            },
            async upgrade(){
                let that = this;
                let step = that.packageTotal / 100;//计算百分比 步进值
                let item = that.package[that.packageProgress];//当前升级包
                that.progressVal = Math.floor(that.packageProgress / step);//进度条
                that.task = '下载中 ' + item.name;//任务名称
                $.post("{:url('upgrade')}", {
                    appid:that.appid,
                    app_type:that.appType,
                    version:that.upgradeVersion,
                    file:item.name,
                    md5:item.md5
                }, function (res) {
                    if (res.code != 200){
                        //记录当前错误信息
                        let err = {
                            msg:res.msg,
                            data:item
                        };
                        that.errPackage.push(err);
                    }
                    //继续执行
                    that.packageProgress++;
                    if (that.packageProgress >= that.packageTotal){
                        //执行收尾工作
                        that.finishUpgrade();
                    }else{
                        //执行下一个
                        setTimeout(function () {
                            that.upgrade();
                        },200)
                    }
                })
            },
            /**
             * 问题包重试
             */
            errRetry(){

            },
            /**
             * 执行收尾任务
             */
            finishUpgrade(){
                let that = this;
                that.status = 1;
                that.progressTitle = '升级完成';
            },
            jump(){
                window.history.go(-1);
            }
        }
    })
</script>
{/block}

