<!--常用接口路径-->
<input type="hidden" name="category_api" value="{:url('classroom/admin.category/tree')}" />
<input type="hidden" name="attribute_api" value="{:url('classroom/admin.attribute/tree')}" />
<input type="hidden" name="knowledge_api" value="{:url('classroom/admin.knowledge/lists')}" />
<input type="hidden" name="column_api" value="{:url('classroom/admin.column/lists')}" />
<input type="hidden" name="teacher_api" value="{:url('classroom/admin.teacher/lists')}" />
<input type="hidden" name="material_api" value="{:url('classroom/admin.material/lists')}" />
<input type="hidden" name="offline_api" value="{:url('classroom/admin.offline/lists')}" />
<input type="hidden" name="announce_api" value="{:url('classroom/admin.announce/lists')}" />
<input type="hidden" name="config_api" value="{:url('classroom/admin.config/api')}" />
<input type="hidden" name="upload_api" value="{:url('api/file/upload')}" />
<!--店铺配置数据-->
<input type="hidden" id="show_view" value="{$config_data['show_view']}" />
<input type="hidden" id="show_sale" value="{$config_data['show_sale']}" />
<input type="hidden" id="show_favorites" value="{$config_data['show_favorites']}" />
<input type="hidden" id="show_marking_price" value="{$config_data['show_marking_price']}" />