<div class="clearfix" data-rule="links_list">
	<label for="" class="col-xs-3">
		<div class="dropdown">
		  	<button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
		  		选择链接
		  	</button>
		</div>
	</label>

	<div class="col-xs-9">
		<div class="link_title">
			<ol class="breadcrumb">
			  <li>{if !empty($vo['link']['type_title'])}{$vo['link']['type_title']}{/if}</li>
			  <li class="active">{if !empty($vo['link']['title'])}{$vo['link']['title']}{/if}</li>
			</ol>
		</div>
	</div>
	<!--链接至隐藏域START-->
	<input type="hidden" name="link_sys_type" value="{$vo['link']['sys']|default=''}">
	<input type="hidden" name="link_title" value="{$vo['link']['title']|default=''}">
	<input type="hidden" name="link_type" value="{$vo['link']['type']|default=''}">
	<input type="hidden" name="link_type_title" value="{$vo['link']['type_title']|default=''}">
	<textarea type="hidden" name="link_param" class="hidden">{$vo['link']['param']|default=''}</textarea>
	<!--链接至隐藏域END-->
</div>

