<!--连接至选择模态框-->
<div class="modal fade" id="linkTypeModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title">选择连接类型</h4>
	    	</div>
	      	<div class="modal-body">
				<input type="hidden" id="objectIndex" value="" />
				<input type="hidden" id="linkIndex" value="" />
				<div class="links-items">
					{foreach $links as $k => $vo}
					<ul class="link-type-ul clearfix">
						{notempty name="vo.links"}
						<div class="title">{$vo.alias}</div>
						{foreach $vo.links as $key => $list_vo}
						<li class="col-xs-3">
							<!--详情类-->
							
							<a 
							data-api="{$list_vo['api']|default=''}" 
							data-category-api="{$list_vo['category_api']|default=''}" 
							data-link-type="{$list_vo['link_type']|default=''}" 
							data-link-type-title="{$list_vo['link_type_title']|default=''}" 
							data-target="#linkToModal" 
							data-toggle="modal">
								<i class="fa fa-{$list_vo['icon']|default=''}"></i>
								<p>
									{$list_vo['link_type_title']}
								</p>
							</a>
							
						</li>
						{/foreach}
						{/notempty}
					</ul>
					{/foreach}
				</div>
	      	</div>
	    </div>
	</div>
</div>

<!--内部页面列表 链接至模态框-->
<div class="modal fade" id="linkToModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        	<h4 class="modal-title">链接至</h4>
	    	</div>
	      	<div class="modal-body">

	      		<div class="link-section">

	        	</div>
				<div class="link-page">
                    <ul class="pager" data-ride="pager" data-elements="prev,nav,next"></ul>
                </div>
	      	</div>
	      	<div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	            <button type="button" data-rule="list-link-submit" class="btn btn-primary submit">确认</button>
	        </div>
	    </div>
	</div>
</div>
<!--链接至模态框 END-->

<!--图标选择模态框-->
<div class="modal fade" id="iconModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title">选择图标</h4>
	    	</div>
	      	<div class="modal-body">
	      		<div class="upload-icon">
					<button class="btn uploadImgBtn">上传自定义图标</button>
	      		</div>
	      		<div class="upload-list"></div>
	      		<h3>系统图标</h3>

	      		<ul class="nav nav-tabs" role="tablist">
					{notempty name="icon_list"}
					{foreach $icon_list as $k=>$vo}
					{if $k == $config_data['style']}
					<li role="presentation"  class="active">
						<a href="#{$k}" aria-controls="{$k}" role="tab" data-toggle="tab">{$k}</a>
					</li>
					{else}
					<li role="presentation">
						<a href="#{$k}" aria-controls="{$k}" role="tab" data-toggle="tab">{$k}</a>
					</li>
					{/if}
					{/foreach}
					{/notempty}
				</ul>
				
				<div class="tab-content">
					{notempty name="icon_list"}
					{foreach $icon_list as $k=>$vo}
					<div role="tabpanel" class="tab-pane {if $k == $config_data['style']} active{/if}" id="{$k}">
						<div class="icon-section">
							{foreach $vo as $c_k=>$c_v}
							<span data-icon-url="{$c_v['url']}">
								<img src="{$c_v['url']}" />
							</span>
							{/foreach}
						</div>
					</div>
					{/foreach}
					{/notempty}
				</div>
	      	</div>
	    </div>
	</div>
</div>

<!--内部页面详情类 链接至模态框-->
<div class="modal fade" id="detailLinkModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title">链接至内部详情页</h4>
	    	</div>
	      	<div class="modal-body">
	      		<div class="link-search">
		      		<div class="input-group">
				        <div class="input-control search-box has-icon-left has-icon-right">
				        	<input type="hidden" name="api">
				        	<input id="inputSearch" type="search" class="form-control search-input empty" name="keyword" placeholder="搜索">
				        	<label for="inputSearch" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
				        </div>
				        <span class="input-group-btn">
				        	<button class="btn btn-primary" type="button">搜索</button>
				        </span>
				    </div>
				</div>
	      		<div class="link-section">

	        	</div>
	        	<div class="link-page">
                    <ul class="pager" data-ride="pager" data-elements="prev,nav,next"></ul>
                </div>
	      	</div>
	      	<div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        </div>
	    </div>
	</div>
</div>
<!--链接至模态框 END-->



<!--链接至外部链接模态框-->
<div class="modal fade" id="linkOutUrlModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title">外部链接</h4>
	    	</div>
	      	<div class="modal-body">
	      		<div class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-2">链接标题</label>
					    <div class="col-sm-10">
						    <input type="text" class="form-control" data-rule="data-link-title" placeholder="链接标题">
						</div>
					 </div>
					 <div class="form-group">
					    <label class="col-sm-2">链接URL</label>
					    <div class="col-sm-10">
						    <input type="text" class="form-control"  data-rule="data-link-url" placeholder="http://">
						</div>
					 </div>
	        	</div>
	      	</div>
	      	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="button" data-rule="outurl-link-submit" class="btn btn-primary submit">确认</button>
	      	</div>
	    </div>
	</div>
</div>
<!--链接至外部链接模态框 END-->

<!--富文本编辑器模态框-->
<div class="modal fade" id="customTextEditorModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title">自定义文本</h4>
			</div>
			<div class="modal-body">
				<div class="ueditor-box">
				{:ueditor('content', 'content')}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" data-rule="save">保存</button>
			</div>
		</div>
	</div>
</div>
<!--富文本编辑器模态框END-->

<!--自定义HTML模态框-->
<div class="modal fade" id="customHtmlModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title">自定义html</h4>
			</div>
			<div class="modal-body">
				<div class="html-box">
					<textarea class="form-control" name="content" rows="10"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" data-rule="save">保存</button>
			</div>
		</div>
	</div>
</div>
<!--自定义HTML模态框END-->