<div class="object-item" data-type="slideshow" data-object-index="slideshow-{$vars['key']}">
	<div class="object-drag slideshow">
		<div class="slideshow-preview">
			<div class="swiper-container swiper-slideshow-container style-{$vars['data']['style']}">
                <div class="swiper-wrapper">
                	{if !empty($vars['data']['data'])}
		 			{foreach $vars['data']['data'] as $key=>$vo_pre_data}
					<div class="swiper-slide">
		                <img src="{$vo_pre_data['img_url']}" class="img-responsive">
		            </div>
	    			{/foreach}
	    			{else}
	    			<div class="title-preview">
                        <p>轮播图广告组件</p>
                        <p>（推荐750*280px的一组等比例图片）</p>
                    </div>
	    			{/if}
                </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev swiper-button-white muu-button-prev"></div>
                <div class="swiper-button-next swiper-button-white muu-button-next"></div> <!-- 白色 -->
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
		</div>
	</div>
	
	<div class="diy-preview-controller slideshow">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    轮播广告
		 	</div>
		 	<div class="panel-body">
		 		<input type="hidden" name="title" value="轮播"/>
		 		<input type="hidden" name="type" value="slideshow"/>
		 		<div class="slideshow-img-box">
		 			{if !empty($vars['data']['data'])}
		 			{foreach $vars['data']['data'] as $key => $vo_data}
					<div class="form-horizontal slideshow-form-item" data-rule="object-controller-item">
						<input type="hidden" name="img_url" value="{$vo_data['img_url']}">
						<div class="form-group">
							<div class="col-xs-12 slideshow-item">
								<img src="{$vo_data['img_url']}">
							</div>
						</div>
						<div class="form-group link-item">
							{include file="admin/_link_btn" }
						</div>
						<div class="del-item-btn"><i class="fa fa-times-circle fa-2x"></i></div></div>
	    			{/foreach}
	    			{/if}
		 		</div>
			    <div class="uploadImgBtn btn btn-primary">上传图片</div>
			    <div class="tip">建议尺寸750*280像素</div>
				<div class="form-group link-box hidden">
					<div class="clearfix" data-rule="links_list">
						<label for="" class="col-xs-3">
							<div class="dropdown">
								  <button class="btn" type="button" data-toggle="modal" data-target="#linkTypeModal">
									  选择链接
								  </button>
							</div>
						</label>
						<div class="col-xs-9">
							<div class="link_title">
								<ol class="breadcrumb">
								  <li></li>
								  <li class="active"></li>
								</ol>
							</div>
						</div>
						<!--链接至隐藏域START-->
						<input type="hidden" name="link_sys_type" >
						<input type="hidden" name="link_title" >
						<input type="hidden" name="link_type" >
						<input type="hidden" name="link_type_title" >
						<input type="hidden" name="link_url" >
						<textarea type="hidden" name="link_param" class="hidden"></textarea>
						<!--链接至隐藏域END-->
					</div>
				</div>
				<div class="" style="margin-top: 10px;">
					<div class="form-group">
						<label class="">样式选择</label>
						<select class="form-control wide" name="style">
							{if $vars['data']['style'] == 0}
							<option value="0" selected>通栏</option>
							<option value="1">圆角留边</option>
							{/if}

							{if $vars['data']['style'] == 1}
							<option value="0">通栏</option>
							<option value="1" selected>圆角留边</option>
							{/if}
						</select>
					</div>

					<div class="form-group">
						<button class="btn btn-primary">预览</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
	<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
	<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
</div>