

<div>
    <style>
        .modal-dialog {
            width: 600px;
        }
        .select_box_this {
            margin: 10px 0 20px;
            width: 100%;
            text-align: right;
            font-size: 16px;
        }
        .select_box_this .form-group {
            margin-top: 5px;;
        }
    </style>
    <form id="migration" action="{:url()}" method="post" class="ajax-form">

        {empty name="users"}
        <div>
            <input type="checkbox" id="systemMessage" value="systemMessage" name="sendType[]" checked>
            <label for="systemMessage">系统消息</label>

            <input type="checkbox" id="systemEmail" value="systemEmail" name="sendType[]">
            <label for="systemEmail">邮件</label>
        </div>

        {else /}
        <div>
            <input type="checkbox" id="systemMessage" value="systemMessage" name="sendType[]" checked>
            <label for="systemMessage">系统消息</label>

            <input type="checkbox" id="systemEmail" value="systemEmail" name="sendType[]">
            <label for="systemEmail">Email</label>

            {volist name="users" id="one_user"}
                <label style="margin-right: 10px">
                       [{$one_user['uid']}]{$one_user['nickname']}
                </label>
            {/volist}
            <input type="hidden" name="uids" value="{$uids}">
        </div>

        {/empty}
        <div class="form-group clearfix">
            <input type="text" name="title" class="form-control" placeholder="{:lang('_THE_TITLE_OF_AN_INCOMING_MESSAGE_WITH_DOUBLE_')}">
        </div>

        <div class="form-group clearfix">
            <input type="text" name="url" class="form-control " placeholder="{:lang('_URL_LINK_TO_ENTER_A_MESSAGE_WITH_DOUBLE_')}">
        </div>

        <div class="form-group">
            <textarea class="content"></textarea>
        </div>

        <div style="width: 100%;text-align: center;">
            <a class="btn btn-primary" data-role="submit">{:lang("_SEND_OUT_")}</a>
            <a onclick="$('.close').click();" class="btn btn-default">取消</a>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('[data-role="submit"]').click(function () {
            var query = $('#migration').serialize();
            var url = $('#migration').attr('action');
            $.post(url, query, function (msg) {
                if (msg.status) {
                    toast.success({:lang('_MESSAGE_SENDING_SUCCESS_WITH_SINGLE_')});
                    setTimeout(function () {
                        location.reload()
                       // window.location.href = msg.url;
                    }, 1500);
                } else {
                    handleAjax(msg);
                }
            }, 'json');
        });
    });
</script>
