<!--自定义文本-->
<script type="text/html" data-object-type="custom_text">
	
	<div class="object-item" data-type="custom_text">
		<div class="object-drag custom-text">
			<div class="custom-text-preview">
                <div class="content">
                    <span class="tmp-text">自定义文本</span>
                </div>
			</div>
			<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
			<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
			<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
		</div>
		<div class="diy-preview-controller custom-text">
			<div class="panel panel-info">
			 	<div class="panel-heading">
			    自定义文本
			 	</div>
			 	<div class="panel-body">
			 		<textarea class="hidden" name="content"></textarea>
			 		<button class="btn btn-block btn-primary" data-toggle="modal" data-target="#customTextEditorModal">
			 			富文本编辑器
			 		</button>
				</div>
			</div>
		</div>
	</div>
	
</script>
<!--自定义文本END-->