{if $vo['type'] == 'scoreshop_goods_list'}
<!--积分商品列表-->
<div class="object-item" data-type="scoreshop_goods_list" data-object-index="scoreshop_goods_list-{$key}" data-category-api="{:url('scoreshop/admin.category/tree')}">
	<div class="object-drag scoreshop-goods-list">
		<div class="scoreshop-goods-list-preview">
            <div class="title clearfix">
            	<h3>{$vo['data']['title']}</h3>
            	<small class="more">查看更多 </small>
            </div>
            <div class="list rank{$vo['data']['rank']} clearfix">
            	{if $vo['data']['rank'] == 1}
				{foreach $vo['data']['list'] as $goods_key => $goods_data}
					<div class="item" data-type="goods_list_item" data-id="{$goods_data['id']}">
						
						<div class="image">
							<img src="{$goods_data['cover_200']}" />
							<div class="type-container">{$goods_data['type_str']}</div>
						</div>
						<div class="content">
							<div class="title h3 text-ellipsis-2">{$goods_data['title']}</div>
							<div class="description text-ellipsis">{$goods_data['description']}</div>
							
							<div class="info text-ellipsis">
								<div class="price"><span class="score">{$goods_data['price']}</span></div>
					            <div class="type text-ellipsis">
					            {if $config_data['show_view'] == 1}
					            	<div class="view">
								    <i class="fa fa-eye" aria-hidden="true"></i> {$goods_data['view']}
								    </div>
					            {/if}
							    
							    {if $config_data['show_sale'] == 1}
							    	<div class="shopping">
							    	<i class="fa fa-shopping-bag" aria-hidden="true"></i> {$goods_data['sales']}
							    	</div>
							    {/if}

							    {if $config_data['show_favorites'] == 1}
								    <div class="favorites">
								    <i class="fa fa-star-o" aria-hidden="true"></i>
								    <span class="favorites-num">{$goods_data['favorites']}</span>
								    </div>
								{/if}
								</div>
					        </div>
						</div>
						
					</div>
				{/foreach}
				{/if}

				{if $vo['data']['rank'] == 0}
				{foreach $vo['data']['list'] as $goods_key => $goods_data}
					<div class="item" data-type="goods_list_item" data-id="{$goods_data['id']}">
						
			      		<div class="image">
			      			<img src="{$goods_data['cover_200']}" />
			      			<div class="type-container">{$goods_data['type_str']}</div>
			      		</div>
						<div class="content">
							<div class="title h3 text-ellipsis-2">{$goods_data['title']}</div>
							
							<div class="info">
								<div class="price"><span class="score">{$goods_data['price']}</span></div>
					            <div class="type">
					            {if $config_data['show_view'] == 1}
					            	<div class="view">
								    <i class="fa fa-eye" aria-hidden="true"></i> {$goods_data['view']}
								    </div>
					            {/if}
							    
							    {if $config_data['show_sale'] == 1}
							    	<div class="shopping">
							    	<i class="fa fa-shopping-bag" aria-hidden="true"></i> {$goods_data['sales']}
							    	</div>
							    {/if}

							    {if $config_data['show_favorites'] == 1}
								    <div class="favorites">
								    <i class="fa fa-star-o" aria-hidden="true"></i>
								    <span class="favorites-num">{$goods_data['favorites']}</span>
								    </div>
								{/if}
								</div>
					        </div>
						</div>
			        </div>
				{/foreach}
				{/if}
			</div>
		</div>
	</div>
	<div class="diy-preview-controller scoreshop-goods-list">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    积分商品
		 	</div>
		 	<div class="panel-body">
		 		<div class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-3">标题</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="title" value="{$vo['data']['title']}">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">商品分类</label>
					    <div class="col-sm-9">
							<select class="form-control wide" name="category_id" data-category-id="{$vo['data']['category_id']}">
									
							 </select>
						 </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-sm-3">显示数量</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control" name="rows" value="{$vo['data']['rows']}">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排序方法</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="order_field">
								{if $vo['data']['order_field']=='create_time'}
						    	<option value="create_time" selected>发布时间</option>
						    	{else}
						    	<option value="create_time">发布时间</option>
						    	{/if}

						    	{if $vo['data']['order_field']=='update_time'}
						    	<option value="update_time" selected>更新时间</option>
						    	{else}
						    	<option value="update_time">更新时间</option>
						    	{/if}

						    	{if $vo['data']['order_field']=='view'}
						    	<option value="view" selected>浏览量</option>
						    	{else}
						    	<option value="view">浏览量</option>
						    	{/if}

						    	{if $vo['data']['order_field']=='price'}
						    	<option value="price" selected>价格</option>
						    	{else}
						    	<option value="price">价格</option>
						    	{/if}

								{if $vo['data']['order_field']=='sort'}
								<option value="sort" selected>排序值</option>
								{else}
								<option value="sort">排序值</option>
								{/if}
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排序方向</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="order_type">
								{if $vo['data']['order_type']=='ASC'}
						    	<option value="ASC" selected>正序</option>
						    	{else}
						    	<option value="ASC">正序</option>
						    	{/if}

						    	{if $vo['data']['order_type']=='DESC'}
						    	<option value="DESC" selected>倒序</option>
						    	{else}
						    	<option value="DESC">倒序</option>
						    	{/if}
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3">排列布局</label>
					    <div class="col-sm-9">
						    <select class="form-control wide" name="rank">
								{if $vo['data']['rank']==0}
						    	<option value="0" selected>横排</option>
						    	{else}
						    	<option value="0">横排</option>
						    	{/if}

								{if $vo['data']['rank']==1}
								<option value="1" selected>竖排</option>
								{else}
								<option value="1">竖排</option>
								{/if}
							</select>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-3"></label>
					    <div class="col-sm-9">
					      <button class="btn btn-primary">确认</button>
					    </div>
				  	</div>
		 		</div>
			</div>
		</div>
	</div>
	<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
	<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
	<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
</div>

<!--积分商品列表END-->
{/if}