<!--关注公众号组件-->
{if $vo['type'] == 'weixin'}
<div class="object-item" data-type="weixin" data-object-index="weixin-{$key}">
	<div class="object-drag weixin">
		<div class="weixin-preview preview">
			<div class="weixin-lists-box style-{$vo['style']}">
				<div class="content clearfix">
					<div class="logo"></div>
					<div class="info">
						<div class="title">{:config('system.WEB_SITE_TITLE')}</div>
						<div class="desc">{:config('system.WEB_SITE_DESCRIPTION')}</div>
					</div>
				</div>
				<div class="follow-btn">
					<button class="btn btn-default btn-block">关注公众号</button>
				</div>
			</div>
		</div>
		<div class="del-btn"><i class="fa fa-times-circle fa-2x"></i></div>
		<div class="up-btn"><i class="fa fa-chevron-circle-up fa-2x"></i></div>
		<div class="down-btn"><i class="fa fa-chevron-circle-down fa-2x"></i></div>
	</div>
	<div class="diy-preview-controller weixin">
		<div class="panel panel-info">
		 	<div class="panel-heading">
		    	关注公众号
		 	</div>
		 	<div class="panel-body">
		 		<input type="hidden" name="title" value="关注公众号"/>
				<input type="hidden" name="type" value="weixin"/>
				<input type="hidden" name="style" value="{$vo['style']}"/>
		 		<div class="form-horizontal weixin-item" data-rule="object-controller-item">
		    		<div class="form-group">
					    <label class="col-sm-3 control-label">样式选择</label>
					    <div class="col-sm-9">
							<div class="follow-style-item {if $vo['style'] == 0}active{/if}" data-style="0">
								样式一
							</div>
							<div class="follow-style-item {if $vo['style'] == 1}active{/if}" data-style="1">
								样式二
							</div>
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-3"></label>
					    <div class="col-sm-9">
					      <button class="btn btn-primary">确认</button>
					    </div>
				  	</div>
		    	</div>
		 	</div>
		</div>
	</div>
</div>
{/if}