{include file="admin/mobile/component/object/announce" /}
{include file="admin/mobile/component/object/article_list" /}
{include file="admin/mobile/component/object/search" /}
{include file="admin/mobile/component/object/single_img" /}
{include file="admin/mobile/component/object/slideshow" /}
{include file="admin/mobile/component/object/category_nav" /}
{include file="admin/mobile/component/object/custom_text" /}
{include file="admin/mobile/component/object/column_list" /}
{include file="admin/mobile/component/object/knowledge_list" /}
{include file="admin/mobile/component/object/teacher_list" /}
{include file="admin/mobile/component/object/weixin" /}
{include file="admin/mobile/component/object/member" /}
{include file="admin/mobile/component/object/scoreshop_goods_list" /}
{include file="admin/mobile/component/object/miniprogram_live_list" /}
{include file="admin/mobile/component/object/live_list" /}
{include file="admin/mobile/component/object/category" /}
{include file="admin/mobile/component/object/minishop_goods_list" /}
{include file="admin/mobile/component/object/offline_list" /}
{include file="admin/mobile/component/object/activity_list" /}
{include file="admin/mobile/component/object/material_list" /}
{include file="admin/mobile/component/object/exam_paper_list" /}
{include file="admin/mobile/component/object/forum_list" /}