{include file="admin/mobile/component/script/announce" /}
{include file="admin/mobile/component/script/search" /}
{include file="admin/mobile/component/script/single_img" /}
{include file="admin/mobile/component/script/slideshow" /}
{include file="admin/mobile/component/script/category_nav" /}
{include file="admin/mobile/component/script/custom_text" /}
{include file="admin/mobile/component/script/weixin" /}
{include file="admin/mobile/component/script/member" /}
{include file="admin/mobile/component/script/category" /}
{include file="admin/mobile/component/script/app_list" /}
