{include file="admin/mobile/component/view/announce" /}
{include file="admin/mobile/component/view/search" /}
{include file="admin/mobile/component/view/single_img" /}
{include file="admin/mobile/component/view/slideshow" /}
{include file="admin/mobile/component/view/category_nav" /}
{include file="admin/mobile/component/view/custom_text" /}
{include file="admin/mobile/component/view/weixin" /}
{include file="admin/mobile/component/view/member" /}
{include file="admin/mobile/component/view/category" /}
{include file="admin/mobile/component/view/app_list" /}
