{include file="admin/mobile/component/view/announce" /}
{include file="admin/mobile/component/view/article_list" /}
{include file="admin/mobile/component/view/search" /}
{include file="admin/mobile/component/view/single_img" /}
{include file="admin/mobile/component/view/slideshow" /}
{include file="admin/mobile/component/view/category_nav" /}
{include file="admin/mobile/component/view/custom_text" /}
{include file="admin/mobile/component/view/column_list" /}
{include file="admin/mobile/component/view/knowledge_list" /}
{include file="admin/mobile/component/view/teacher_list" /}
{include file="admin/mobile/component/view/weixin" /}
{include file="admin/mobile/component/view/member" /}
{include file="admin/mobile/component/view/scoreshop_goods_list" /}
{include file="admin/mobile/component/view/live_list" /}
{include file="admin/mobile/component/view/miniprogram_live_list" /}
{include file="admin/mobile/component/view/category" /}
{include file="admin/mobile/component/view/minishop_goods_list" /}
{include file="admin/mobile/component/view/offline_list" /}
{include file="admin/mobile/component/view/activity_list" /}
{include file="admin/mobile/component/view/material_list" /}
{include file="admin/mobile/component/view/exam_paper_list" /}
{include file="admin/mobile/component/view/forum_list" /}