{extend name="../../common/view/main"/}
{block name="style"}
<link href="__STATIC__/articles/pc/css/main.min.css" rel="stylesheet">
<style>
    body {
        background-color: #fff;
    }
</style>
{/block}
{block name="body"}
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="common_block_border">
                {include file="pc/common/_category"/}
                    <div class="common_content_box">
                        <section id="contents">
                            {notempty name="lists"}
                            {volist name="lists.data" id="v"}
                                
                            {/volist}
                            {else/}
                                <div style="font-size:1em;padding:2em 0;color: #ccc;text-align: center">
                                    该类型下没有内容~
                                </div>
                            {/notempty}
                        </section>
                        <div class="text-right">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="right_block">
                    <div class="right_block_item">
                        <div class="right_block_title">
                            <h3>最新更新</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
<script>

</script>
{/block}
